{% extends 'baseUser.html.twig' %}
{% block top_title %} TYPES D’UTILISATEURS | CRÉATION D'UN TYPE D'UTILISATEUR | ÉTAPE 1 : IDENTITÉ {% endblock %}
{% block body %}
    <div class="row mr-2">
        <div class="col-12">
            <button class="btn btn-primary float-right p-2">Supprimer le type d'utilisateur</button>
        </div>
    </div>
    {{ form_start(form,{'enctype':"multipart/form-data"}) }}
        <div class="row create-formation pr-4 pl-4">
            <div class="row user-type">
                <div class="stepper-img text-center"><img src="{{ asset('images/icons/step1.png') }}"></div>
                <br>
                <label class="text-uppercase text-center sens-def ">
                    <span>INFORMATIONS SUR LE TYPE D'UTILISATEUR</span>
                </label>
            <br>

                <div class="col-6">
                    <div class="form-group green-border-focus col-10">
                        <label for="exampleFormControlTextarea5 text-uppercase">NAME
                        </label>
                            {{ form_widget(form.name, {'attr':{'class':"form-control green-border-focus col-12"}}) }}
                    </div>
                    <div class="form-group green-border-focus col-10">
                        <label for="exampleFormControlTextarea5 text-uppercase">DESCRIPTION
                        </label>
                            {{ form_widget(form.description, {'attr':{'class':"form-control green-border-focus col-12", 'rows':'5'}}) }}
                    </div>
                    <br>
                    <div class="bloc block-2 col-12">
                        {{ form_widget(form.type, {'attr':{'placeholder':'NATURE','class':"form-control bloc block-2 col-9"}})}}
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 text-center">
                            <span class="title"> ICÔNE</span>
                        <div class="btn-group switch-btn">
                            <div class="btn-toggle">
                                <button class="btn first-btn active">Sélectionner</button>
                                <button class="btn second-btn">Télécharger</button>
                            </div>
                        </div>
                            <div class="create-user-type box" id="second">
                                {{ form_widget(form.icon,{'attr':{'class':"user-type box"}}) }}
                                <img class="box" src="{{ asset('images/icons/images-step.png')}}">
                            </div>
                        <div class="text-center">
                            <input type="text" class="form-control" name="image">
                            <button class="btn btn-primary small">Envoyer</button>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <span class="title">SÉLECTIONNER LA COULEUR DE L'ICÔNE</span>
                        <div class="btn-group switch-btn">
                            <div class="btn-toggle">
                                <button class="btn monthly-btn">Couleur</button>
                                <button class="btn annual-btn active">Dégradé</button>
                            </div>
                        </div>
                        <div class="form-group custom-radios col-md-6 form-group col-md-8 ml-0 pl-0 pt-3">
                            <div>
                                <input type="radio" id="color-1" name="color1" value="#2196F3" checked>
                                {{ form_widget(form.color,{'attr':{'class':"custom-radios"}}) }}
                                <div class="check"></div>
                            </div>
                            <div>
                                <input type="radio" id="color-2" name="color2" value="#870000">
                                <div class="check"></div>
                            </div>
                            <div>
                                <input type="radio" id="color-3" name="color3" value="#ffc500">
                                <div class="check"></div>
                            </div>
                            <div>
                                <input type="radio" id="color-4" name="color4" value="#71B280">
                                <div class="check"></div>
                            </div>
                            <div>
                                <input type="radio" id="color-5" name="color5" value="#DE6262">
                                <div class="check"></div>
                            </div>
                            <div>
                                <input type="radio" id="color-6" name="color6" value="#614385">
                                <div class="check"></div>
                            </div>
                            <div>
                                <input type="radio" id="color-7" name="color7" value="#f857a6">
                                <div class="check"></div>
                            </div>
                            <div>
                                <input type="radio" id="color-8" name="color8" value="#1F1C2C">
                                <div class="check"></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <br>
                    <div class="next-step-btn pr-4">
                        <button type="submit" class="btn btn-primary">Enregistrer</button><img src="{{ asset('images/icons/next.png') }}">
                    </div>
                </div>

            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}