{% extends 'baseStudent.html.twig' %}
{% block top_title %} Dashboard {% endblock %}
{% block body %}
    <div class="row row pr-0 mr-0">
	    <div class="col-3">
	        <div class="full-card shadow py-2">
	            <div class="mb-4">
	            	<div class="card-body">
	            		<div class="row">
	            			<div class="col-6">
		            			<div class="canvas-holder" >
								    <canvas id="canvas" width="100" height="100"></canvas>
								        <div id="canvas-data"></div>
								    </div>
								    <span>Note moyenne</span>
								</div>
	            			<div class="col-6">
		            			<div class="canvas-holder" >
							    <canvas id="canvas2" width="100" height="100"></canvas>
							        <div id="canvas-data2"></div>
							    </div>
							</div>
	            		</div> 
	            		<div class="row">
	            			<div class="col-6">
		            			<div class="canvas-holder" >
								    <canvas id="canvas3" width="100" height="100"></canvas>
								        <div id="canvas-data3"></div>
								    </div>
								</div>
	            			<div class="col-6">
		            			<div class="canvas-holder" >
								    <canvas id="canvas4" width="100" height="100"></canvas>
								        <div id="canvas-data4"></div>
								    </div>
								</div>
							</div>
	            		</div> 
	            	</div> 
	            </div>
	        </div>
	    </div>
    <br>
    <input type="hidden" id="TimeCount" value="">
    <div class="wrap">
        <div id="timer" class="timer">
        </div>
    </div>
	<script>
        var canvas = document.getElementById('canvas');
        canvas.addEventListener('circleProgressBar.afterDraw', function (e) {
            var span = document.getElementById('canvas-data');
            span.innerText = (e.detail.self.getValue() * 100).toFixed(0);
        }, false);
        canvas.addEventListener('circleProgressBar.afterFrameDraw', function (e) {
            var span = document.getElementById('canvas-data');
            var currentValue = (e.detail.self.getValue() * e.detail.progress * 100).toFixed(0);
            var currentSpanValue = span.innerText;
            if (currentSpanValue != currentValue) {
                span.innerText = currentValue;
            }
        }, false);
        var rainbowColors = ['#3f2d87', '#aa2b87', '#d22228', '#d22228', '#d22228'];
        var colors = ['#d22228', '#aa2b87', '#3f2d87'];
        var circleProgressBar = new CircleProgressBar(canvas, {colors: colors,trackLineColor:'#3f2d8766'});
        circleProgressBar.setValue(0.9);

       /** cercel 2 **/
        var canvas2 = document.getElementById('canvas2');

        canvas2.addEventListener('circleProgressBar.afterDraw', function (e) {
            var span = document.getElementById('canvas-data2');
            span.innerText = (e.detail.self.getValue() * 100).toFixed(0);
        }, false);
        canvas2.addEventListener('circleProgressBar.afterFrameDraw', function (e) {
            var span = document.getElementById('canvas-data2');
            var currentValue = (e.detail.self.getValue() * e.detail.progress * 100).toFixed(0);
            var currentSpanValue = span.innerText;
            if (currentSpanValue != currentValue) {
                span.innerText = currentValue;
            }
        }, false);;
        var rainbowColors = ['#3f2d87', '#aa2b87', '#d22228', '#d22228', '#d22228'];
        var colors2 = ['#37c37c', '#36d0c9', '#379cd8'];
        var circleProgressBar2 = new CircleProgressBar(canvas2, {colors: colors2, trackLineColor:'#37a7d573'});
        circleProgressBar2.setValue(0.8);

        /** cercel 3 **/
        var canvas3 = document.getElementById('canvas3');

        canvas3.addEventListener('circleProgressBar.afterDraw', function (e) {
            var span = document.getElementById('canvas-data3');
            span.innerText = (e.detail.self.getValue() * 100).toFixed(0);
        }, false);
        canvas3.addEventListener('circleProgressBar.afterFrameDraw', function (e) {
            var span = document.getElementById('canvas-data3');
            var currentValue = (e.detail.self.getValue() * e.detail.progress * 100).toFixed(0);
            var currentSpanValue = span.innerText;
            if (currentSpanValue != currentValue) {
                span.innerText = currentValue;
            }
        }, false);;
        var rainbowColors = ['#3f2d87', '#aa2b87', '#d22228', '#d22228', '#d22228'];
        var colors3 = ['#e28a1c', '#f1bf51', '#ef853a'];
        var circleProgressBar3 = new CircleProgressBar(canvas3, {colors: colors3, trackLineColor:'#ecad3f66'});
        circleProgressBar3.setValue(0.8);
        /** cercel 4 **/

        var canvas4 = document.getElementById('canvas4');

        canvas4.addEventListener('circleProgressBar.afterDraw', function (e) {
            var span = document.getElementById('canvas-data4');
            span.innerText = (e.detail.self.getValue() * 100).toFixed(0);
        }, false);
        canvas4.addEventListener('circleProgressBar.afterFrameDraw', function (e) {
            var span = document.getElementById('canvas-data4');
            var currentValue = (e.detail.self.getValue() * e.detail.progress * 100).toFixed(0);
            var currentSpanValue = span.innerText;
            if (currentSpanValue != currentValue) {
                span.innerText = currentValue;
            }
        }, false);;
        var circleProgressBar4 = new CircleProgressBar(canvas4, {colors: colors, trackLineColor:'#3f2d8766'});
        circleProgressBar4.setValue(0.5);
    </script>

{% endblock %}