{% extends 'baseStudent.html.twig' %}
{% block top_title %}  Formations {% endblock %}
{% block body %}
<div class="container-fluid text-gray-700 formation-student">
    <div class="row mb-2 pr-0 mr-0 ">
        <div class="col-xl-9 col-md-9 mb-4 h-100">
            <div class="row pr-0 mr-0">
                <div class="search col-md-4">
                    <img src="{{ asset('images/icons/search.png') }}">
                </div>
                <div class="col-md-8 text-right filter-choice pr-4">
                    <select class="text-uppercase select2 " id="status">
                        <option>Status</option>
                        <option>Non Commencé</option>
                        <option>En cours</option>
                        <option>Terminé</option>
                        <option>Favoris</option>
                    </select>
                    <select class="text-uppercase select2" id="categories">
                        <option>Catégorie</option>
                    </select>
                    <a href="#" class="pl-2 pr-2" id="list-formations"><img src="{{ asset('images/icons/active-list.png') }}" data-nonactiveimage="{{ asset('images/icons/formations.png') }}"  data-activeimage="{{ asset('images/icons/active-list.png') }}" height="35px;"></a>

                    <a href="#" id="tab-formations"><img src="{{ asset('images/icons/tab-gary.png') }}" data-activeimage="{{ asset('images/icons/tab.png') }}" data-nonactiveimage="{{ asset('images/icons/tab-gary.png') }}"></a>
                </div>
            </div>
            <div class="row pr-0 mr-0">
                <div class="col-xl-12 col-md-12 mb-4 h-100">
                    <div class="row formation-stat">
                        <div class="full-card shadow pl-0 pr-0 text-center">
                            <h3> 0</h3>
                            <h6> Formations en cours</h6>
                        </div>
                        <div class="full-card shadow pl-0 pr-0 text-center">
                            <h3> 0</h3>
                            <h6> Formations terminés</h6>
                        </div>
                       <div class="full-card shadow pl-0 pr-0 text-center">
                            <h3> 0h</h3>
                            <h6>Passée sur la plateforme</h6>
                        </div>
                       <div class="full-card shadow pl-0 pr-0 text-center">
                            <h3> 0</h3>
                            <h6> certificats</h6>
                        </div>
                       <div class="full-card shadow pl-0 pr-0 text-center">
                            <h3> 0</h3>
                            <h6> Badges</h6>
                        </div>
                    </div>
                    <div class="row mt-3 list-formations ">
                        <div class="col-3 mb-2">
                            <div class="card">
                                <i class="heart"></i>
                                <i class="trophy"><sup>4</sup></i>
                                <i class="custom-badge"><sup>5</sup></i>
                                <img class="card-img-top" src="http://lorempixel.com/400/200/" alt="Card image cap">
                                <img class="finish-bg" src="{{ asset('images/icons/bg-finish-form.png') }}">
                                <div class="card-body">
                                    <h5 class="card-title">  <img class="pr-1" src="{{ asset('images/icons/form1.png') }}" width="25px"><a href="{{ path('show_formation', {'id':'1'})}}">Nom du cour</a></h5>
                                    <div class="progress-outer">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-value"><span>100</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-3 mb-2">
                            <div class="card">
                                <i class="heart full-heart"></i>
                                <i class="trophy"><sup>4</sup></i>
                                <i class="custom-badge"><sup>5</sup></i>
                              <img class="card-img-top" src="http://lorempixel.com/400/200/" alt="Card image cap">
                              
                                <div class="card-body">
                                    <h5 class="card-title"> <img class="pr-1" src="{{ asset('images/icons/form1.png') }}" width="25px"> Nom du cour</h5>
                                     <div class="progress-outer">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-value"><span>60</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-3 mb-2">
                            <div class="card">
                                <i class="heart"></i>
                                <i class="trophy"><sup>4</sup></i>
                                <i class="custom-badge"><sup>5</sup></i>
                              <img class="card-img-top" src="http://lorempixel.com/400/200/" alt="Card image cap">
                              
                                <div class="card-body">
                                    <h5 class="card-title"> <img class="pr-1" src="{{ asset('images/icons/form2.png') }}" width="25px"> <a href="{{ path('show_formation', {'id':'1'})}}">Nom du cour</a></h5>
                                     <div class="progress-outer">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-value"><span>60</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-3 mb-2">
                            <div class="card">
                                <i class="heart full-heart"></i>
                                <i class="trophy"><sup>4</sup></i>
                                <i class="custom-badge"><sup>5</sup></i>
                              <img class="card-img-top" src="http://lorempixel.com/400/200/" alt="Card image cap">
                              
                                <div class="card-body">
                                    <h5 class="card-title"> <img class="pr-1" src="{{ asset('images/icons/form2.png') }}" width="25px"> <a href="{{ path('show_formation', {'id':'1'})}}">Nom du cour</a></h5>
                                     <div class="progress-outer">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-value"><span>60</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                        <div class="col-3 mb-2">
                            <div class="card">
                                <i class="heart"></i>
                                <i class="trophy"><sup>4</sup></i>
                                <i class="custom-badge"><sup>5</sup></i>
                              <img class="card-img-top" src="http://lorempixel.com/400/200/" alt="Card image cap">
                              
                                <div class="card-body">
                                    <h5 class="card-title"><img class="pr-1" src="{{ asset('images/icons/form3.png') }}" width="25px"> <a href="{{ path('show_formation', {'id':'1'})}}"> Nom du cour</a></h5>
                                     <div class="progress-outer">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-value"><span>60</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>     
                        <div class="col-3 mb-2">
                            <div class="card">
                                <i class="heart"></i>
                                <i class="fas fa-lock"></i>
                                <div  class="img-container"><img class="card-img-top" src="http://lorempixel.com/400/200/" alt="Card image cap"></div>
                                <div class="card-body">
                                    <h5 class="card-title"><img class="pr-1" src="{{ asset('images/icons/form4.png') }}" width="25px">  Nom du cour</h5>
                                     <div class="progress-outer">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-value"><span>0</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div class="row mt-3 tab-formations hidden">
                        <div class="full-card shadow p-0 m-0">
                            <div class="mb-4">
                                <div class="card-body card-body pl-0 pr-0">
                                    <div class="tbl-header">
                                        <div class="table-responsive">
                                            <table class="table" id="" width="100%" cellspacing="0">
                                                <thead>
                                                <tr>
                                                    <th width="5%"></th>
                                                    <th class="text-left" width="20%">Nom de cours</th>
                                                    <th class="text-left" width="20%"> Temps passé sur la formation</th>
                                                    <th class="text-left" width="10%"> Certificats</th>
                                                    <th class="text-left" width="10%">Badges</th>
                                                    <th width="10%">Dérniere connexion</th>
                                                     <th class="text-left" width="25%"> </th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tbl-content">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable1" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="5%">
                                                            <div class="img-status"><img src="{{ asset('images/icons/finish-stars.png') }}"></div>
                                                        </td>
                                                        <td class="text-left" width="20%">nom de cour</td>
                                                        <td class="text-left" width="20%"> 60 H</td>
                                                        <td class="text-left" width="10%"> 2/4</td>
                                                        <td class="text-left" width="10%">2/4</td>
                                                        <td class="text-left date-passed" width="10%">03 Jul- 2019</td>
                                                        <td class="td-actions text-right" width="25%">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <div class="progress-outer">
                                                                        <div class="progress">
                                                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            <div class="progress-value"><span>100</span>%</div>
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                                <div class="col-4">
                                                                    <img src="{{ asset('images/icons/herat-color.png') }}" width="20px">
                                                                    <a href="{{ path('show_formation', {'id':'1'})}}" rel="tooltip" title="show formation" class="btn btn-vu btn-link btn-sm"> <i class="fas fa-eye"></i> </a>
                                                                </div>  
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="5%">
                                                            <div class="img-status"><img src="{{ asset('images/icons/finish-stars.png') }}"></div>
                                                        </td>
                                                        <td class="text-left" width="20%">nom de cour</td>
                                                        <td class="text-left" width="20%"> 60 H</td>
                                                        <td class="text-left" width="10%"> 2/4</td>
                                                        <td class="text-left" width="10%">2/4</td>
                                                        <td class="text-left date-passed" width="10%">03 Jul- 2019</td>
                                                        <td class="td-actions text-right" width="25%">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <div class="progress-outer">
                                                                        <div class="progress">
                                                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            <div class="progress-value"><span>100</span>%</div>
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                                <div class="col-4">
                                                                    <img src="{{ asset('images/icons/herat-color.png') }}" width="20px">
                                                                    <a href="{{ path('show_formation', {'id':'1'})}}" rel="tooltip" title="show formation" class="btn btn-vu btn-link btn-sm"> <i class="fas fa-eye"></i> </a>
                                                                </div>  
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="5%">
                                                            <div class="img-status"> </div>
                                                        </td>
                                                        <td class="text-left" width="20%">nom de cour</td>
                                                        <td class="text-left" width="20%"> 60 H</td>
                                                        <td class="text-left" width="10%"> 2/4</td>
                                                        <td class="text-left" width="10%">2/4</td>
                                                        <td class="text-left date-passed" width="10%">03 Jul- 2019</td>
                                                        <td class="td-actions text-right" width="25%">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <div class="progress-outer">
                                                                        <div class="progress">
                                                                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            <div class="progress-value"><span>40</span>%</div>
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                                <div class="col-4">
                                                                    <img src="{{ asset('images/icons/herat-color.png') }}" width="20px">
                                                                    <a href="{{ path('show_formation', {'id':'1'})}}" rel="tooltip" title="show formation" class="btn btn-vu btn-link btn-sm"> <i class="fas fa-eye"></i> </a>
                                                                </div>  
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="5%">
                                                            <div class="img-status"> <img src="{{ asset('images/icons/lock.png') }}"></div>
                                                        </td>
                                                        <td class="text-left" width="20%">nom de cour</td>
                                                        <td class="text-left" width="20%"> 60 H</td>
                                                        <td class="text-left" width="10%"> 2/4</td>
                                                        <td class="text-left" width="10%">2/4</td>
                                                        <td class="text-left date-passed" width="10%">03 Jul- 2019</td>
                                                        <td class="td-actions text-right" width="25%">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <div class="progress-outer">
                                                                        <div class="progress">
                                                                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            <div class="progress-value"><span>0</span>%</div>
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                                <div class="col-4">
                                                                    <img src="{{ asset('images/icons/herat-color.png') }}" width="20px">
                                                                    <a href="{{ path('show_formation', {'id':'1'})}}" rel="tooltip" title="show formation" class="btn btn-vu btn-link btn-sm"> <i class="fas fa-eye"></i> </a>
                                                                </div>  
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 mb-4">
            <div class="full-card shadow py-2">
                <h5 class="text-uppercase  text-center pt-4">Mon planing </h5>
                <div class="my-planing mb-4 mt-4 row ">
                    <span class="planing-date col-2 text-center">19 Avril</span>
                    <div class="col-10">
                        <img class="icon-categorie" src="{{ asset('images/icons/form2.png') }}">
                        <span>Géographie</span>
                    </div>
                   
                </div>
                <div class="my-planing mb-4 row">
                    <span class="planing-date col-2 text-center">20 Avril</span>
                    <div class="col-10">
                        <img class="icon-categorie" src="{{ asset('images/icons/form2.png') }}">
                        <span>Géographie</span>
                    </div>
                </div>
                <div class="my-planing mb-4 row">
                    <span class="planing-date col-2 text-center">21 Avril</span>
                    <div class="col-10">
                        <img class="icon-categorie" src="{{ asset('images/icons/form3.png') }}">
                        <span>Mathématiques</span>
                    </div> 
                </div>
                <div class="my-planing mb-4 row">
                    <span class="planing-date col-2 text-center">22 Avril</span>
                    <div class="col-10">
                        <img class="icon-categorie" src="{{ asset('images/icons/form1.png') }}">
                        <span>Sciences</span>
                    </div>  
                </div>
                <div class="my-planing mb-4 row">
                    <span class="planing-date col-2 text-center">23 Avril</span>
                    <div class="col-10">
                        <img class="icon-categorie" src="{{ asset('images/icons/form4.png') }}">
                        <span>Histoir</span>
                    </div>
                </div>
                <div class="my-planing mb-4 row">
                    <span class="planing-date col-2 text-center">24 Avril</span>
                    <div class="col-10">
                        <img class="icon-categorie" src="{{ asset('images/icons/form4.png') }}">
                        <span>Histoir</span>
                    </div> 
                </div>
                <div class="my-planing mb-4 row">
                    <span class="planing-date col-2 text-center">25 Avril</span>
                    <div class="col-10">
                        <img class="icon-categorie" src="{{ asset('images/icons/form4.png') }}">
                        <span>Histoir</span>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}