{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('user_profile') }}">Profil</a> | Panier {% endblock %}
{% block body %}
    <div class="container-fluid panier-page">
        <div class="top-page text-center mb-5 mt-5">
            <h2 class="gray-title mb-5">Finaliser votre achat</h2>
        </div>
        <div class="row row pr-0 mr-0">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="full-card shadow py-2 text-center">
                    <div class="row card-body">
                        <div class="col-xl-3">
                            <div class="card text-center">
                                <div class="title">
                                    <i class="fa fa-paper-plane" ></i>
                                    <h2>Nom du produit</h2>
                                </div>
                                <div class="price">
                                    <h4><sup>$</sup>50</h4>
                                </div>
                                <div class="option">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cave putes quicquam esse verius</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="top-text text-gray-700 text-uppercase">
                                <h3>Total: <span>50$</span></h3>
                                <h2>Mode de paiement enregistrés</h2>
                            </div>
                            <div class="mode-pay">
                                <ul>
                                    <li>
                                        <div class="custom-control custom-radio custom-control-inline small pb-0 mt-3">
                                            <input type="radio" class="custom-control-input" id="check1" name="reglage">
                                            <label class="custom-control-label" for="check1">
                                                Paypal
                                            </label>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="custom-control custom-radio custom-control-inline small pb-0 mt-3">
                                            <input type="radio" class="custom-control-input" id="check2" name="reglage">
                                            <label class="custom-control-label" for="check2">
                                                Nom Prenom xxxx
                                            </label>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="custom-control custom-radio custom-control-inline small pb-0 mt-3">
                                            <input type="radio" class="custom-control-input" id="check3" name="reglage">
                                            <label class="custom-control-label" for="check3">
                                                Nom Prenom xxxx
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                                <div class="new_mode mt-4">
                                    <span>Nouveau mode de paiement</span>
                                    <div class="row  mt-4">
                                        <div class="col-xl-3 offset-xl-3">
                                            <div class="full-card text-center h-100 ">
                                                <img src="{{ asset('images/icons/PayPal-logo.png')}}">
                                            </div>
                                        </div>
                                        <div class="col-xl-3">
                                            <div class="full-card text-center h-100 ">
                                                <i class="carte-icon"></i>
                                                CARTE
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-primary mt-4" href="">Payer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}