{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('user_profile') }}">Profil</a> | Mes données Personnelles {% endblock %}
{% block body %}
    <div class="container-fluid panier-page text-gray-700">
        <div class="row row pr-0 mr-0">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="full-card shadow py-2 text-center">
                    <div class="row card-body">
                        <div class="col-xl-12">
                            <div class="text-left">
                               <h3> Accéder à mes données</h3>
                                <p class="text-gray-700">A tous moment, vous avez le droit de récupérer les données que vous avez fournies sur notre site. Cliquez sur l'un des 2 boutons ci-dessous pour télécharger automatiquement une coupie de vos données personnelles dans un fichier pdf ou csv.</p>
                                <a href="" class="btn btn-primary btn-lg">Télécharger en CSV</a>
                                 <a href="" class="btn btn-primary btn-lg">Télécharger e PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row pr-0 mr-0">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="full-card shadow py-2 text-center">
                    <div class="row card-body">
                        <div class="col-xl-12">
                            <div class="text-left ">
                                <h3> Requêtes de rectifications et d'effacement</h3>
                                 <p class="text-gray-700">VVous avez le droit de modiﬁer toutes les informations personnelles ﬁgurant sur votre proﬁl. Pour toute demande d'information ou d'aide concernant vos données personnelles, veuillez utiliser notre Formulaire de contact. Nous vous répondrons au plus vite.</p>
                                 <p class="text-gray-700">Si vous souhaitez anonymiser votre compte, cliquez simplement sur le bouton “Supprimer mon compte”</p>
                            </div>
                        </div>
                        <div class="important row">
                            <div class="col-xl-1">
                              <img src="{{ asset('images/icons/exclamation.png') }}">
                            </div>
                            <div class="col-xl-11">
                                <h3 class="text-left text-uppercase"> IMPORTANT : Cette opération est irréversible</h3>
                                <ul >
                                    <li>- Tous les éventuels badges, niveaux, points ou autres informations seront perdus déﬁnitivement.</li>
                                    <li>- Vos données personnelles ne seront plus visibles ni exploitables sur notre site.</li>
                                    <li>- Les données ﬁscales concernant vos commandes (coordonnées, modes de paiement, produits achetés...) seront   conservées pendant la période légale de 10 ans. Pendant cette période, vous ne pourrez pas vous enregistrer de nouveau  avec la même adresse e-mail.</li>
                                    <li>- Ces données ne seront plus accessibles des tiers, hormis le responsable du GDPR au sein de l'entreprise et les services   ﬁscaux ou comptables.</li>
                                    <li>- Vous ne pouvez pas supprimer ce compte avant la ﬁn du délai de rétractation.</li>
                                    <li>- Dans le cas de garanties légales liées à vos achats sur le site, il est préférable de contacter notre Service client avant de   supprimer vos données.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 offset-xl-4 pb-5">
                            <a href="" class="btn btn-primary btn-lg" data-href="{{ path('delete_user',{'id':app.user.id}) }}" data-toggle="modal" data-target="#confirm-delete">Supprimer mon compte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal confirm-delete -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer votre compte !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer votre compte ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <a href="#" class="btn btn-primary btn-ok">Oui</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal confirm-delete -->
{% endblock %}