{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('user_profile') }}">Profil</a> | Préférences {% endblock %}
{% block body %}
    <div class="container-fluid panier-page">
        <div class="top-page text-center mb-5 mt-5">
            <h2 class="gray-title mb-5">Finaliser votre achat</h2>
        </div>
        {#<form method="post" action="{{ path('student_preferences')}}" id="pref">#}
        {{ form_start(form) }}
        <div class="row row pr-0 mr-0 text-gray-800">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-4 border-right-gray">
               <h2 class="mb-4">Activer les notifications pas mails</h2>
                {% for m in form.mail_config %}
                <div class="custom-control custom-checkbox small pb-3">
                    {{ form_widget(m) }}
                    {{ form_label(m)}}
                   {# <label class="custom-control-label">Pour les nouveaux messages </label>#}
                </div>
                {% endfor %}
                {#<div class="custom-control custom-checkbox small pb-3">
                    <label class="custom-control-label" for="preferences_mail_config_1">Pour les notiﬁcations sur la plateforme
                    </label>
                </div>
                <div class="custom-control custom-checkbox small pb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck3" name="mail_conf" value="3">
                    <label class="custom-control-label" for="customCheck3">Pour les réponses à mes messages sur le forum
                    </label>
                </div>
                <div class="custom-control custom-checkbox small pb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="mail_conf" value="4">
                    <label class="custom-control-label" for="customCheck4">Pour mon planning de révisions
                    </label>
                </div>
                <div class="custom-control custom-checkbox small pb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck5" name="mail_conf" value="5">
                    <label class="custom-control-label" for="customCheck5">A l'ajout de live
                    </label>
                </div>
                <div class="custom-control custom-checkbox small pb-3 pb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck6" name="mail_conf" value="6">
                    <label class="custom-control-label" for="customCheck6">A l'ajout de rendez-vous
                    </label>
                </div>#}
            </div>
            <div class="col-xl-6 col-md-6 mb-4">
                <h2 class="mb-4">Réglages des vidéos de cours</h2>
                {% for v in form.video_config %}
                    <div class="custom-control custom-radio custom-control-inline small mb-2">
                        {{ form_widget(v) }}
                        {{ form_label(v)}}
{#
                        <label class="custom-control-label pt-0" for="check1">Lors de la prise de note arrêter automatiquement la vidéo jusqu'à taper sur la barre espace et la touche L du clavier en simultanée .</label>
#}
                    </div>
                {% endfor %}

                {#<div class="custom-control custom-radio custom-control-inline small mb-2">
                    <input type="radio" class="custom-control-input"  id="check2" value="2" name="vid_conf">
                    <label class="custom-control-label  pt-0" for="check2">Lors de la prise de note arrêter automatiquement la vidéo puis reprendre après 3 secondes d'inactivité
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline small mb-2">
                    <input type="radio" class="custom-control-input"  id="check3" value="3" name="vid_conf">
                    <label class="custom-control-label  pt-0" for="check3">Lors de la prise de note arrêter automatiquement la vidéo et reprendre apres 6 secondes d'inactivité
                    </label>
                </div>#}
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg text-uppercase float-right">Enregistrer</button>
        {{ form_end(form) }}
        {#</form>#}
    </div>
{% endblock %}