{% extends 'baseStudent.html.twig' %}
{% block top_title %}  <a href="{{path('student_formations')}}">Formations</a> | cap aepe {% endblock %}
{% block body %}
<div class="container-fluid text-gray-700 formation-student">
    <div class="row mb-2 pr-0 mr-0 ">
        <div class="col-xl-9 col-md-9 mb-4 h-100">
            <div class="row pr-0 mr-0">
                <div class="col-xl-12 col-md-12 mb-4 h-100">
                    <div class="row formation-image">
                        <div class="col-4 form-name"><h3 class="text-uppercase">cap aepe</h3></div>
                        <div class="col-4 "><img src="{{ asset('images/default-image.png') }}" width="250px"></div>
                        <div class="col-4 next"> <img src="{{ asset('images/icons/btn-next.png') }}"></div>
                    </div>
                    <div class="row mt-3 details-formations">
                        <div class="col-12 shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                              <h6 class="m-0 text-gray-700">MATIÉRES GÉNÉRALES</h6>
                              <img src="{{ asset('images/icons/herat-color.png') }}">
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample" style="">
                                <div class="card-body pl-0 pr-0">
                                    <ul class="events">
                                        <li>
                                            <div class="row">
                                                <div class="col-6"></div>
                                                <div class="col-md-2 text-uppercase text-center"><small>avencement</small></div>
                                                  <div class="col-md-2 text-uppercase text-center"><small>temps passé sur</small></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="{{ path('show_module', {'id':'1'})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5>HISTOIRE - GÉOGRAPHIE</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>  
                                                <div class="col-md-2">
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                            <div class="progress-value"><span>100</span>%</div>
                                                        </div>
                                                    </div>
                                                </div>   
                                                <div class="col-md-2 passed-time">0 h 20</div>  
                                                 <div class="col-md-2 text-right p-0"><img src="{{ asset('images/icons/empty-heart-gray.png') }}" width="30px"></div>
                                            </div>
                                        </li>
                                        <li> 
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="{{ path('show_module', {'id':'1'})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5>MATHÉMATIQUES</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>  
                                                <div class="col-md-2">
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                            <div class="progress-value"><span>40</span>%</div>
                                                        </div>
                                                    </div>
                                                </div>   
                                                <div class="col-md-2 passed-time">10 h 20</div>  
                                                 <div class="col-md-2 text-right p-0"><img src="{{ asset('images/icons/herat-color.png') }}" width="30px"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="{{ path('show_module', {'id':'1'})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5>SCIENCES PHYSIQUES</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>  
                                                <div class="col-md-2">
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                            <div class="progress-value"><span>60</span>%</div>
                                                        </div>
                                                    </div>
                                                </div>   
                                                <div class="col-md-2 passed-time">12 h 20</div>  
                                                 <div class="col-md-2 text-right p-0"><img src="{{ asset('images/icons/herat-color.png') }}" width="30px"></div>
                                            </div>
                                        </li>
                                        <li> 
                                             <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="{{ path('show_module', {'id':'1'})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5>FRANÇAIS</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>  
                                                <div class="col-md-2">
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                            <div class="progress-value"><span>40</span>%</div>
                                                        </div>
                                                    </div>
                                                </div>   
                                                <div class="col-md-2 passed-time">12 h 20</div>  
                                                 <div class="col-md-2 text-right p-0"><img src="{{ asset('images/icons/empty-heart-gray.png') }}" width="30px"></div>
                                            </div>
                                        </li>
                                    </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 mb-4">
            <div class="full-card shadow py-2 show-formation">
                <h5 class="text-uppercase  text-center pt-4">Formations</h5>
               <ul class="">
                <li> <span>Cap AEPE </span><a href=""><img src="{{ asset('images/icons/arrow-left.png') }}"></a></li> 
                <li> <span>Tutoriel Kiwi</span> <a href=""><img src="{{ asset('images/icons/arrow-left.png') }}"></a></li>  
                <li> <span>Mise à niveau Jan 2020 </span><a href=""><img src="{{ asset('images/icons/arrow-left.png') }}"></a></li>    
                </ul>
            </div>
        </div>  
    </div>
     <div class="row mb-2 pr-0 mr-0 ">
        <div class="col-xl-9 col-md-9 mb-4 h-100 "></div>
        <div class="col-3">
            <div class="full-card text-center h-100 separed-element">
                <img src="{{ asset('images/icons/note.png') }}">
                <span class="text-uppercase">Notes</span>
            </div>
        </div>
</div>
{% endblock %}