{% extends 'baseAdmin.html.twig' %}
 {% block top_title %} bibliothèque de contenus {% endblock %}
{% block body %}
    <div id="wrapper" class="update-imageInfo">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
        	 
        </div> <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row row pr-0 mr-0 mb-5 library-content listfolder"> 
					<!--Carousel Wrapper-->
					<div id="multi-item-example" class="carousel carousel-multi-item text-gray-600 small-content mt-2">
						<!--Controls-->
						<div class="controls-top">
					    	<a class="btn-floating controle-left" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
					    	<a class="btn-floating controle-right" href="#multi-item-example" data-slide="next"><i
					        class="fas fa-chevron-right"></i></a>
					  	</div>
					  	<!--/.Controls-->
					  <!--Slides-->
					  	<div class="carousel-inner" role="listbox" id="carousel-folder">
						    {% for key,tab in folders %}
						    <div class="carousel-item {% if key == 0 %} active {% endif %}" >
								{% for folder in tab %}
						        <div class="full-card h-100 shadow py-2 text-center ml-2" data-id="{{ folder.id }}">
						            <div class="card-body p-0">
						                <div class="row no-gutters align-items-center list-btn-note ">
						                	<div class="current-folder">
						                		<div class="align-content-center">
						                            <img src="{{ asset('images/icons/open-folder-xs.png') }}" width="45px"> 
						                        </div>
						                        <div class="formation-name text-uppercase ">{{ folder.name }} <span class="nb-doc">({{folder.getDocuments()|length}})</span></div>
						                    </div>
						                	<div class="pr-2 folder-actions">
						                		<div class="top-text text-right">
						                            <a href="" data-id="{{folder.id }}" data-path="{{path('delete_folder_doc')}}" id="delete-folder-doc"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
						                            <a href="" data-toggle="modal" data-target="#update-folder" data-name="{{folder.name }}" data-id="{{folder.id }}" id="update-name"><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>
						                            <a href=""><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
							    {% endfor %}
						    </div>
						{% endfor %}
			  			</div>
			  			<!--/.Slides-->
					</div>
					<!--/.Carousel Wrapper-->  
				</div>
		
				<div class="row row pr-0 mr-0 mb-5 row-action">
					<div class="col-md-2 text-left pr-4 pt-2">
						<div class="custom-control custom-checkbox small">
		                    <input type="checkbox" class="custom-control-input" id="checkAll">
		                    <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
		                    <div class="btn-action">
	                            <button type="button" class="btn btn-download btn-link btn-sm" id="delete-all-file" data-path="{{ path('delete_files')}}">
	                                <img src="{{ asset('images/icons/drash.png') }}" class="ml-2 mt-2">
	                            </button>
		                    </div>
		                </div>
	            	</div>
	            	 <div class="col-md-8 pr-4 filter-choice">
	            	 	<div class="filter ">
	            	 		<select class="select-filter">
	            	 			<option>Type de fichier</option>
	            	 			<option>Image</option>
	            	 			<option>Audio</option>
	            	 			<option>Vidéo</option>
	            	 			<option>Document</option>
	            	 			<option>Excel</option>
	            	 			<option>PDF</option>
	            	 			<option>Scorm</option>
	            	 			<option>Aicc</option>
	            	 			<option>Tin Can X PAI</option>
	            	 		</select>
	            	 	</div>
	            	 	<div class="filter">
							<select class="select-filter">
	            	 			<option>Filtre par date</option>
								<option>Plus récent</option>
								<option>plus ancien</option>
								<option>Période précise </option>
								<option>Avnat le</option>
								<option>Après le</option>
								<option>Récemment modifie</option>
							</select>
	            	 	</div>
						 <div class="filter">
							 <select class="select-filter">
								 <option>Présent Dans: Cap aepe > Matière dénérales ></option>
							 </select>
						 </div>
	            	 </div>
	                <div class="col-md-2 text-right action-links">
			            <a href="" data-toggle="modal" data-target="#add-voicenote" id="new-voicenote"><img src="{{ asset('images/icons/search.png') }}"> </a>
			            <a href="" id="add-file"><img src="{{ asset('images/icons/upload-img.png') }}"> </a>
			            <a href="#" data-href="" data-toggle="modal" data-target="#add-folder" id="new-folder"><img src="{{ asset('images/icons/addfolder.png') }}"> </a>
			        </div>
				</div>
			   <div class="row row pr-0 mr-0 mt-5 cutsom-dropzone hidden">
			    	<div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('ajax_snippet_image_send')}}">
			    		<div class="dz-default dz-message">
			    			<span>Glisser-déposer vos fichiers  ici </span> 
			    			<span>ou </span>
			    			<button class="btn btn-primary"> Sélectionner des fichiers </button>
			    		</div>
			        </div>
			    </div>
			    <div class="row row pr-0 mr-0 mt-5 mr-4" id="file-view">
			     	{% for media in userMedia %}
					 {% set extention = media.name|split('.')|last %}
			     		<div class="full-card mb-2 mr-3 main" id="media-{{media.id}}" data-id="{{media.id}}" data-date-upload="{{media.createdAt|date("d M Y")}}" data-extension="{{ media.name|split('.')|last }}" data-size-file="{{media.size}}" data-name="{{ media.name}}" data-title="{{media.title}}" data-alternatif-text="{{ media.alternatifText}}" data-description="{{ media.description}}">
				          	{% if extention == 'pdf' %}
							  	<img class="card-img-top" src="/images/pdf.png" width="120">
							{% elseif extention == 'docx' %}
							  	<img class="card-img-top" src="/images/word.png" width="120">
							{% elseif extention == 'wav' %}
							  	<img class="card-img-top" src="/images/audio.png" width="120">
							{% else %}
								<img class="card-img-top" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}" width="120" height="120">
							{% endif %}

							<div class="custom-control custom-checkbox small">
			                    <input type="checkbox" class="custom-control-input check-element" id="Check_{{ media.id }}" name="file-check" value="{{ media.id }}">
			                    <label class="custom-control-label" for="Check_{{ media.id }}"></label>
			                </div>

				            <div class="top-text text-right">
				            	<p id="p{{media.id}}" class="hidden">{{ app.request.getSchemeAndHttpHost() }}/images/uploads/{{app.user.id}}/documents/{{media.name}}</p>

			                    <a href="#menu-toggle" class="update-fileName menu-toggle" data-id="{{media.id}}" ><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>

			                    <a href="" onclick="copyToClipboard('#p{{media.id}}')"class="copie-link" data-value=""><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>
			                    
			                    <a href="" class="delete-image" data-id="{{media.id}}" data-path="{{path('delete_image')}}"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
			                </div>
				          <div class="card-body sub">
				            <h6 class="card-title">{{media.name}}</h6>
				            <p class="card-text">Ajouté le : {{media.createdAt|date("d/m/Y")}}</p>
				          </div>
				        </div>
					{% endfor %}        
			    </div>
            </div>
        </div> <!-- /#page-content-wrapper -->
    </div> <!-- /#wrapper -->

     <!-- modal create folder document -->
    <div class="modal fade" id="add-folder" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">A Ajouter un dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                	<label>Titre</label>
                    <input type="text" class="form-control" id="folder_name" placeholder="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add-folder-doc" data-path="{{path('add_folder_document')}}">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal create folder document -->

    <!-- modal update folder note -->
    <div class="modal fade" id="update-folder" tabindex="-1" role="dialog" aria-labelledby="update-folder" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">Renommer un  dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                	<label>Titre</label>
                    <input type="text" class="form-control" id="folder_name" placeholder="" value="">
                    <input type="hidden" id="idfolder">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="update-folderDoc" data-path="{{path('update_folder_doc')}}">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal update folder note -->

     <!-- modal update folder note -->
    <div class="modal fade" id="affect-file-folder" tabindex="-1" role="dialog" aria-labelledby="affect-file-folder" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">affacter l'umage à un  dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                	<label>Dossier</label>
                	<div class="custom-dropdown" id="dropdown-folder">
					  <label class="dropdown-label">Ajouter au(x) dossier(s)</label>
					  
					  <div class="dropdown-list">
					    {% for folder in allfolders %}
					    <div class="checkbox custom-control custom-checkbox small">
					      <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom_{{ folder.id }}" />
					      <label for="checkbox-custom_{{ folder.id }}" class="custom-control-label" data-id="{{folder.id}}"> {{ folder.name }}</label>
					    </div>
					      {% endfor %}
					  </div>

					</div>
                    <input type="hidden" id="media-ids" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="affect-filetofolder" data-path="{{path('update_folder_doc')}}">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal update folder note -->
{% endblock %}
