{% for media in userMedia %}
	{% set extention = media.name|split('.')|last %}
	<div class="full-card mb-2 mr-3 main" id="media-{{media.id}}" data-id="{{media.id}}" data-date-upload="{{media.createdAt|date("d M Y")}}" data-extension="{{ media.name|split('.')|last }}" data-size-file="{{media.size}}" data-name="{{ media.name}}" data-title="{{media.title}}" data-alternatif-text="{{ media.alternatifText}}" data-description="{{ media.description}}">
		{% if extention == 'pdf' %}
		  	<img class="card-img-top" src="/images/pdf.png" width="120">
		{% elseif extention == 'docx' %}
		  	<img class="card-img-top" src="/images/word.png" width="120">
		{% elseif extention == 'wav' %}
			<img class="card-img-top" src="/images/audio.png" width="120">
		{% else %}
			<img class="card-img-top" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}" width="120" height="120">
		{% endif %}

		<div class="custom-control custom-checkbox small">
			<input type="checkbox" class="custom-control-input check-element" id="Check_{{ media.id }}" name="file-check" value="{{ media.id }}">
			<label class="custom-control-label" for="Check_{{ media.id }}"></label>
		</div>

		<div class="top-text text-right">
			<p id="p{{media.id}}" class="hidden">{{ app.request.getSchemeAndHttpHost() }}/images/uploads/{{app.user.id}}/documents/{{media.name}}</p>

			<a href="#menu-toggle" class="update-fileName menu-toggle" data-id="{{media.id}}" ><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>

			<a href="" onclick="copyToClipboard('#p{{media.id}}')"class="copie-link" data-value=""><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>
			
			<a href="" class="delete-image" data-id="{{media.id}}" data-path="{{path('delete_image')}}"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
		</div>
		<div class="card-body sub">
		<h6 class="card-title">{{media.name}}</h6>
		<p class="card-text">Ajouté le : {{media.createdAt|date("d/m/Y")}}</p>
		</div>
	</div>
{% endfor %}          