{% extends 'baseAdmin.html.twig' %}
{% block top_title %} Bonjour {{ app.user.username ~ ' ' ~ app.user.lastname }}  {% endblock %}
{% block body %}
    <div class="row row pr-0 mr-0">
	   <div class="a-section octopus-pc-category-card-v2-content">
        <ul class="a-unordered-list a-nostyle a-horizontal a-spacing-none">
            <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/e-learning.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">E-Learning</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                              <a class="link-normal" href="{{ path('admin_dashboard')}}">Dashboard</a>
                              <a class="link-normal" href="">Réglages</a>
                              <a class="link-normal" href="{{ path('home_formation') }}">Formations</a>
                              <a class="link-normal" href="">Récompenses</a>
                              <a class="link-normal" href="{{ path('content_library') }}">Bibliothéque de contenus</a>
                              <a class="link-normal" href="{{ path('type_user') }}">Utilisateurs</a>
                              <a class="link-normal" href="{{ path('user_profile') }}">Profil</a>
                              <a class="link-normal" href="">Statistiques</a>
                              <a class="link-normal" href="">Plannings</a>
                              <a class="link-normal" href="">Messagerie</a>
                              <a class="link-normal" href="">Forums</a>
                          </div>
                        </div>
                    </span>
                </li>
          </span>
          <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/sit-blog.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Site et Blog</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Eveil</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Fiction</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Jeux, arts et création</span>
                                </div>
                              </a> 
                          </div>
                        </div>
                    </span>
                </li>
          </span>
        <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/boutique.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Boutique</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Eveil</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Fiction</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Jeux, arts et création</span>
                                </div>
                              </a> 
                          </div>
                        </div>
                    </span>
                </li>
          </span>
          
          <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/aide.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Aide</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Eveil</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Fiction</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Jeux, arts et création</span>
                                </div>
                              </a> 
                          </div>
                        </div>
                    </span>
                </li>
          </span>
          <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/social_network.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Réseau social</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Eveil</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Fiction</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Jeux, arts et création</span>
                                </div>
                              </a> 
                          </div>
                        </div>
                    </span>
                </li>
          </span>
          <span class="a-declarative">
                <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                    <span class="a-list-item">
                        <div class="a-section octopus-pc-category-card-v2-item-block">
                          <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                            <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">  
                              <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                    <img  alt="e-learning" src="{{ asset('images/emailing.png') }}" class="octopus-pc-category-card-v2-image" height="130px" width="130px">
                            </div> 
                            <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                              <span class="a-size-medium a-color-base a-text-bold">Webinaires et Mailing</span>
                            </div>
                          </a>
                          <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Eveil</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Fiction</span>
                                </div>
                              </a>
                              <a class="a-link-normal octopus-pc-category-card-v2-subcategory-link">
                                <div class="a-section octopus-pc-category-card-v2-subcategory-title">
                                  <span class="a-size-base a-color-base">Jeux, arts et création</span>
                                </div>
                              </a> 
                          </div>
                        </div>
                    </span>
                </li>
          </span> 
        </ul>
    </div>
</div>
{% endblock %}