
#tree {
    width: 100%;
    height: 100%;
}


.blocgloab {
    display: inline-block;
    width: 41%;
    margin: 15px 5px 15px 0px;
    text-align: center;
    background-color: #E6332A;
    user-select: none;
    color: #fff;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    padding: 0px 5px;
}

div#list-module {
    text-align: left;
}






[node-id^='itemdat-'] rect {
    fill: #a3195b;
}

[node-id='itemdat-2'] rect {
    fill: #a3195b;
}

[node-id='itemdat-3'] rect {
    fill: #a3195b;
}
[node-id='itemdat-4'] rect {
    fill: #a3195b;
}
[node-id='itemdat-5'] rect {
    fill: #a3195b;
}
[node-id='itemdat-6'] rect {
    fill: #a3195b;
}
[node-id='itemdat-7'] rect {
    fill: #a3195b;
}
[node-id='itemdat-8'] rect {
    fill: #a3195b;
}
[node-id='itemdat-9'] rect {
    fill: #a3195b;
}
[node-id='itemdat-10'] rect {
     fill: #a3195b;
 }
[node-id='itemdat-11'] rect {
    fill: #a3195b;
}
[node-id='itemdat-12'] rect {
    fill: #a3195b;
}
[node-id='itemdat-13'] rect {
    fill: #a3195b;
}
[node-id='itemdat-14'] rect {
    fill: #a3195b;
}
[node-id='itemdat-15'] rect {
    fill: #a3195b;
}
[node-id='itemcour1'] rect {
    fill: #d60b52;
}

[node-id='itemcour2'] rect {
    fill: #d60b52;
}

[node-id='itemcour3'] rect {
    fill: #d60b52;
}
[node-id='itemcour4'] rect {
    fill: #d60b52;
}
[node-id='itemcour5'] rect {
    fill: #d60b52;
}
[node-id='itemcour6'] rect {
    fill: #d60b52;
}
[node-id='itemcour7'] rect {
    fill: #d60b52;
}
[node-id='itemcour8'] rect {
    fill: #d60b52;
}
[node-id='itemcour9'] rect {
    fill: #d60b52;
}
[node-id='itemcour10'] rect {
    fill: #d60b52;
}
[node-id='itemcour11'] rect {
    fill: #d60b52;
}
[node-id='itemcour12'] rect {
    fill: #d60b52;
}
[node-id='itemcour13'] rect {
    fill: #d60b52;
}
[node-id='itemcour14'] rect {
    fill: #d60b52;
}
[node-id='itemcour15'] rect {
    fill: #d60b52;
}
[node-id='itemcour16'] rect {
    fill: #d60b52;
}
[node-id='1'] rect {
    fill: #951b81;
}
[node-id^='itemcour'] rect {
    fill: #d60b52;
}
[node-id ^='itemshap-'] rect {
    fill: #e71d73;
}

input#nbrepoint {
    width: 11%;
    display: flex;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
}

.customlabelconfigstud {
    display: flex;

    align-items: center;
}
div#formationaborsance ul {
    list-style: none;
}

div#formationaborsance .module {
    background: #A3195B;

    color: #fff;
    border-radius: 10px;

}
div#formationaborsance .module span {


    display: block;
    text-align: center;
}
div#formationaborsance .cours {
    background: #D60B52;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 10.5rem;
    width: 100%;
    padding-left: 10px;
}




div#formationaborsance ul.nopadd {
    padding-left: 0px;

}

div#formationaborsance .modules {
    max-width: 326px;
    width:100%;
    display:flex;
    align-items:center;

    height: 50px;
    box-shadow: 2.5px 2px 2.5px 0 rgba(0, 0, 0, 0.09);
    background-color: #a3195b;

    border-radius: 24px;
    margin-bottom: 16px;
    justify-content: center;
}


div#formationaborsance .chapitre {
    background:#E71D73;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    max-width: 10.5rem;
    width: 100%;
}

div#formationaborsance span {
    text-align: center;
    display: block;
    color: #fff;
}

#formationaborsance img {
    max-width: 11px;
}

div#formationaborsance .quiz {
    padding-left: 10px;
    background: #F39200;
}

.borderright {
    border-right: 1px solid #e6e6e6;
    margin-top: -1.5rem;
}

.borderright h2 {
    letter-spacing: 0.1px;
    margin-top: 22px;
    text-align: center;
    margin-bottom: 22px;
    font-family: 'Nunito', sans-serif;
    font-size: 25.9px;
}

img.transoformpicture {
    transform: rotate(180deg);
}
button.btn.btn-primary.small.widthbtnstepcenter {
    max-width: 129px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.customlabelconfigstud {
    margin-bottom: 15px;
}
.rightbtn {
    float: right;
    margin: 15px auto;
    /* padding: 3px; */
    /* max-width: 327px; */
    display: block;
    max-width: 111px;
    width: 100%;
}


div#buttonpublier .btn-2 {
    background: #95C11F;
    border: none;

    border-radius: 10px;
    display: block;
    max-width: 160px;
    width: 100%;
    float: right;
    color: #fff;
    font-size: 21.54px;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    height: 45px;


}

input#dateacces {
    max-width: 19% !important;
    width: 100%;
    border: none;
    border-radius: 39;
    width: 100%;
    display: flex;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
}
.customlabelconfigstud .dropdown-select {
    position: relative !important;
    width: 25% !important;
    margin-right: 9px !important;
}

.custom-checkbox .dropdown-select .dropdown-label {
    text-align: left;
    display: flex;
    padding-left: 15px;
}


.borderright .input-group {
    width: 61%;
}
.emoji span {
    cursor: pointer;
}

.customlabelconfigstud > .custom-control-label {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.custom-checkbox .dropdown-select .dropdown-label {
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}
.customlabelconfigstud {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    color:#676767;
}
.titleconfigformation {
    font-family: 'Nunito', sans-serif;
    color:#676767;
    font-size:21px;
}

.titleconfigformation1 {
    font-size: 11.85px;
    font-weight: 300;
}
button.btn.btn-primary.small.rightbtn {
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight:200;
}

div#formationaborsance span {
    font-family: 'Nunito', sans-serif;
    font-size:21px;
}
button.btn.btn-primary.small.widthbtnstepcenter {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.boxchaiptrea {
    background-color: #F6F6F6;
    padding: 15px 10px;
    border-radius: 5px;
}
ul#sortable2 {
    min-height: 50px;
}

div#blocstepchpa  #sortable1 li {
    display: block;
    float:none;
    magin:0 auto;
    margin: 0 auto;
    text-align: center;
    color: #878787;
    border: 1px solid #C6C6C6;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: -1px 0px 1px #c6c6c6;
}

.blocstepchpa > #sortable1 img {
    display: none;
}

.boxchaiptrea ul#sortable2 li {

    display: flex;
    width: 46%;

    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%) !important;
    padding-left: 12px;
    flex-direction: column;
    border-radius: 12px;
    padding-left: 0px;
    padding-right: 15px;
    margin-right: 4%;
    margin-bottom: 15px;
}

.boxchaiptrea ul#sortable2 {
    list-style: none;
    display: flex;

    flex-wrap: wrap;
}

.boxchaiptrea #sortable2 .img {

    text-align: right;
}

.boxchaiptrea ul#sortable2 span {
    display: flex;
    width: 100%;
    align-items: center;
    color: #ffff;
    text-align: center;
    justify-content: center;
}
div#blocstepchpa #sortable1 img {
    display: none;
}
.margtop30{
    margin:15px 0px;
}
ul#composition li {
    display: block;
    float:none;
    magin:0 auto;
    margin: 0 auto;
    text-align: center;
    color: #878787;
    border: 1px solid #C6C6C6;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: -1px 0px 1px #c6c6c6;
}

ul#collapsegalerietext li {
    display: block;
    float:none;
    magin:0 auto;
    margin: 0 auto;
    text-align: center;
    color: #878787;
    border: 1px solid #C6C6C6;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: -1px 0px 1px #c6c6c6;
}

ul#collapsecompmodeltext li {
    display: block;
    float:none;
    magin:0 auto;
    margin: 0 auto;
    text-align: center;
    color: #878787;
    border: 1px solid #C6C6C6;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: -1px 0px 1px #c6c6c6;
}

#noboxshdow a[data-toggle="collapse"] {
    box-shadow: none !important;
}
#noboxshdow a[data-toggle="collapse"] {
    box-shadow: none !important;
    padding-left:0px;
}

#noboxshdow h6 {
    font-size: 20px;
    font-weight: 200;
    color:#676767;
    font-family: 'Nunito', sans-serif;
}

div#blocstepchpa #sortable1 li span {
    color:#676767;
    font-family: 'Nunito', sans-serif;
    font-size:16px;
    font-weight:300;
}

button.btn.monthly-btn.active .normaltabsimage,.normaltabsimageactive {
    display: none;
}

div#customchaiptrea .annual-btn {
    background: #EDEDED;
    border-radius:0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

div#customchaiptrea  .switch-btn {
    background-image: none;
}


div#customchaiptrea  .btn-group.switch-btn.d-inline-block {
    margin: 0 auto 15px;
    text-align: center;
    display: block !important;
    max-width: 350px;
}

div#customchaiptrea  .switch-btn .btn-toggle button.active {
    border-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

div#customchaiptrea  .switch-btn .btn-toggle {
    background: transparent;
}

div#customchaiptrea  button.btn.monthly-btn {
    background: #ededed;
    border-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

img.normaltabsimage {
    display: none;
}

div#customchaiptrea button.btn.annual-btn.active {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

div#customchaiptrea button.btn.annual-btn.active img.hoverimgtabsnotactive {
    display: none;
}

div#customchaiptrea button.btn.annual-btn.active img.normaltabsimageactive {
    display: block;
    text-align: center;
    margin: 0 auto;
}

div#customchaiptrea  img.hoverimgtabs {
    display: none;
}

div#customchaiptrea img.normaltabsimage {
    display: block;
    text-align: center;
    margin: 0 auto;
}

div#customchaiptrea button.btn.monthly-btn.active img.hoverimgtabs {
    display:block;
    text-align: center;
    margin: 0 auto;
}

div#customchaiptrea .switch-btn .btn-toggle button.active .normaltabsimage {
    display: none;
}
.boxchaiptrea2 {
    background-color: #F6F6F6;
    padding: 15px 10px;
    margin-top: 30px;
}

.borderchapt {
    border: 1px dashed #898989;
    min-height: 80px;
    border-radius: 6px;
}

.paddcote {
    padding: 0px 44px;
    margin-top: 15px;
}
.bloimg {
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.bloimg img {
    margin-right: 15px;
}



div#noboxshdow .btn-group.switch-btn {
    max-width: 209px !important;
    width: 100%;
    display: block !important;
    margin:15px auto;
}

div#noboxshdow  .switch-btn .btn-toggle {
    min-width: auto;
}
.boxchaiptrea .img8 img {
    max-width: 26px;
    width: 100%;
}
.boxchaiptrea2 .img8 img {
    max-width: 26px;
    width: 100%;
}
.boxchaiptrea .img8 {
    padding-top:30px;
    padding-bottom:30px;
}
.boxchaiptrea2 .img8 {
    padding-top:30px;
    padding-bottom:30px;
}
.boxchaiptrea ul#sortable2 span {
    margin-top: -8px;
    padding-bottom: 6px;
}

div#tab a {
    border-radius: 50px;
    background: #fff;
    width: 49%;
    padding: 10px;
}

div#tab {
    border-radius: 50px;
    padding: 1px;
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%);
    background: #ff;
}

div#tab .btn-toggle80 {
    background: #fff;
    padding: 3px;
    border-radius: 50px;
    /* max-width: 403px; */
    /* width: 100%; */
}

div#tab {
    max-width: 230px;
    width: 100%;
    display: block;
    margin: 15px auto;
}

div#tab  .active {
    color: #fff;
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%) !important;
    border: none;
}
div#tab  .focus {
    color: #fff;
    background-image: linear-gradient(90deg, #3f2d87 10%, #aa2b87 50%, #d51317 100%) !important;
    border: none;
}
div#tab a {
    color: #676767;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}


.input-group.date.form_date {
    background: #ffff;
    position: relative;
    border: 1px solid #d6c8c8;
    border-radius: 15px;
}

.input-group.date.form_date input {
    background: #fff;
    border: none;
}

span.glyphicon.glyphicon-calendar:before {
    position: absolute;
    right: 0px;
    top: 21px;
    padding-right: 1.725rem;
    content: "";
    background-image: url(../images/icons/arrow_gray.png);
    height: 25px;
    transform: translateY(-30%) rotate(1800deg);
    background-repeat: no-repeat;
    z-index: 0 !important;
}
div#buttonpublier .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}



div#buttonpublier.postabsolute {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 5px;
}

div#configchapitrestep1 p {
    color: #676767;
    font-size: 21.86px;
    font-family: 'Nunito', sans-serif;
}

.inputforms {
    display: flex;
}

#configchapitrestep1 .form-control {
    display: inline-block;
}

#configchapitrestep1  .form-control {
    height: 30px !important;
    max-width: 55px;
    width: 100%;
    padding: 0px;
    text-align: center;
    margin-right: 5px;
}
.postabsot {

    position: absolute;
    display: inline-block;
    width: 23% !important;
}

div#configchapitrestep1 label, .custom-control {
    color: #676767;
    font-size: 21.86px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

div#configchapitrestep1 label.dropdown-label.text-uppercase {
    font-size: 11px;
}

div#configchapitrestep1 .checkbox label input {
    width: 120px;
}

.inputforms input {
    color: #676767 !important;
    font-size: 21.86px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.inputforms {
    color: #676767 !important;
    font-size: 21.86px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.dropdown-select.open .dropdown-list {
    z-index: 99999 !important;
}

.custom-checkbox .dropdown-select.open .checkbox {
    z-index: 9999999 !important;
}

div#configchapitrestep1 p {
    /* z-index: -4; */
}

.custom-checkbox .dropdown-select {
    z-index: 999;
    /* width: 250px; */
}



div#configchapitrestep1 .right-check.open label.custom-control-label {
    font-size: 10px !important;
}

div#configchapitrestep1 .custom-checkbox .dropdown-select {
    width: 20%;
}
.create-formation a.btn.btn-primary {
    float:right;
    margin: 15px auto;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    max-width: 108px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
}
.up {
    border: none;
}



.upload input[type='file'] {
    appearance: initial;
    opacity: 0;
    /* width: 100%; */
    /* height: 100%; */
    position: absolute;
}
.upload .choosen span {
    display: block;
}

.formUp {width: 100%;margin-bottom: 20px;/* position: relative; */}

.formUp p {
    text-align: center;


    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}



.upload input[type='submit'] {
    border-color: #fff;
    background-size: 100% 50%;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #3f2d87, #aa2b87, #d22228 );
    float: right;
    margin: 15px auto;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    max-width: 108px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
}

.upload input[type='submit']:hover {
    color: #F37272;
    background-color: palegreen;
}

.upload input[type='submit'] {
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.upload input[type='submit']:hover {
    color: red;

}

.button {
    border: none;
    background: none;
}

.customdevoir{
    color:#666666;
    font-size: 27px;
    font-family: 'Nunito', sans-serif;
}
ul.choosen {
    list-style:none;
}
ul.liststylenon {
    list-style: none;
}

div#configchaiptrequiz [data-tooltip] {
    position: absolute;
    top: 7px;
}
div#configchaiptrequiz label, div#configchaiptrequiz .custom-control {font-size: 21.86px;font-weight: 300;
    letter-spacing: 1.09px;text-align: left;color: #676767;font-family: 'Nunito', sans-serif;line-height: 1.3em;}


#configchaiptrequiz .validation {
    display: inline-block;
    position: absolute;

}
#configchaiptrequiz .card-header:first-child {
    line-height: 1.2;
    letter-spacing: 0.65px;
    text-align: left;
    color: #666666;
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: 2.5px 2px 2.5px 0 rgba(0, 0, 0, 0.09);
    border: solid 0.5px #cccccc;
    background-color: #ffffff;
    padding: 4px;
}

#configchaiptrequiz h6{
    font-size:13px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

#configchaiptrequiz .details-formations a[data-toggle=collapse]::after {
    background-image: url(../images/icons/formation/53.png);
    background-repeat: no-repeat;
    top: 50%;
    right: 0;

}

#configchaiptrequiz  ul.events {
    background: #ffff;
}
input#secindice {
    width: 8%;
    display: inline-block;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
    height: 41.5px !important;
}

div#buttonpublier .btn-2 {
    max-width: 160px;
    height: 44px;
    border-radius: 6.4px;
    border: solid 0.5px #f2f2f2;
    background-color: #95c11f;
    align-items: center;
 line-height: 45px;
}

.modules .img {

    display: none;
}

div#formationaborsance .img {
    display: none;
}

div#formationaborsance .cours {
    max-width: 326px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    border-radius: 24px;

}

div#formationaborsance .chapitre,div#formationaborsance .quiz {
    max-width: 326px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    border-radius: 24px;
}

img#addrow,#addrowfedd {
    margin: 0 auto;
    text-align: center;
    display: block;
}

input#demo0 {
    width: 20%;
    display: inline-block;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
}


[id*="demo_"]
{
    width: 20%;
    display: inline-block;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
}
.blocinput {
    margin-top: 15px;
}
div#customfildeback {
    display: flex;
}

input#entreone {
    width: 100%;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
    display: inline-block;
    max-width: 73px;
    height: 49px !important;
}
input#entreone1 {
    width: 100%;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
    display: inline-block;
    max-width: 73px;
    height: 49px !important;
}



input#pointfedd {
    width: 100%;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
    margin: 0 auto;
    max-width: 73px;
    height: 49px !important;
}

.inputfeddbackpart2 {
    margin-right: 5px;
}

textarea#feddbacktextera {
    border-radius: 18px;
    max-width: 216px;
    width: 100%;
    margin: 0 auto;
    height: 176px !important;
    display: block;
    border: 1px solid #d6c8c8
}
.inputfeddbackpart1 {
    color: #999;
}
input#notefedd {
    width: 100%;
    padding: 4px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d6c8c8;
    margin: 0 auto;
    max-width: 73px;

    height: 49px !important;
    display: block;
}

.inputfeddbackpart1 {
    width: 33%;
}

.inputfeddbackpart2 {
    width: 33%;
}

.inputfeddbackpart3 {
    width: 11%;
}

div#customfildeback p {
    justify-content: center;
    text-align: center;
}

.inputfeddbackpart4 {
    width: 10%;
}
.margauto{
    margin: 0 auto;
    text-align: center;
    display: block !important;
}

@media(min-width:1400px){
    #configchaiptrequiz .card-header:first-child {
        width: 110%;
    }
    #configchaiptrequiz .details-formations a[data-toggle=collapse]::after{
        top:40%;
    }
}


.absoultenergistre {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: 0px;
    width: 95%;
}
.boximagefile img {
    margin: 0 auto;
    text-align: center;
    display: block;
}
#step3formation{
    margin: 0 auto;
}

.btnnotess {
    float: right;
    max-width: 217px;
    width: 100%;
    /* display: flex; */
}

.btnnotess .btn {
    display: flex;
    justify-content: center;
    color: #fff !important;
    height: 34px;
    align-items: center;
    font-size: 16px;

}
.btnnotess {
    margin-top: 15px;
}

div#btnnote .imgcenter {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    max-width: 150px;
}
#four {
    width: 100%;
    height: 100%;
}
.editwidthdevoir1 {
    width: 70%;
}
.editwidthdevoir1  .img-top {
    width: 100%;
    text-align: center;
    display: flex;
}
.editwidthdevoir{
    width: 30%;
    float: initial !important;
    position: absolute !important;
    height: 100vh;
}

#four [node-id='1'] rect{
    fill:#951B81
}
#four [node-id='2'] rect{
    fill:#2E3192
}
#four [node-id='3'] rect{
    fill:#ED1C24
}
#four [node-id='4'] rect{
    fill:#2E3192
}
#four [node-id='5'] rect{
    fill:#ED1C24
}

#four [node-id='devoir-1'] rect{
    fill:#29ABE2;
}

.custombtndevoir {
    display: flex;
    max-width: 325px;
    width: 100%;
    margin: 0 auto 15px;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 21px;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    background:#A3195B;
    border-radius:10px;
}

.customSideright {

    position: relative;
}
#btnnote div#items {
    margin-bottom: 40px;
}
#tree [node-id='1'] g{
    display:none;
}
#four [node-id='1'] g{
    display:none;
}
div#btnnote h2 {
    text-align: center;
}

div#customcertificatstep6 .annual-btn {
    background: #EDEDED;
    border-radius:0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

div#customcertificatstep6  .switch-btn {
    background-image: none;
}


div#customcertificatstep6  .btn-group.switch-btn.d-inline-block {
    margin: 0 auto 15px;
    text-align: center;
    display: block !important;
    max-width: 350px;
}

div#customcertificatstep6  .switch-btn .btn-toggle button.active {
    border-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

div#customcertificatstep6  .switch-btn .btn-toggle {
    background: transparent;
}

div#customcertificatstep6  button.btn.monthly-btn {
    background: #ededed;
    border-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

div#customcertificatstep6   button.btn.annual-btn.active img.hoverimgtabsnotactive {
    display: none;
}

div#customcertificatstep6   button.btn.annual-btn.active img.normaltabsimageactive {
    display: block;
    text-align: center;
    margin: 0 auto;
}

div#customcertificatstep6  img.hoverimgtabs {
    display: none;
}

div#customcertificatstep6  img.normaltabsimage {
    display: block;
    text-align: center;
    margin: 0 auto;
}

div#customcertificatstep6   button.btn.monthly-btn.active img.hoverimgtabs {
    display:block;
    text-align: center;
    margin: 0 auto;
}

div#customcertificatstep6  .switch-btn .btn-toggle button.active .normaltabsimage {
    display: none;
}
div#customcertificatstep6 button.btn.annual-btn.active {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
img.edituplaodcertif {
    max-width: 42px;
    float: right;
    margin-right: 25px;
}

div#customcertificatstep6 .btn-group.switch-btn.d-inline-block {
    margin-bottom: 0px;
}
.bordertotalcertif {
    border: 2px solid #F6F6F6;
    border-radius:10px;
}
.item-initial,
.item-selected {cursor: move;}
.item-initial {

    max-width: 283px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    border: 1px solid #C6C6C6;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: -1px 3px 1px #c6c6c6;
    justify-content: center;
    height: 46px;
    justify-content: center;
    align-items: center;
    color: #8CC63F;
}
.item-selected {
    border-color: green;
}

.item-initial input{
    display:none;
}
#sortable-list span{
    display:none;
}
.ui-state-disabled {
    color:#C1272D;
    border: 1px solid #C1272D;
    box-shadow: -1px 3px 1px #c1272d5c;
}

ul#sortableleft {
    padding-left: 0px;
}

ul#sortableleft li {
    width: 46%;
    display: inline-block;
    background: #fff;
    box-shadow: -3px 0px 6px 1px #E3E3E3 !important;
    margin-bottom: 15px;
    margin-right: 8px;
    padding: 27px 0px;
    text-align: center;
    border-radius: 15px !important;
    float: left;

}

ul#sortableleft span {
    display: block;
    color:#8BC53F;
    font-size:13px;
}

ul#sortableleft li {
    height: 105px;
}

ul#sortableleft li.ui-state-default.ui-state-disabled.ui-sortable-handle span {
    color:#EC1C24;
}

#sortableleft .ui-state-disabled {
    border: none;
    box-shadow: none;
}

ul#sortableleft span {
    margin-top: 9px;
    font-family: 'Nunito', sans-serif;
}

ul#sortableleft {

    padding-right: 7px;
}

ul#sortableleft li.ui-state-default.ui-state-disabled.ui-sortable-handle span {
    font-size:13px !important;
    font-family: 'Nunito', sans-serif;
}

div#customcertificatstep6 .tabsbg {
    background: url(../images/step6/step6drag/bgtabs.png) !important;
    background-repeat: no-repeat;
    width: 99px;
    position: relative;
}
div#tab30 {
    margin-bottom: 30px;
}

div#tab30 a.btn.btn-default.active {
    position: absolute;
    left: 0 !important;
    top: 2px !important;
    left: 3px !important;
}

div#tab30 a.btn.btn-default8 {
    position: absolute;
    right: -83px;
    top: 10px;
}

div#tab30 .btn-togglepicture {
    position: relative;
}

div#tab30 a.btn.btn-default.active img.hoverimgtabs {
    display: block;
}

div#tab30 a.btn.btn-default.active  img.normaltabsimage {
    display:none;

}

div#customcertificatstep6 .tabsbg {
    height: 50px;
}

div#tab30 a.btn.btn-default {
    position: absolute;
    left: 0;
    top: 11px;
    left: 9px;
}


div#tab30 a.btn.btn-default8.focus img.hoverimgtabsnotactive {
    display: none;
}

div#tab30 a.btn.btn-default8.focus img.normaltabsimageactive {
    display: block;
}

div#tab30 a.btn.btn-default8.focus {
    right: -96px;
    top: 3px;
}
.col-item {

    border: 2px dashed #000;
}

ul.connectedSortable.ui-sortable {
    list-style: none;

}

.stepper-imgstep6 img {
    max-width: 149px;
    margin: 0 auto;
}

.stepper-imgstep6 {
    margin-top: 15px;
}

div#tab .btn-toggle80 {
    max-width: initial;
}

div#tab .btn-toggle80 a {
    display: inline;
}

ul#sortableleft li {
    width: 44%;
}

ul#sortableleft img {
    max-width: 36px;
}

.flexcener {
    display: block;
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.flexcener .customimagestep6  {
    max-width: 40px;
    margin-top: -30px;
}
div#editdrag {
    padding-left: 18px;
    padding-right: 10px;
}

.hauterimage {
    height: 41px;
}
#editdrag .connectedSortable .hauterimage {
    display: none;
}
#editdrag .connectedSortable .text{
    display: none;
}

#editdrag  ul.connectedSortable.ui-sortable {
    padding-left: 0px;
}

ul#sortableleft li input {
    display: none;
}
div#tab .btn-toggle80 a {
    display: inline-block;
    width: 32%;
}

div#tab {
    max-width: 271px;

}
@media(max-width:1400px){
    div#tab .btn-toggle80 a {
        display: inline-block;
        width: 30%;
        font-size: 11px;
    }
    div#tab {
        max-width: 180px;

    }

    ul#sortableleft li {
        height: 140px;
        padding: 26px 8px;
        /* overflow: hidden; */
        font-size: -24px;
    }

    ul#sortableleft span {
        font-size: 11px;
    }
}
#sortableleft textarea#nametextcertif{
    display: none;
}

#editdrag .form-control {
    z-index: 99;
}
textarea#nametextcertif{
    z-index: 999;
}

div#finallayout {
    padding: 0px 33px 0px 70px;
}
.classadd {
    background: #95C11F;
}

.nobutton {
    background: transparent !important;
    border: none;
}

.nobutton {
    background: transparent !important;
    border: none;
    padding: 0px;
}

.blocgloab .item {
    padding: 15px 0px;
}

.blocgloab input {
    border: none;
    display: block;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    width: 26px;
    height: 25px;
    color: #808080;
    float: right;
    margin-bottom: 15px;
}

.blocgloab input[type=number]::-webkit-inner-spin-button,
.blocgloab input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.closepopup{
    opacity: 1;
    padding: 0 !important;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    margin: -2rem -2rem -1rem auto;
}
.closepopup span {
    font-weight: normal;
    color: #fff;
    display: block;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-image: linear-gradient(90deg, #d22228 10%, #aa2b87 50%, #3f2d87 100% );
    padding: 3px;
    float: right;
}

.blocgloab {
    width: 48%;
    text-align: left;
    padding: 6px 5px;
}

button.nobutton.edit {
    float: right;
    padding-right: 5px;
}

.blocgloab .item {
    padding: 7px 30px 22px;
}

div#list-module {
    padding: 0px 12px 0px 0px;
}

.blocgloab input {
    position: absolute;
    bottom: -15px;
    right: 0;
}

.blocgloab .item {
    position: relative;
}

div#step3formation .btn-toggle {width: 100% !important;min-width: initial;max-width: 381px;}

@media(max-width:1800px){
    .blocgloab .item {
        padding: 20px 15px 30px;
    }
}


#step3formation {
    max-width: 350px;
    width: 100%;
}

div#collapseModule {
    padding: 0px 5px 0px;
}
@media(max-width:1650px){
    .blocgloab {
        width: 47%;

    }
    .blocgloab .item {
        padding: 20px 10px 30px;
    }
}
@media(max-width:1450px){
    .blocgloab .item {
        padding: 20px 7px 30px;
    }
    div#collapseModule, #list-cour {
        padding: 0px 3px 0px !important;
    }
}
@media(max-width:1400px){
    #collapseModule img, #collapseCour img ,#collapseCardExample img {
        max-width: 12px;
    }
    .blocgloab .item {
        padding: 9px 2px 30px;
    }
    .blocgloab {
        padding: 6px 2px;
    }
}
@media(max-width:1120px){
    .blocgloab {
        width: 46%;
    }

    .blocgloab .item {
        font-size: 15px;
        white-space: nowrap;
    }
    #collapseModule img,#collapseCour img,#collapseCardExample img{
        max-width:11px;
    }
}





@media(max-width:1000px){
    .step3drag .customSideleft .left-bloc span {
        margin-right: 0px;
        font-size: 13px;
    }
    .step3drag .customSideright a[data-toggle="collapse"] h6 {
        font-size: 13px;
        text-align: left;
        padding-left: 14px;
    }

    .step3drag .customSideright a[data-toggle="collapse"] {
        padding: 13px 0px !important;
        margin-right: 24px;
    }
}




@media(max-width:991px){
    .blocgloab {
        width: 100%;
        display: block;
        /* margin-right: 3px; */
    }
    div#list-module {
        padding: 0px 32px 0px 0px !important;
    }
    .customSideleft .switch-btn .btn-toggle .btn {
        font-size: 11px;
    }
}

.customSideleft .switch-btn .btn-toggle .btn {
    width: 100%;
}

#chaiptre .modal-content-dev ,#module .modal-content-dev , #courspopup .modal-content-dev{
    padding: 20px 20px;
}

#chaiptre .modal-header-dev,#module .modal-header-dev , #courspopup .modal-header-dev {
    padding: 0px;
}
#chaiptre .modal-title-dev, #module .modal-title-dev, #courspopup .modal-title-dev  {
    margin-bottom: 15px;
}


#module .form-control {
    border: 1px solid #d6c8c8;
}
.customdevoir {
    font-size: 17px;
}

.opacity0 {
    visibility: hidden;
    padding: 0px;
    height: 0;
}
input#formation_nodetype_formation {
    opacity: 0;
    visibility: hidden;
    padding: 0px;
}

.colorwhiter::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

.colorwhiter:-ms-input-placeholder {
    color: #fff;
}

.colorwhiter::-ms-input-placeholder {
    color: #fff;
}
input#formationconfig_enablehourbyday {
    border-radius: 15px;
    outline: none;
    width: 61px;
    border: 1px solid #ccc;
    text-align: center;
    height: 24px;
}

.checkbox.custom-control.custom-checkbox.small {
    font-size: 12px;
    color: #666;
    letter-spacing: 1px;
}

.dropdown-selectforum .dropdown-labelforum  {
    margin: 0;
    padding: 5px;
}


div#formdrown {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
    position: absolute;
    background: #fff;
    width: 24%;
}

.dropdown-forum.text-uppercase {
    padding: 5px 20px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 223px;
    overflow-y: auto;
    background: #fff;
    display: none;
    z-index: 10;
}

.dropdown-selectforum.open {
    border-radius: 15px;
}
.dropdown-selectforum.open .dropdown-forum{
    top: inherit;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    padding: 10px 25px;
    position: initial;
    border: none;
    display: block;
}
#affect-file-folder .custom-dropdown .dropdown-labelforum:before, .sidebar-dropdown .dropdown-labelforum:before {
    content: url(../images/icons/arrow_gray.png);
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    transition: transform 0.25s;
    transform-origin: center center;
    /* z-index: 9999; */
}

#affect-file-folder .custom-dropdown.open .dropdown-labelforum:before, .sidebar-dropdown.open .dropdown-labelforum:before {
    transform: translateY(-50%) rotate(-180deg);
    top: 10%;
    right: 13px;
}
.dropdown-selectforum.open .dropdown-forum {
    padding: 0;
}
.dropdown-selectforum.open .dropdown-forum  label {
    padding:0px;
    z-index: 99999;
}

.dropdown-selectforum.open  .checkbox.custom-control.custom-checkbox.small {
    margin-top: 5px;
}
div#list-cour {
    margin-right: 15px;
}

ul#list-quiz {
    padding-left: 0px;
    text-align: left;
}
div#formationstep1 .title {
    font-size: 15px;
}
div#formationstep1 label {
    font-size: 15px;
}
@media(max-width:1400px){
    .nopaddlg {
        padding: 0 0px 0px 23px;
        margin-right: 0px;
    }
    .custom-control-label {
        padding-right: 0px;
        padding-left: 5px;
    }
    div#formationstep1 label {
        font-size: 14px;
    }
    div#formationstep1 .title {
        font-size: 13px;
    }

    #formationstep1 .param-note .tow-elment {
        display: block;
    }
    .nopaddlg .color1 {
        margin: 0px;
    }

    .nopaddlg .color2 {
        margin: 0px;
    }

    .nopaddlg .color3 {
        margin: 0px;
    }
    .nopaddlg .color1,.nopaddlg  .color2,.nopaddlg  .color3 {
        width: 13px;
        height: 13px;
    }


    .param-note .tow-elment {
        display: block;
    }
}

div#getsensbase img {
    filter: none;
    -webkit-transition: none;
}


select#formation_confignote_formation {
    color: #676767;
    background: #fafafa;
}
div#formationstep1 #formdrown {
    display: block;
    width: 86%;
}

div#formationstep1 .catalogue label {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-bottom: 15px;
}

div#formationstep1 .category label {
    padding-bottom: 15px;
    display: block;
    text-align: center;
}

div#formationstep1 .sidebar-dropdown label {
    text-align: left;
    padding-left: 13px;
    padding-bottom: 0px;
}

div#formationstep1 .checkbox.custom-control.custom-checkbox.small {
    padding-left: 0px;
}

div#formationstep1 .dropdown-list.text-uppercase.catalogue-list {
    padding: 0px 5px;
}

#btnstep1 button.btn.btn-primary {
    max-width: 182px;
    width: 100%;

}

#btnstep1{
    max-width: 280px;
    width: 100%;
    justify-content: flex-end;
}
@media(min-width:1400px){
    div#formationstep1 #formdrown {
        width: 94%;
    }
}

@media(max-width: 1400px){
    #btnstep1 button.btn.btn-primary {
        max-width: 107px;
        width: 100%;
    }
}
#formationstep1 .box {
    display: block;
}
#library-modal-step1 .switch-btn .btn-toggle {
    min-width: auto;
}
#library-modal-step1  .switch-btn .btn-toggle .btn {
    line-height: 0.8rem;
    width: auto;
}
#library-modal-step1  .get-image .value-file {
    width: 60%;
    border-radius: 0;
    border: 2px dashed #ccc;
}
#library-modal-step1   .get-image .btn {
    position: absolute;
    border-radius: 5px !important;
    padding: 7px;
    right: -34%;
    z-index: 1;
}
#library-modal-step1  .btn-save-image {
    position: relative;
    width: 60%;
    text-align: right;
    margin-top: 20px;
}
#library-modal-step1  .btn-save-image #file {
    position: absolute;
    opacity: 0;
    z-index: 9;
}
#library-modal-step1  .card-img-top {
    -webkit-box-shadow: -5px 10px 32px -7px #aaa;
    -moz-box-shadow: -5px 10px 32px -7px rgba(204,12,1,1);
    box-shadow: -5px 10px 32px -7px #aaa;
    border: 1px solid #cccccc2e;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#library-modal-step1  .card-img-top.selected {
    box-shadow: none;
}
input#formationconfig_enable_hourbyday {
    display: inline-block;
    width: 19%;
    padding: 2px;
}
input#formationconfig_progress_enableinvit {
    width: 24%;
    display: inline-block;
    padding: 3px;
}
#tree [node-id^='itemdat-'] [data-edit-id^='itemdat-'] {
    display: none;
}
#tree [node-id^='itemcour-'] [data-edit-id^='itemcour-'] {
    display: none;
}
a#upload-global-image img {
    display: initial;
    max-width: 100%;
}
#advideo {
    opacity: 0;
}
a#upload-global-image {
    display: block;
}

div#moduleconfigitemdat #btnenvoyemodule {
    display:flex;
    align-item:center;
    align-items: center;
    justify-content: center;
}
div#moduleconfigitemdat .modal-content-dev
{
    padding-left:0px
}

div#moduleconfigitemdat .modal-header-dev {
    padding: 25px;
}

div#moduleconfigitemdat .modal-body {
    padding:15px 10px;
}

div#moduleconfigitemdat .modal-content-dev
{
    padding-left:0px
}

div#moduleconfigitemdat .modal-header-dev {
    padding: 25px;
}

div#moduleconfigitemdat .modal-body {
    padding:15px 10px;
}


div#moduleconfigitemdat a#upload-global-image img {
    text-align: center;
    margin: 0 auto;
    display: block;
}
input#score, input#access_input,#acces_days,#point_preq {
    width: 24%;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0px 5px;
}


#moduleconfigitemdat .input-group.date {
    width: 24%;
}