{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 7: INSCRIPTIONS | AJOUTER DES UTILISTATEURS{% endblock %}
{% block body %}
    <div class="add-users">
        <div class="row">
            <div class="offset-1 col-11">
        <div class="row" style="align-items: center;">
            <div class="col-5 pl-0">
            <div class="row">
                <div class="col-6 pr-2 pl-2 ml-2 pt-2">
                    <select class="select2 small-select" id="typeFC" style="display: block;">
                        <option class="text-uppercase">Affecter</option>
                        <option class="text-uppercase">Ajouter à une/des formation(s)</option>
                        <option class="text-uppercase">Ajouter à une/des classe(s)</option>
                    </select>
                </div>
            {#type class or formation#}
                <div class="col-4 pr-0 pl-0 ml-2 pt-2" id="formationS">
                        <div class="sidebar-dropdown dropdown-select right-check custom-dropdown">
                            <label class="dropdown-label text-uppercase" style="color: #676767">Sélectionner</label>
                            <div class="dropdown-list text-uppercase pl-2">

                                    <div class="checkbox custom-control custom-checkbox small" >
                                        <input type="checkbox" class="custom-control-input " id="customCheck_1">
                                        <label for="customCheck_1" class="custom-control-label text-uppercase" style="position: absolute" data-id="1"> Formation 1</label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input " id="customCheck_2">
                                    <label for="customCheck_2" class="custom-control-label text-uppercase" style="position: absolute" data-id="2"> Formation 2</label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input " id="customCheck_3">
                                    <label for="customCheck_3" class="custom-control-label text-uppercase" style="position: absolute" data-id="3"> Formation 3</label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input " id="customCheck_4">
                                    <label for="customCheck_4" class="custom-control-label text-uppercase" style="position: absolute" data-id="4"> Formation 4</label>
                                    </div>


                            </div>
                        </div>
                </div>
                <div class="col-4 pr-2 pl-2 ml-2 pt-2 hidden" id="classe">
                        <div class="sidebar-dropdown dropdown-select right-check custom-dropdown">
                            <label class="dropdown-label text-uppercase" style="color: #676767">SÉLECTIONNER</label>
                            <div class="dropdown-list text-uppercase pl-2">

                                <div class="checkbox custom-control custom-checkbox small" >
                                    <input type="checkbox" class="custom-control-input " id="customCheck_1">
                                    <label for="customCheck_1" class="custom-control-label text-uppercase" style="position: absolute" data-id="1"> Classe 1</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input " id="customCheck_2">
                                    <label for="customCheck_2" class="custom-control-label text-uppercase" style="position: absolute" data-id="2"> Classe 2</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input " id="customCheck_3">
                                    <label for="customCheck_3" class="custom-control-label text-uppercase" style="position: absolute" data-id="3"> Paris 19éme</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input " id="customCheck_4">
                                    <label for="customCheck_4" class="custom-control-label text-uppercase" style="position: absolute" data-id="4"> Nantes</label>
                                </div>


                            </div>
                        </div>
                </div>
            </div>
            </div>
            <div class="col-3" style="text-align: center">
                <img src="{{ asset('images/step/step7.png') }}">
                <span class="d-block n-user pt-4 text-uppercase">Nouveaux Utilisateurs</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pl-0">
            <div class="card-header pl-0 pt-5">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="checkAll">
                    <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                    <div class="btn-action version-3">
                        <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete" title="Supprimer les utilisateurs selectionnées" data-path="{{ path('delete_badges')}}">
                            <img src="/assets/images/icons/trash-small.png">
                        </button>
                    </div>
                </div>
            </div>
            </div>
        {{ form_start(form) }}
        <div class="row rounded-bloc box-arrow-users">
            <div class="col-2 pr-0 pl-0">
               <div class="box-arrow ">
                    <div class="text-uppercase n-users">
                        Nom
                    </div>
                   <div class="row">
                       <div class="form-group">
                               {{ form_widget(form.lastname, {'attr':{'class':'form-control'}}) }}
                      </div>
                   </div>
            </div>
            </div>
            <div class="col-2 pr-0 pl-0">
               <div class="box-arrow ">
                    <div class="text-uppercase n-users">
                        Prenom
                    </div>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(form.username, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
               </div>
            </div>
            <div class="col-2 pr-0 pl-0">
               <div class="box-arrow">
                    <div class="text-uppercase n-users">
                        Mail
                    </div>
                    <div class="row">
                        <div class="form-group">
                                {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 pr-0 pl-0">
               <div class="box-arrow ">
                     <div class="text-uppercase n-users">
                        Formation(s) supplémentaires(s) 
                    </div>
                   <div class="row">
                        <div class="col-11 pr-2 pl-2 ml-2 pt-2" id="formation">
                            <div id="supp">
                                <div class="sidebar-dropdown dropdown-select right-check custom-dropdown">
                                    <label class="dropdown-label text-uppercase">Sélection</label>
                                    <div class="dropdown-list text-uppercase catalogue-list ">
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                            <label for="checkbox-custom1" class="custom-control-label" data-id="1"> Formation 1</label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                            <label for="checkbox-custom2" class="custom-control-label" data-id="2"> Formation 2</label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                            <label for="checkbox-custom3" class="custom-control-label" data-id="3"> Formation 3</label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                            <label for="checkbox-custom4" class="custom-control-label" data-id="4"> Formation 4</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
            <div class="col-2 pr-0 pl-0">
               <div class="box-arrow ">
                     <div class="text-uppercase n-users">
                        Classe(s) 
                    </div>
                   <div class="row">
                       <div class="col-11 pr-2 pl-2 ml-2 pt-2" id="class">
                           <div id="class">
                               <div class="sidebar-dropdown dropdown-select right-check custom-dropdown">
                                   <label class="dropdown-label text-uppercase">Sélection</label>
                                   <div class="dropdown-list text-uppercase catalogue-list ">
                                       <div class="checkbox custom-control custom-checkbox small">
                                           <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                           <label for="checkbox-custom1" class="custom-control-label" data-id="1"> Classe 1</label>
                                       </div>
                                       <div class="checkbox custom-control custom-checkbox small">
                                           <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                           <label for="checkbox-custom2" class="custom-control-label" data-id="2"> Classe 2</label>
                                       </div>
                                       <div class="checkbox custom-control custom-checkbox small">
                                           <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                           <label for="checkbox-custom3" class="custom-control-label" data-id="3"> Classe 3</label>
                                       </div>
                                       <div class="checkbox custom-control custom-checkbox small">
                                           <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                           <label for="checkbox-custom4" class="custom-control-label" data-id="4"> Classe 4</label>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
            <div class="col-2 pr-0 pl-0">
                <div class="box-arrow ">
                    <div class="text-uppercase n-users">
                        Statut
                    </div>
                    <div class="row">
                        <div class="col-11 pr-2 pl-2 ml-2 pt-2" id="statut">
                            <div id="statut">
                                <div class="sidebar-dropdown dropdown-select right-check custom-dropdown">
                                    <label class="dropdown-label text-uppercase">Sélection</label>
                                    <div class="dropdown-list text-uppercase catalogue-list ">
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                            <label for="checkbox-custom1" class="custom-control-label" data-id="1"> Étudiant</label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                            <label for="checkbox-custom2" class="custom-control-label" data-id="2"> Éditeur</label>
                                        </div>
                                        <div class="checkbox custom-control custom-checkbox small">
                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                            <label for="checkbox-custom3" class="custom-control-label" data-id="3"> Formateur</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row col-2 offset-6 pb-4 pt-4">
                <a href="#"><img src="/assets/images/step/plus-round.png"></a>
            </div>
            <div class="row col-2 offset-11 pl-2 pb-4 pt-4">
            <button type="submit" class="btn btn-primary-c small">Enregistrer</button>
            </div>
            {{ form_widget(form.pseudo, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.phone, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.address, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.birthday, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.zipCode, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.country, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.city, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.region, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.additionalInformation, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.password, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.pinterest, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.facebook, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.twitter, {'attr':{'class':'hidden'}}) }}
            {{ form_widget(form.instagrame, {'attr':{'class':'hidden'}}) }}
            <div class="hidden">
            {{ form_widget(form.imageFile, {'attr':{'class':'hidden'}}) }}
            </div>
            {{ form_widget(form.newPassword, {'attr':{'class':'hidden'}}) }}
        {{  form_end(form) }}
    </div>
            </div>
        </div>
    </div>
{% endblock %}