{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 4 : SCÉNARIO PÉDAGOGIQUE I CHAPITRE A{% endblock %}
{% block body %}
    <div class="row">
        <div class="offset-1 col-8  " id="customchaiptrea">
            <div class="btn-group switch-btn d-inline-block">
                <div class="btn-toggle">
                    <button class="btn monthly-btn active">
                        <img class="hoverimgtabs" src="{{ asset('images/icons/formation/editformation1.png') }}">
                        <img class="normaltabsimage" src="{{ asset('images/icons/formation/editformation.png') }}">
                    </button>
                    <button class="btn  annual-btn">
                        <img class="hoverimgtabsnotactive" src="{{ asset('images/icons/formation/viewformation.png') }}">
                        <img class="normaltabsimageactive" src="{{ asset('images/icons/formation/16.png') }}">
                    </button>
                </div>
            </div>
            <div class="collapse show" id="monthly">
    <div class="boxchaiptrea">
        <div class="img8">
            <img src="{{ asset('images/icons/formation/editformation.png') }}">
            <img src="{{ asset('images/icons/formation/detailformation.png') }}">
            <img src="{{ asset('images/icons/formation/viewformation.png') }}">
            <img src="{{ asset('images/icons/formation/trashformation.png') }}">
        </div>
        <ul id="sortable2" class="connectedSortable">


        </ul>
    </div>
                <div class="boxchaiptrea2">
                    <div class="img8">
                        <img src="{{ asset('images/icons/formation/editformation.png') }}">
                        <img src="{{ asset('images/icons/formation/detailformation.png') }}">
                        <img src="{{ asset('images/icons/formation/viewformation.png') }}">
                        <img src="{{ asset('images/icons/formation/trashformation.png') }}">
                    </div>
                    <div class="row paddcote">
                        <div class="col-4">
                            <div class="borderchapt">
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="borderchapt">
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="borderchapt">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="collapse " id="annual">
                tt2
            </div>


            <div class="bloimg">
                <img src="{{ asset('images/icons/formation/32.png') }}">

                <img src="{{ asset('images/icons/formation/34.png') }}">
                <img src="{{ asset('images/icons/formation/35.png') }}">
                <img src="{{ asset('images/icons/formation/36.png') }}">
                <img src="{{ asset('images/icons/formation/37.png') }}">
                <img src="{{ asset('images/icons/formation/38.png') }}">
            </div>
        </div>
<div id="noboxshdow" class="col-3 shadow-lg customSideright ">

    <div id="tab" class="btn-group btn-group-justified" data-toggle="buttons">
        <div class="btn-toggle80">
        <a href="#prices" class="btn btn-default active" data-toggle="tab">
            <input type="radio" />Blocs
        </a>
        <a href="#features" class="btn btn-default" data-toggle="tab">
            <input type="radio" />Code
        </a>
    </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="prices">

    <div class="bloc-content">
        <a href="#collapseModule" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseModule">
            <h6 class="m-0 text-gray-700 text-uppercase">BLOC </h6>
        </a>
        <!-- Card Content - Collapse -->


        <div class="collapse show" id="collapseModule" style="">
            <div id="blocstepchpa">
                <ul id="sortable1" class="connectedSortable">
                    <li class="ui-state-default">    <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div><span>MÉDIAS</span></li>
                    <li class="ui-state-default"> <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div><span>PRÉSENTATION</span></li>
                    <li class="ui-state-default"> <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div><span>QUIZ</span></li>
                    <li class="ui-state-default"> <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div><span>JEUX</span></li>
                    <li class="ui-state-default"> <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div><span>SCORM / AICC / X API</span></li>
                    <li class="ui-state-default"> <div class="img">
                            <img src="{{ asset('images/icons/formation/14.png') }}">
                            <img src="{{ asset('images/icons/formation/15.png') }}">
                            <img src="{{ asset('images/icons/formation/16.png') }}">
                            <img src="{{ asset('images/icons/formation/17.png') }}">
                        </div><span>AUTRE</span></li>
                </ul>
            </div>
        </div>

        <div class="bloc-content">
            <a href="#collapseComposition" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCour">
                <h6 class="m-0 text-gray-700 text-uppercase">COMPOSITION</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapseComposition" style="">
           <ul id="composition">
               <li>
                   test1
               </li>
               <li>
                   test2
               </li>
           </ul>
            </div>
        </div>
    </div>

    <div class="bloc-content">
        <a href="#collapsegalerie" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCour">
            <h6 class="m-0 text-gray-700 text-uppercase">GALERIE</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="collapsegalerie" style="">
            <ul id="collapsegalerietext">
                <li>
                    test1
                </li>
                <li>
                    test2
                </li>
            </ul>
        </div>
    </div>
    <div class="bloc-content">
        <a href="#collapsecompmodel" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCour">
            <h6 class="m-0 text-gray-700 text-uppercase">MES MODÈLES</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="collapsecompmodel" style="">
            <ul id="collapsecompmodeltext">
                <li>
                    test1
                </li>
                <li>
                    test2
                </li>
            </ul>
        </div>
    </div>
         </div>

        <div class="tab-pane" id="features">
        code

    </div>
    </div>
    <div class="row margtop30">
        <div class="col-2">
            <a   href="{{ path('new_formation_configformation') }}">
            <img class="transoformpicture" src="{{ asset('images/icons/formation/12.png') }}">
            </a>
        </div>
        <div class="col-8 ">
            <button class="btn btn-primary small widthbtnstepcenter">Enregistrer</button>
        </div>
        <div class="col-2">
            <a   href="{{ path('new_formation_generalconfigchaiptre') }}">
            <img src="{{ asset('images/icons/formation/12.png') }}">
            </a>
        </div>
    </div>
</div>
</div>


    </div>

    </div>
</div>
    </div>
{% endblock %}