{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 4: SCÉNARIO PÉDAGOGIQUE I PARAMÈTRES I CHAPITRE A  {% endblock %}
{% block body %}
    <div class="row create-formation">
        <div class="col-2 pl-4">

            <img src="{{ asset('images/icons/formation/51.png') }}">
            <p class="customdevoir">AJOUTER UN DEVOIR</p>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="upload">
                    <div class="formUp">

                        <input type="file" name="fileToUpload[]" id="fileToUpload" accept="image/*" multiple="multiple">
                        <ul class="choosen"></ul>
                        <p class="guide">Nom du ﬁchier.doc
                        </p>
                    </div>
                    </input>
                <input type="submit" name="submitUpload" class="btn btn-primary">   </input>
            </form>
        </div>
        </div>
        <div id="configchapitrestep1" class=" col-7 borderright ">
            <h2 class="center">PARAMÈTRES “CHAPITRE A”</h2>

                <div class="row align-items-baseline">
                    <div class="col-7 pr-0">
                        <p>Temps passé sur le chapitre recommandé
                        </p>
                    </div>


                    <div class="inputforms">
                        <div class="d-flex justify-content-center align-items-center pr-3">
                            <input type="text" class="form-control px-2" placeholder="15"> H
                        </div>
                        <div class="d-flex">
                            <input type="text" class="form-control" placeholder="45"> min
                        </div>

                    </div>

</div>

            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox2" />
                <label for="checkbox2" class="custom-control-label" data-id="2"> Cacher le bouton “Marquer comme
                    terminé” jusqu’à ce que le temps recommandé soit atteint
                </label>
            </div>


            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox3" />
                <label for="checkbox3" class="custom-control-label" data-id="3">
                    Attribuer un score de fin de chapitre
                    <input type="text" placeholder="2000"> points
                </label>
            </div>


            <div class="checkbox custom-control custom-checkbox small">

                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox4" />
                <label for="checkbox4" class="custom-control-label" data-id="4">
                    Bloquer l’accès jusqu’au

                </label>
                <div id="datetpicket" class=" postabsot input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" readonly="">

                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox6" />
                <label for="checkbox6" class="custom-control-label" data-id="6">
                    Bloquer l’accès jusqu’au
                    <input type="text" placeholder=""> jour (post inscription)
                </label>
            </div>

            <div class="checkbox custom-control custom-checkbox small">
                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox7" />
                <label for="checkbox7" class="custom-control-label" data-id="7">
                    Activer les prérequis
                </label>
                    <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                        <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                        <div class="dropdown-list text-uppercase catalogue-list ">
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                <label for="checkbox-custom1" class="custom-control-label" data-id="1">  Note</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                <label for="checkbox-custom2" class="custom-control-label" data-id="2"> Score </label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                <label for="checkbox-custom3" class="custom-control-label" data-id="3"> CHAPITRE</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                <label for="checkbox-custom4" class="custom-control-label" data-id="4"> FORMATION </label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom5" />
                                <label for="checkbox-custom4" class="custom-control-label" data-id="5"> COURS </label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom5" />
                                <label for="checkbox-custom4" class="custom-control-label" data-id="5"> MODULE </label>
                            </div>
                        </div>
                    </div>

            </div>

            <div class="row align-items-baseline">
                <div class="col-7 pr-0">
                    <p>Validation automatique du chapitr
                        e après

                    </p>
                </div>


                <div class="inputforms">
                    <div class="d-flex justify-content-center align-items-center pr-3">
                        <input type="text" class="form-control px-2" placeholder="15"> H
                    </div>
                    <div class="d-flex">
                        <input type="text" class="form-control" placeholder="45"> min
                    </div>

                </div>

            </div>
    <div class="checkbox custom-control custom-checkbox small">
        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox8" />
        <label for="checkbox8" class="custom-control-label" data-id="8">
            Validation automatique du chapitre après réussite au

        </label>
        <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
            <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
            <div class="dropdown-list text-uppercase catalogue-list ">
                <div class="checkbox custom-control custom-checkbox small">
                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom8" />
                    <label for="checkbox-custom1" class="custom-control-label" data-id="8">  DEVOIR</label>
                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom9" />
                    <label for="checkbox-custom2" class="custom-control-label" data-id="9"> QUIZ 1
                    </label>
                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom10" />
                    <label for="checkbox-custom3" class="custom-control-label" data-id="10"> QUIZ 2
                    </label>
                </div>


            </div>
        </div>
    </div>
            <div id="buttonpublier" class="postabsolute">
                <button class="btn-2">Publier</button>
            </div>
        </div>
    <div class="col-3 pr-5  pt-3 customSideright  ">
        <div id="formationaborsance">
            <div class="modules">
                <div class="img">
                    <img src="{{ asset('images/icons/formation/14.png') }}">
                    <img src="{{ asset('images/icons/formation/15.png') }}">
                    <img src="{{ asset('images/icons/formation/16.png') }}">
                    <img src="{{ asset('images/icons/formation/17.png') }}">
                </div>
                <span>Module A</span>
            </div>
            <ul class="nopadd">

                <li>


                    <ul>
                        <li class="cours">
                            <div class="img">
                                <img src="{{ asset('images/icons/formation/14.png') }}">
                                <img src="{{ asset('images/icons/formation/15.png') }}">
                                <img src="{{ asset('images/icons/formation/16.png') }}">
                                <img src="{{ asset('images/icons/formation/17.png') }}">
                            </div>
                            <span>Cour 1</span>
                        </li>
                        <li>


                            <ul>
                                <li class="module chapitre">
                                    <div class="img">
                                        <img src="{{ asset('images/icons/formation/14.png') }}">
                                        <img src="{{ asset('images/icons/formation/15.png') }}">
                                        <img src="{{ asset('images/icons/formation/16.png') }}">
                                        <img src="{{ asset('images/icons/formation/17.png') }}">
                                    </div>
                                    <span>Chap 1</span>
                                </li>
                                <li class="module chapitre">
                                    <div class="img">
                                        <img src="{{ asset('images/icons/formation/14.png') }}">
                                        <img src="{{ asset('images/icons/formation/15.png') }}">
                                        <img src="{{ asset('images/icons/formation/16.png') }}">
                                        <img src="{{ asset('images/icons/formation/17.png') }}">
                                    </div>
                                    <span>Chap 2</span>
                                </li>
                            </ul>
                        </li>
                    </ul>


                <li>


                    <ul>
                        <li class="cours">
                            <div class="img">
                                <img src="{{ asset('images/icons/formation/14.png') }}">
                                <img src="{{ asset('images/icons/formation/15.png') }}">
                                <img src="{{ asset('images/icons/formation/16.png') }}">
                                <img src="{{ asset('images/icons/formation/17.png') }}">
                            </div>
                            <span>Cours 2</span>
                        </li>

                        <li>


                            <ul>
                                <li class="module chapitre">
                                    <div class="img">
                                        <img src="{{ asset('images/icons/formation/14.png') }}">
                                        <img src="{{ asset('images/icons/formation/15.png') }}">
                                        <img src="{{ asset('images/icons/formation/16.png') }}">
                                        <img src="{{ asset('images/icons/formation/17.png') }}">
                                    </div>
                                    <span>Chap 1</span>
                                </li>
                                <li class="module quiz">
                                    <div class="img">
                                        <img src="{{ asset('images/icons/formation/14.png') }}">
                                        <img src="{{ asset('images/icons/formation/15.png') }}">
                                        <img src="{{ asset('images/icons/formation/16.png') }}">
                                        <img src="{{ asset('images/icons/formation/17.png') }}">
                                    </div>
                                    <span>Quiz</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            </li>
            </ul>

        </div>

        <div id="formationaborsance">
            <div class="modules">
                <div class="img">
                    <img src="{{ asset('images/icons/formation/14.png') }}">
                    <img src="{{ asset('images/icons/formation/15.png') }}">
                    <img src="{{ asset('images/icons/formation/16.png') }}">
                    <img src="{{ asset('images/icons/formation/17.png') }}">
                </div>
                <span>Module B</span>
            </div>
            <ul>

                <li class="chapitre">
                    <div class="img">
                        <img src="{{ asset('images/icons/formation/14.png') }}">
                        <img src="{{ asset('images/icons/formation/15.png') }}">
                        <img src="{{ asset('images/icons/formation/16.png') }}">
                        <img src="{{ asset('images/icons/formation/17.png') }}">
                    </div>
                    <span>Chap 1</span>
                </li>
                <li class="chapitre">
                    <div class="img">
                        <img src="{{ asset('images/icons/formation/14.png') }}">
                        <img src="{{ asset('images/icons/formation/15.png') }}">
                        <img src="{{ asset('images/icons/formation/16.png') }}">
                        <img src="{{ asset('images/icons/formation/17.png') }}">
                    </div>
                    <span>Chap 2</span>
                </li>

            </ul>
            <div class="row">
                <div class="col-2">
                    <a   href="{{ path('new_formation_chaiptre') }}">
                        <img class="transoformpicture" src="{{ asset('images/icons/formation/12.png') }}">
                    </a>
                </div>
                <div class="col-8 ">
                    <button class="btn btn-primary small widthbtnstepcenter">Enregistrer</button>
                </div>
                <div class="col-2">
                    <a   href="{{ path('new_formation_cours') }}">
                        <img src="{{ asset('images/icons/formation/12.png') }}">
                    </a>
                </div>
            </div>
        </div>


    </div>
{% endblock %}