{% extends 'baseAdmin.html.twig' %}
{% block top_title %} FORMATIONS | CATÉGORIES {% endblock %}
{% block body %}

    <div class="row create-formation pr-4 pl-4">
        <div class="col-6 offset-5">
            <div class="btn-group switch-btn d-inline-block">
                <div class="btn-toggle">
                    <button class="btn active forma-btn">Formations</button>
                    <button class="btn categ-btn">Catégories</button>
                </div>
            </div>
        </div>
        <div class="col-4 offset-8 new-categ hidden" id="new-catag">
                <img src="/assets/images/icons/search.png" class="offset-4 pt-3" width="60px">
                <a class="btn btn-categ float-right" data-toggle="modal" href="#new-cat">Nouvelle catégorie</a>
        </div>
        <div class="col-4 offset-8 new-categ " id="new-forma">
            <img src="/assets/images/icons/search.png" class="offset-4 pt-3" width="60px">
            <a class="btn btn-categ float-right" href="{{ path('new_formation_step1')}}">Nouvelle formation</a>
        </div>
        </div>
        <div class="container container-step col-12">
            <div class="collapse row" id="categ">
                <div class="col-12 offset-0 py-2 mt-4">
                    <div class="card-header py-3">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action version-3">
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#copy-selected-user" title="Dupliquer les catégorie selectionnées" data-path="/formation/copyCateg">
                                    <a href="" class="offset-0"><img src="{{ asset('images/icons/formation/duplicate.png') }}" class="img-categ"></a>
                                </button>
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete" title="Supprimer les catégories selectionnées" data-path="{{ path('delete_categories')}}">
                                    <img class="img-trash" src="{{ asset('images/icons/formation/trash-gray.png') }}">
                                </button>
                            </div>
                            <div class="forma-tag filter-choice offset-10 pl-4">
                                <a href="#" class="pl-2 pr-2" id="list-categories"><img src="{{ asset('images/icons/formations.png') }}" data-nonactiveimage="{{ asset('images/icons/formations.png') }}" data-activeimage="{{ asset('images/icons/active-list.png') }}" height="35px;"></a>

                                <a href="#" id="tab-categories"><img src="{{ asset('images/icons/tab.png') }}" data-activeimage="{{ asset('images/icons/tab.png') }}" data-nonactiveimage="{{ asset('images/icons/tab-gary.png') }}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-categories">
                            <div class="row list-categ ">
                                {% for cat in categories %}
                                    <div class="col-categ mb-2">
                                        <div class="card shadow">
                                            <div class="tools-categ">
                                                <a href="{{ path('duplicate_category',{'id': cat.id}) }}" rel="tooltip" title="Dupliquer la catégorie" class="btn btn-vu btn-link btn-sm offset-0">  <img src="{{ asset('images/icons/formation/duplicate.png') }}" class="img-categ"></a>
                                                <a data-toggle="modal" href="#categ-edit" class="offset-0"><img src="/assets/images/icons/formation/params.png" width="20px"></a>
                                                <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-category" title="Supprimer Categorie" class="btn btn-vu btn-link btn-sm offset-0 delete-cat" data-id="{{ cat.id }}"><img class="img-trash" src="{{ asset('images/icons/formation/trash-gray.png') }}"></a>
                                            </div>
                                            <div class="checkbox odd custom-control-categ custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input check-element" name="categorie-check" id="categCheck_{{ cat.id }}" data-id="{{ cat.id }}">
                                                <label for="categCheck_{{ cat.id }}" class="custom-control-label text-uppercase" data-id="1"> </label>
                                            </div>
                                            <div class="card-body offset-3 pl-1" style="height:112px;padding-top: 56px">
                                                <span class="categ-title text-uppercase">{{ cat.name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            </div>
                        <!-- Edit-Categ -->
                        <div class="modal fade" id="categ-edit" tabindex="-1" role="dialog" aria-labelledby="categ-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content-categ">
                                    <div class="modal-header-categ">
                                        <h5 class="modal-title-categ text-uppercase" id="new-categ">Modifier une catégorie</h5>
                                        <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body-categ">
                                        <div class="col-6">
                                            <div class="form-container sign-in-container">
                                                <div class="form-group green-border-focus">
                                                    <label for="exp" class="offset-1 text-uppercase title-new-categ">Nom</label>
                                                    <input type="text" class="custom-control-label-categ shadow" id="categ-val" placeholder="Lorem ipsum dolor sit amet">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer-categ">
                                        <button type="submit" class="btn btn-mod">Modifier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- New-Categ -->
                        <div class="modal fade" id="new-cat" tabindex="-1" role="dialog" aria-labelledby="categ-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content-categ">
                                    <div class="modal-header-categ">
                                        <h5 class="modal-title-categ-new text-uppercase" id="new-categ">Créer une nouvelle catégorie</h5>
                                        <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    {{ form_start(form) }}
                                    <div class="modal-body-categ">
                                        <div class="col-6">
                                            <div class="form-container sign-in-container">
                                                <div class="form-group green-border-focus">
                                                    <label for="exp" class="offset-1 text-uppercase title-new-categ">Nom</label>
                                                    {{ form_widget(form.name) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer-categ">
                                        <button type="submit" class="btn btn-mod">Créer</button>
                                    </div>
                                    {{  form_end(form) }}
                                </div>
                            </div>
                        </div>
                        <!-- modal delete selected categories -->
                        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer les catégories</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span> Voulez vous supprimer les catégories sélectionnés? </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                                        <a href="#" class="btn btn-primary" id="delete-categories">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal selected categories -->
                        <!-- Delete category -->
                        <div class="modal fade" id="delete-category" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer cette categorie</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer cette categorie ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                        <a href="#" class="btn btn-primary del-categ">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal delete category -->
                        <div class="row tab-categ hidden">
                            <div class="full-card shadow py-2 mt-4">
                                <div class="card-body">
                                    <div class="table-responsive custom-table">
                                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th class="nosort"></th>
                                                <th>ID</th>
                                                <th>Catégorie</th>
                                                <th class="nosort"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for c in categories %}
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox small">
                                                            <input type="checkbox" class="custom-control-input check-element"  name="user_check"  id="user_{{ c.id }}" name="user-{{ c.id }}" data-id="{{ c.id }}" value="">
                                                            <label class="custom-control-label" for="user_{{ c.id }}"></label>
                                                        </div>
                                                    </td>
                                                    <td>{{ c.id }}</td>
                                                    <td>{{ c.name }}</td>
                                                    <td class="td-actions text-right" >
                                                        <a href="{{ path('home_formation',{'id': c.id}) }}" rel="tooltip" title="Voir categorie" class="btn btn-vu btn-link btn-sm" >  <i class="fas fa-eye"></i></a>
                                                        <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-category" title="Supprimer Categorie" class="btn btn-vu btn-link btn-sm offset-0 del-categ" data-id="{{ c.id }}">
                                                            <img class="img-trash pb-2" src="{{ asset('images/icons/formation/trash-gray.png') }}"></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse row show" id="forma">
                <div class="col-xl-9 col-md-9 mb-4 h-100">
                    <div class="card-header py-3">

                        <div class="row row pr-0 mr-0 mb-5 library-content listfolder">
                            <!--Carousel Wrapper-->
                            <div id="multi-item-example" class="carousel carousel-multi-item text-gray-600 small-content mt-2">
                                <!--Controls-->
                                <div class="controls-top">
                                    <a class="btn-floating controle-left" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                                    <a class="btn-floating controle-right" href="#multi-item-example" data-slide="next"><i
                                                class="fas fa-chevron-right"></i></a>
                                </div>
                                <!--/.Controls-->
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox" id="carousel-folder">
                                    {% for i,j in [1,2,3,4,5] %}
                                        <div class="carousel-item {% if i == 0 %} active {% endif %}" >
                                            {% for t in j %}
                                                <div class="full-card h-100 shadow py-2 text-center ml-2" data-id="">
                                                    <div class="card-body p-0">
                                                        <div class="row no-gutters align-items-center list-btn-note ">
                                                            <div class="current-folder">
                                                                <div class="align-content-center">
                                                                    <img src="{{ asset('images/icons/open-folder-xs.png') }}" width="45px">
                                                                </div>
                                                                <div class="formation-name text-uppercase ">{{ t }} <span class="nb-doc">({{t}})</span></div>
                                                            </div>
                                                            <div class="pr-2 folder-actions">
                                                                <div class="top-text text-right">
                                                                    <a href=""  data-path="{{path('delete_folder_doc')}}" id="delete-folder-doc"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
                                                                    <a href="" data-toggle="modal" data-target="#update-folder" data-name="{{t }}"  id="update-name"><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>
                                                                    <a href=""><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <!-- Delete formation -->
                                    <div class="modal fade" id="delete-formation" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer Formation</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Êtes-vous sûr de vouloir supprimer cette formation ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                                    <a href="#" class="btn btn-primary del-forma">Oui</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end modal delete formation -->
                                </div>
                                <!--/.Slides-->
                            </div>
                            <!--/.Carousel Wrapper-->
                        </div>

                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAllf">
                            <label class="custom-control-label" for="checkAllf">Tout Sélectionner </label>
                            <div class="btn-action version-3">
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#copy-selected-user" title="Dupliquer les catégorie selectionnées" data-path="/formation/copyCateg">
                                    <a href="" class="offset-0"><img src="{{ asset('images/icons/formation/duplicate.png') }}" class="img-categ"></a>
                                </button>
                                  <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-formations" title="Supprimer les formations selectionnées" data-path="{{ path('delete_formations')}}">
                                    <img class="img-trash" src="{{ asset('images/icons/formation/trash-gray.png') }}">
                                </button>
                            </div>
                            <div class="forma-tag text-right filter-choice pr-4">
                                <select class="text-uppercase select-filter" id="categorys">
                                    {% for c in categories %}
                                    <option>{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                                <a href="#" class="pl-2 pr-2" id="list-formations"><img src="{{ asset('images/icons/formations.png') }}" data-nonactiveimage="{{ asset('images/icons/formations.png') }}"  data-activeimage="{{ asset('images/icons/active-list.png') }}" height="35px;"></a>

                                <a href="#" id="tab-formations"><img src="{{ asset('images/icons/tab.png') }}" data-activeimage="{{ asset('images/icons/tab.png') }}" data-nonactiveimage="{{ asset('images/icons/tab-gary.png') }}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mt-3 tab-forma ">
                            {% for f in formations %}
                                <div class="col-3 mb-2">
                                    <div class="card-f shadow">
                                        <img src="{{ asset('images/icons/img-forma.png') }}" class="img-forma" width="30%;">
                                        <div class="tools-forma">
                                            <a data-toggle="modal" href="#" class="offset-0"><img src="{{ asset('images/icons/formation/params.png') }}" class="img-categ"></a>
                                            <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-formation" title="Supprimer Formation" class="btn btn-vu btn-link btn-sm offset-0 delete-forma" data-id="{{ f.id }}"><img class="img-del pr-1 mr-2" src="{{ asset('images/icons/formation/trash-gray.png') }}"></a>
                                        </div>
                                        <div class="checkbox odd custom-control-forma custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input check-element" name="formation-check" id="formationCheck_{{ f.id }}" data-id="{{ f.id }}">
                                            <label for="formationCheck_{{ f.id }}" class="custom-control-label text-uppercase" data-id="1"> </label>
                                        </div>
                                        <div class="card-body-f pl-1">
                                            <h5 class="card-title-f offset-2 pl-3">
                                            <img class="pr-1" src="{{ asset('images/icons/form2.png') }}" width="25px">
                                                <a href="{{ path('new_formation', {'id': f.id})}}">{{ f.titre_formation}}</a>
                                            </h5>
                                            <div class="icons-form offset-2 pl-3">

                                                    <a href="#"> <img src="{{ asset('images/icons/formation/attach-formation.png') }}" class="pl-2" width="35px"></a>
                                                    <a data-toggle="modal" href="#form"><img src="{{ asset('images/icons/formation/duplicate.png') }}" width="30px"></a>
                                                    <a href="#"> <img src="{{ asset('images/icons/formation/exp-formation.png') }}" width="30px"></a>
                                                    <span class="etud-1000">1000 <br> étudiants</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <!-- modal delete selected formations -->
                        <div class="modal fade" id="delete-formations" tabindex="-1" role="dialog" aria-labelledby="delete-forms" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer les formations</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span> Voulez vous supprimer les formations sélectionnés? </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                                        <a href="#" class="btn btn-primary" id="delete-formas">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal selected formations -->
                        <!-- New-Form -->
                        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="categ-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header-categ">
                                        <h5 class="modal-title-categ-new text-uppercase" id="new-categ">Dupliquer la formation</h5>
                                        <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-6 dup-f">
                                            <div class="form-container sign-in-container">
                                                <div class="form-group green-border-focus">
                                                    <label for="exp" class="offset-1 text-uppercase title-new-categ">Nom du projet</label>
                                                    <input type="text" class="custom-control-label-categ shadow" id="categ-val" placeholder="Copie de Nom de la Formation">
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input" id="descrip" checked />
                                                    <label for="descrip" class="custom-control-label desc-forma" data-id="1"> Description de la formation</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="couv" checked />
                                                    <label for="couv" class="custom-control-label desc-forma" data-id="2"> Images et vidéos de couverture</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="etudcoach" checked />
                                                    <label for="etudcoach" class="custom-control-label desc-forma" data-id="3"> Etudiants et coachs</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="formedit" checked />
                                                    <label for="formedit" class="custom-control-label desc-forma" data-id="4"> Formateurs et éditeurs</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="requis" checked />
                                                    <label for="requis" class="custom-control-label desc-forma" data-id="5"> Prérequis</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="scoring" checked />
                                                    <label for="scoring" class="custom-control-label desc-forma" data-id="6"> Scoring</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="badgecertif" checked />
                                                    <label for="badgecertif" class="custom-control-label desc-forma" data-id="7"> Badges et certificats</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="stat" checked />
                                                    <label for="stat" class="custom-control-label desc-forma" data-id="8"> Statistiques</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="coment" checked />
                                                    <label for="coment" class="custom-control-label desc-forma" data-id="9"> Commentaires</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="forums" checked />
                                                    <label for="forums" class="custom-control-label desc-forma" data-id="10"> Forums</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="paramchap" checked />
                                                    <label for="paramchap" class="custom-control-label desc-forma" data-id="11"> Paramètres des chapitres </label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="parammomd" checked />
                                                    <label for="parammomd" class="custom-control-label desc-forma" data-id="12"> Paramètres des modules</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="paramcours" checked />
                                                    <label for="paramcours" class="custom-control-label desc-forma" data-id="13"> Paramètres des cours</label>
                                                </div>
                                                <div class="checkbox custom-control custom-checkbox pl-5 small">
                                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="paramquiz" checked />
                                                    <label for="paramquiz" class="custom-control-label desc-forma" data-id="14"> Paramètres des quiz</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer-categ">
                                        <button type="button" class="btn btn-mod">Dupliquer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-forma hidden">
                            <div class="full-card shadow py-2 mt-4">
                                <div class="card-body">
                                    <div class="table-responsive custom-table">
                                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th class="nosort"></th>
                                                <th>ID</th>
                                                <th>Formation</th>
                                                <th class="nosort"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for f in formations %}
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox small">
                                                            <input type="checkbox" class="custom-control-input check-element"  name="user_check"  id="user_{{ f.id }}" name="user-{{ f.id }}" data-id="{{ f.id }}" value="">
                                                            <label class="custom-control-label" for="user_{{ f.id }}"></label>
                                                        </div>
                                                    </td>
                                                    <td>{{ f.id }}</td>
                                                    <td>{{ f.titre_formation }}</td>
                                                    <td class="td-actions text-right" >
                                                        <a href="{{ path('home_formation',{'id': f.id}) }}" rel="tooltip" title="Voir categorie" class="btn btn-vu btn-link btn-sm" >  <i class="fas fa-eye"></i></a>
                                                        <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-category" title="Supprimer Categorie" class="btn btn-vu btn-link btn-sm offset-0" data-id="{{ f.id }}">
                                                            <img class="img-trash pb-2" src="{{ asset('images/icons/formation/trash-gray.png') }}"></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-xl-3 col-md-3 mb-4">
                        <div class="full-card shadow py-2">
                            <h5 class="text-uppercase modif text-center pt-4">Dernières modifications </h5>
                            {% for f in formations %}
                            <div class="my-planing-f mb-4 mt-4 pl-2 row ">
                                <span class="planing-date col-2 text-center">19 Avril</span>
                                <div class="col-10">
                                    <img class="icon-categorie" src="{{ asset('images/icons/form2.png') }}">
                                    <span class="modif-der pl-2"><td>{{ f.titre_formation }}</td></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}