{% extends 'baseAdmin.html.twig' %}
{% block top_title %}  <a href="{{path('student_formations')}}">Formations</a> | cap aepe {% endblock %}
{% block body %}
<div class="container-fluid text-gray-700 formation-student">
    <div class="row mb-2 pr-0 mr-0 ">
        <div class="col-xl-9 col-md-9 mb-4 h-100">
            <div class="row pr-0 mr-0">
                <div class="col-xl-12 col-md-12 mb-4 h-100">
                    <div class="row formation-image-form">
                        <div class="col-6 offset-5"><img src="{{ asset('images/icons/img-forma.png') }}" width="150px"></div>
                        <div class="col-1 head-img"> <a data-toggle="modal" href="#bandeau"> <img src="{{ asset('images/icons/edit-round.png') }}"> </a></div>
                    </div>
                    <div class="row mt-3 details-formations">
                        <!-- Edit-bandeau -->
                        <div class="modal fade" id="bandeau" tabindex="-1" role="dialog" aria-labelledby="categ-modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content-forma">
                                    <div class="modal-header-forma">
                                        <h5 class="modal-title-bandeau text-uppercase" id="edit-bandeau">Paramètres du bandeau</h5>
                                        <button type="button" class="close-categ" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body-forma">
                                        <div class="row">
                                        <div class="col-6 pr-4">
                                            <div class="form-container sign-in-container">
                                                <div class="form-group green-border-focus">
                                                    <label for="description" class="choice-mod text-uppercase">Description</label>
                                                    <textarea class="form-control-desc shadow" id="description" rows="5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exercitation</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 pt-1">
                                            <div class="btn-group switch-btn d-inline-block">
                                                <div class="btn-toggle">
                                                    <button class="btn btn-col">Couleur</button>
                                                    <button class="btn active btn-gal">Galerie</button>
                                                    <button class="btn btn-pic">Photo</button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-container sign-in-container">
                                                    <div class="form-group green-border-focus">
                                                        <label for="video" class="text-uppercase">Vidéo d'illustration</label>
                                                        <div class="col-8 offset-1">
                                                            <div class="card-mod shadow">
                                                            <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4 d-none" data-multiple-caption="{count} files selected" multiple="">
                                                            <img src="/assets/images/icons/video-up.png" class="offset-4 pt-4" width="70px">
                                                            </div>
                                                            <br>
                                                            <button class="btn btn-vid vid-mod">Sélectionner</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mod">
                                                <div class="form-container sign-in-container">
                                                    <div class="form-group green-border-focus">
                                                        <label for="model" class="choice-mod pl-5">Choisir un modèle</label>
                                                        <img src="/assets/images/icons/mod3.png" class="pb-2">
                                                        <img src="/assets/images/icons/mod2.png" class="pb-2">
                                                        <img src="/assets/images/icons/mod1.png" class="pb-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer-forma">
                                        <button type="button" class="btn btn-bandeau">Enregistrer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <div class="pt-2 hei-card">

                                <img src="/assets/images/builder/change-pos.png" width="25px" class="img-header">
                                <img src="/assets/images/icons/opt.png" width="25px" class="img-header">
                                <img src="/assets/images/icons/drash.png" width="25px" class="img-header">

                            <a href="#matiere" class="d-block card-header-f" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                              <h6 class="m-0 mat-g pl-3">MATIÈRES GÉNÉRALES</h6>
                            </a>
                            </div>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="matiere" style="">
                                <div class="card-body pl-0 pr-0">
                                    <ul class="events">
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5 class="chap-n text-uppercase">Histoire - Géographie</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="img-header-n">

                                                    <img src="/assets/images/builder/change-pos.png" width="20px">
                                                    <img src="/assets/images/icons/opt.png" width="20px">
                                                    <img src="/assets/images/icons/drash.png" width="20px">
                                                </div>
                                            </div>
                                        </li>
                                        <li> 
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5 class="chap-n text-uppercase">Mathématiques</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="img-header-n">

                                                    <img src="/assets/images/builder/change-pos.png" width="20px">
                                                    <img src="/assets/images/icons/opt.png" width="20px">
                                                    <img src="/assets/images/icons/drash.png" width="20px">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5 class="chap-n text-uppercase">Sciences physiques</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="img-header-n">

                                                    <img src="/assets/images/builder/change-pos.png" width="20px">
                                                    <img src="/assets/images/icons/opt.png" width="20px">
                                                    <img src="/assets/images/icons/drash.png" width="20px">
                                                </div>
                                            </div>
                                        </li>
                                        <li> 
                                             <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                            <div class="custom-control custom-radio">
                                                                <div class="custom-control-label" >
                                                                    <h5 class="chap-n text-uppercase">Français</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                 <div class="img-header-n">

                                                     <img src="/assets/images/builder/change-pos.png" width="20px">
                                                     <img src="/assets/images/icons/opt.png" width="20px">
                                                     <img src="/assets/images/icons/drash.png" width="20px">
                                                 </div>
                                            </div>
                                        </li>
                                    </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-12 shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <div class="pt-2 hei-card">

                                <img src="/assets/images/builder/change-pos.png" width="25px" class="img-header">
                                <img src="/assets/images/icons/opt.png" width="25px" class="img-header">
                                <img src="/assets/images/icons/drash.png" width="25px" class="img-header">

                                <a href="#matiere" class="d-block card-header-f" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 mat-g pl-3">EP1</h6>
                                </a>
                            </div>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" id="ep" style="">
                                <div class="card-body pl-0 pr-0">
                                    <ul class="events">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <div class="pt-2" style="height: 55px">

                                <img src="/assets/images/builder/change-pos.png" width="25px" class="img-header">
                                <img src="/assets/images/icons/opt.png" width="25px" class="img-header">
                                <img src="/assets/images/icons/drash.png" width="25px" class="img-header">

                                <a href="#matiere" class="d-block card-header-f" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 mat-g pl-3">EP2</h6>
                                </a>
                            </div>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" id="ep" style="">
                                <div class="card-body pl-0 pr-0">
                                    <ul class="events">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <div class="pt-2 hei-card">

                                <img src="/assets/images/builder/change-pos.png" width="25px" class="img-header">
                                <img src="/assets/images/icons/opt.png" width="25px" class="img-header">
                                <img src="/assets/images/icons/drash.png" width="25px" class="img-header">

                                <a href="#matiere" class="d-block card-header-f" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 mat-g pl-3">EP3</h6>
                                </a>
                            </div>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" id="ep" style="">
                                <div class="card-body pl-0 pr-0">
                                    <ul class="events">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 mb-4">
            <div class="full-card shadow py-2 show-formation">
                <h5 class="text-uppercase modif text-center pr-4 pt-4">Dernières modifications </h5>
                {% for f in formations %}
                <div class="my-planing mb-4 mt-4 pl-4 row ">
                    <span class="planing-date col-2 text-center">20 Avril</span>
                    <div class="col-10">
                        <span class="modif-der">{{f.titre_formation}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>  
    </div>

{% endblock %}