{% extends 'baseAdmin.html.twig' %}
{% block top_title %}  <a href="{{path('student_formations')}}">Formations</a> | <a href="{{path('show_formation',{'id':'1'})}}"> CAP AEPE</a> | MATIÈRES GÉNÉRALES | SCIENCES PHYSIQUE{% endblock %}
{% block body %}
<div class="container-fluid text-gray-700 formation-student">
    <div class="row mb-2 pr-0 mr-0 ">
        <div class="col-xl-9 col-md-9 mb-4 h-100">
            <div class="row pr-0 mr-0">
                <div class="col-xl-12 col-md-12 mb-4 h-100">
                    <div class="row formation-image-form">
                        <div class="col-6 offset-5"><img src="{{ asset('images/icons/img-forma.png') }}" width="150px"></div>
                        <div class="col-1 head-img"> <a data-toggle="modal" href="#bandeau"> <img src="{{ asset('images/icons/edit-round.png') }}"> </a></div>
                    </div>
                    <div class="row details-formations">
                        <div class="col-12 mb-4">
                            <ul class="events">
                                <li>
                                    <div class="row pl-4">
                                        <div class="col-6">
                                            <div class="element-mod">

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                <div class="row pl-4">
                                    <div class="col-6">
                                        <div class="element-mod">
                                            <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                <div class="custom-control custom-radio">
                                                    <div class="custom-control-label" >
                                                        <h5 class="chap-f text-uppercase">01.Nom du chapitre</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="img-header-m">

                                        <img src="/assets/images/builder/change-pos.png" width="20px">
                                        <img src="/assets/images/icons/opt.png" width="20px">
                                        <img src="/assets/images/icons/pencil.png" width="20px">
                                        <img src="/assets/images/icons/drash.png" width="20px">
                                    </div>
                                </div>
                                </li>
                                <li>
                                    <div class="row pl-4">
                                        <div class="col-6">
                                            <div class="element-mod">
                                                <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                    <div class="custom-control custom-radio">
                                                        <div class="custom-control-label" >
                                                            <h5 class="chap-f text-uppercase">02.Nom du chapitre</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="img-header-m">

                                            <img src="/assets/images/builder/change-pos.png" width="20px">
                                            <img src="/assets/images/icons/opt.png" width="20px">
                                            <img src="/assets/images/icons/pencil.png" width="20px">
                                            <img src="/assets/images/icons/drash.png" width="20px">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row pl-4">
                                        <div class="col-6">
                                            <div class="element-mod">
                                                <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                    <div class="custom-control custom-radio">
                                                        <div class="custom-control-label" >
                                                            <h5 class="chap-f text-uppercase">03.Nom du chapitre</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="img-header-m">

                                            <img src="/assets/images/builder/change-pos.png" width="20px">
                                            <img src="/assets/images/icons/opt.png" width="20px">
                                            <img src="/assets/images/icons/pencil.png" width="20px">
                                            <img src="/assets/images/icons/drash.png" width="20px">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row pl-4">
                                        <div class="col-6">
                                            <div class="element-mod">
                                                <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                    <div class="custom-control custom-radio">
                                                        <div class="custom-control-label" >
                                                            <h5 class="chap-f text-uppercase">04.Nom du chapitre</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="img-header-m">

                                            <img src="/assets/images/builder/change-pos.png" width="20px">
                                            <img src="/assets/images/icons/opt.png" width="20px">
                                            <img src="/assets/images/icons/pencil.png" width="20px">
                                            <img src="/assets/images/icons/drash.png" width="20px">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row pl-4">
                                        <div class="col-6">

                                                <a href="{{ path('show_moduleForm', {'id':'1'})}}">
                                                    <div class="custom-control custom-radio">
                                                        <div class="custom-control-label" >
                                                            <h5 class="chap-f text-uppercase">05.Nom du chapitre</h5>
                                                        </div>
                                                    </div>
                                                </a>

                                        </div>
                                        <div class="img-header-m">

                                            <img src="/assets/images/builder/change-pos.png" width="20px">
                                            <img src="/assets/images/icons/opt.png" width="20px">
                                            <img src="/assets/images/icons/pencil.png" width="20px">
                                            <img src="/assets/images/icons/drash.png" width="20px">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 mb-4">
            <div class="full-card shadow py-2 show-formation">
                <h5 class="text-uppercase modif text-center pr-4 pt-4">Derniéres modifications </h5>
                <div class="my-planing mb-4 mt-4 pl-4 row ">
                    <span class="planing-date col-2 text-center">20 Avril</span>
                    <div class="col-10">
                        <span class="modif-der">01. Nom du chapitre</span>
                    </div>

                </div>
                <div class="my-planing mb-4 pl-4 row">
                    <span class="planing-date col-2 text-center">20 Avril</span>
                    <div class="col-10">
                        <span class="modif-der">03. Nom du chapitre</span>
                    </div>
                </div>
                <div class="my-planing mb-4 pl-4 row">
                    <span class="planing-date col-2 text-center">21 Avril</span>
                    <div class="col-10">
                        <span class="modif-der">03. Nom du chapitre</span>
                    </div>
                </div>
                <div class="my-planing mb-4 pl-4 row">
                    <span class="planing-date col-2 text-center">22 Avril</span>
                    <div class="col-10">
                        <span class="modif-der">02. Nom du chapitre</span>
                    </div>
                </div>
            </div>
        </div>  
    </div>

{% endblock %}