{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 5 : CARNET DE NOTE {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/categoriechart.js') }}"></script>
{% endblock %}
{% block body %}
    <div id="btnnote" >
        <div class="d-inline-block  editwidthdevoir1  borderright">
            <div class="btnnotess">
                <a id="btncategorieclik" type="" class="btn btn-primary mr-4"> Nouvelle catégorie  </a>
            </div>
            <div class="img-top"><img  class="imgcenter" src="{{ asset('images/icons/step5.png') }}"></div>
            
            <div id="four"></div>
        </div>
        <div class="d-inline-block  editwidthdevoir customSideright pt-4 ">
            <h3 class="text-center pb-4">Devoirs non ajoutés</h3>
            <div id="items">
            {% for i in 1..10 %}
                <div data-id="devoir-{{i}}" class="item custombtndevoir">
                    Devoirs{{i}}
                </div>
            {% endfor %}
            </div>
            <div class="row absoultenergistre p-0 m-0">
                <div class="col-2">
                    <a   href="{{ path('new_formation_step3v2') }}">
                        <img class="transoformpicture" src="/assets/images/icons/formation/12.png">
                    </a>
                </div>
                <div class="col-8 ">
                    <button class="btn btn-primary small widthbtnstepcenter">Enregistrer</button>
                </div>
                <div class="col-2">
                    <a   href="{{ path('new_formation_step6') }}">

                        <img src="/assets/images/icons/formation/12.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}