{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 1: CARTE D'IDENTITÉ {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 text-center"><img src="{{ asset('images/step/step7.png') }}">
                <span class="d-block text-gray-700 mt-4 mb-4">Utilisateurs de la plateforme</span>
            </div>
            <div class="col-4">
                <a href="{{ path('add_users_to_formation') }}" class="btn btn-primary classic-btn">Ajouter des utilisateurs</a>
                <a href="{{ path('new_code')}}" class="btn btn-primary-empty classic-btn">Créer des codes d'invitation</a>
            </div>
        </div>
        <div class="row rounded-bloc">
            <div class="col-3">
               <div class="box-arrow ">
                    <div class="als-cont text-uppercase">
                        Coachs
                        <input type="text" name="search" id="coachs" onkeyup="search(this.value,'coachs')" autocomplete="on"   class="search" />
                    </div>
                    <div class="row my-result my-result-coachs">
                    </div>
               </div>
            </div>
            <div class="col-3">
               <div class="box-arrow ">
                    <div class="als-cont text-uppercase">
                        Formateurs
                        <input type="text" name="search" id="formateurs" onkeyup="search(this.value,'formateurs')" autocomplete="on" class="search" />
                    </div>
                    <div class="row my-result my-result-formateurs"></div>
               </div>
            </div>
            <div class="col-3">
               <div class="box-arrow ">
                    <div class="als-cont text-uppercase">
                        élèves
                        <input type="text" name="search" id="students" onkeyup="search(this.value,'students')" autocomplete="on"  class="search"/>
                    </div>
                    <div class="row my-result my-result-students"></div>
                </div>
            </div>
            <div class="col-3">
               <div class="box-arrow ">
                     <div class="als-cont text-uppercase">
                        éditeurs
                        <input type="text" name="search" id="editor" onkeyup="search(this.value,'editor')" autocomplete="on"  class="search" />
                    </div>
                    <div class="row my-result my-result-editor"></div>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}