{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 3 : SCÉNARIO PÉDAGOGIQU{% endblock %}
{% block body %}

    <div class="row create-formation ">
        <div class="col-2 customSideleft shadow-lg ">
            <span class="top-title">Nouveau</span>
            <div class="left-bloc">
                <span class="text-uppercase">Module</span>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-top"></button>
                    <input class="nb-module" min="0" name="nb-module" value="1" type="number" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="plus btn-bottom"></button>
                </div>
            </div>
            <div class="left-bloc">
                <span class="text-uppercase">COURS</span>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-top"></button>
                    <input class="nb-cour" min="0" name="nb-cour" value="10" type="number" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="plus btn-bottom"></button>
                </div>
            </div>
            <div class="left-bloc">
                <span class="text-uppercase">CHAPITRES</span>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-top"></button>
                    <input class="nb-chapter" min="0" name="nb-chapter" value="1" type="number" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="plus btn-bottom"></button>
                </div>
            </div>
            <div class="left-bloc">
                <span class="text-uppercase">QUIZ</span>
                <div class="number-input">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn-top"></button>
                    <input class="nb-quiz" min="0" name="nb-quiz" value="1" type="number" disabled>
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="plus btn-bottom"></button>
                </div>
            </div>
            <span class="top-title">EXISTANT</span>
            <div class="btn-group switch-btn ml-1 mb-3">
                <div class="btn-toggle">
                    <button class="btn active module-btn">Modules</button>
                    <button class="btn cour-btn">Cours</button>
                    <button class="btn chapter-btn">Chapitre</button>
                    <button class="btn quiz-btn">Quiz</button>
                </div>
            </div>
            <div class=" right-check text-left">
                <div class="text-uppercase">
                    <div class="checkbox custom-control custom-checkbox small">
                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="module1" />
                        <label for="module1" class="custom-control-label" data-id="1"> Module 1</label>
                    </div>
                    <div class="checkbox custom-control custom-checkbox small">
                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="module2" />
                        <label for="module2" class="custom-control-label" data-id="2"> Module 2</label>
                    </div>
                    <div class="checkbox custom-control custom-checkbox small">
                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="module3" />
                        <label for="module3" class="custom-control-label" data-id="3"> Module 3</label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary mb-5 mt-5" id="add-config" data-path="">Ajouter</button>
        </div>
        <div class="col-8 text-center">
            <div class="btn-group switch-btn">
                <div class="btn-toggle">
                    <button class="btn monthly-btn">Non linéaire</button>
                    <button class="btn active annual-btn">Linéaire</button>
                </div>
            </div>
            <div class="collapse" id="monthly">
                tt
            </div>
            <div class="collapse show" id="annual">

                <div class="tree">
                    <ul>
                        <li>
                            <a href="#" class="formation-name">Formation</a>
                            <ul class="column-module">
                                <li>
                                    <a href="#" class="module-name">Module A</a>
                                    <ul class="column-cours">
                                        <li>
                                            <a href="#" class="cour-name">Cour 1</a>
                                            <ul class="vertical column-chapter">

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="cour-name">Cour 2</a>
                                            <ul class="vertical column-chapter">

                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="module-name">Module B</a>
                                    <ul class="column-cours">
                                        <li>
                                            <a href="#" class="cour-name">Cour 1</a>
                                            <ul class="vertical column-chapter">

                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col shadow-lg customSideright">
            <div  class="text-center">
                <img src="{{ asset('images/icons/step3.png') }}">
                <div class="bloc-content">
                    <a href="#collapseModule" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseModule">
                        <h6 class="m-0 text-gray-700 text-uppercase">Modules</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseModule" style="">
                        <ul id="list-module">
                        </ul>
                    </div>
                </div>

                <div class="bloc-content">
                    <a href="#collapseCour" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCour">
                        <h6 class="m-0 text-gray-700 text-uppercase">Cours</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseCour" style="">
                        <ul id="list-cour">

                        </ul>
                    </div>
                </div>

                <div class="bloc-content">
                    <a href="#collapseCardExample" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                        <h6 class="m-0 text-gray-700 text-uppercase">Chapitres</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseCardExample" style="">
                        <ul id="list-chap">
                        </ul>
                    </div>
                </div>
                <div class="bloc-content">
                    <a href="#collapseQuiz" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseQuiz">
                        <h6 class="m-0 text-gray-700 text-uppercase">Quiz</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="collapseQuiz" style="">
                        <ul id="list-quiz">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}