{% extends 'baseAdmin.html.twig' %}
{% block top_title %} {{nameformation}} I ÉTAPE 2: PARAMÈTRES {% endblock %}
{% block body %}

    {{ form_start(form,{'enctype':"multipart/form-data"}) }}
        <div class="row create-formation pr-4 pl-4">
            <div class="col-2 text-center">
                <img src="{{ asset('images/icons/step2.png') }}" class="img-responsive">
                <div class="row">
                    <div class="col-12">
                        {{  form_label(form.language, null, {
                            'label': 'CHOISIR UNE LANGUE',
                            'label_attr': {'class': 'text-uppercase mt-5'}
                        }) }}
                        {{ form_widget(form.language, {'attr':{'placeholder':'SÉLECTIONNER','class':"select-filter select-langue small-select"}})}}


                    </div>
                </div>

            </div>
            <div class="col-3 prerequisites">
                {{ form_widget(form.preq_formation, {'attr':{'class':"opacity0"}})}}

                <div class="catalogue">
                    <label >DÉFINIR UN PRÉREQUIS À LA FORMATION</label>
                    <div class="sidebar-dropdown dropdown-select right-check notprequis" id="choose-folder">
                        <label class="dropdown-label text-uppercase">SÉLECTIONNER</label>
                        <div class="dropdown-list text-uppercase catalogue-list ">
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                <label for="checkbox-custom1" class="custom-control-label" data-id="1"> Score</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                <label for="checkbox-custom2" class="custom-control-label" data-id="2"> Note</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                <label for="checkbox-custom3" class="custom-control-label" data-id="3"> Temps</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                <label for="checkbox-custom4" class="custom-control-label" data-id="4"> Validé</label>
                        </div>
                        </div>
                    </div>
                    <div class="list-selection row">
                    </div>
                </div>
                <div class="bloc block-1 text-center">
                    <span>PRÉREQUIS POINTS</span>

                    {{ form_widget(form.point_prequis, {'attr':{'class':"input-color"}})}}

                </div>

                <div class="bloc block-2">
                    <span>PRÉREQUIS NOTE</span>
                    {{ form_widget(form.point_note, {'attr':{'placeholder':'0/20', 'class':"input-color colorwhiter"}})}}
                    {{ form_widget(form.list_note, {'attr':{'placeholder':'Sélectionner un/des devoir(s)', 'class':"select-filter small-select"}})}}
                </div>
                <div class="bloc block-3">
                    <span>PRÉREQUIS TEMPS</span>
                    {{  form_widget(form.hour_time, {'attr':{'placeholder':'0H', 'class':"input-color colorwhiter"}})}}
                    {{  form_widget(form.list_temp, {'attr':{'class':"select-filter small-select"}})}}


                </div>
                <div class="bloc block-4">
                    <span>PRÉREQUIS VALIDATION</span>
                    <div class="validation">
                        <span>CAP AEPE > MATIÉRES GÉNÉRALES > MATH > 01. GÉOMÉTRIE</span>
                        <div class="col-12 shadow mb-4 details-formations">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                <h6 class="m-0 text-gray-700">Francais</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" id="collapseCardExample1" style="">
                                 <div class="card-body pl-0 pr-0">
                                    <ul class="events">
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox1" checked />
                                                            <label for="checkbox1" class="custom-control-label" data-id="3"> Français
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox2" checked />
                                                            <label for="checkbox2" class="custom-control-label" data-id="3"> MATHÉMATIQUES
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 shadow mb-4 details-formations">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                <h6 class="m-0 text-gray-700">Chimie</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" id="collapseCardExample" style="">
                                <div class="card-body pl-0 pr-0">
                                    <ul class="events">
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="chap1" checked />
                                                            <label for="chap1" class="custom-control-label" data-id="3"> Chap 1
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="element">
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="chap2" checked />
                                                            <label for="chap2" class="custom-control-label" data-id="3"> Chap2
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label>FONCTIONNALITÉS</label>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_comment, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_comment, null, {
                        'label': 'Autoriser les commentaires sur les chapitres',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}

                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_point, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_point, null, {
                        'label': 'Activer les gains de points sur la formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}
                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_hours, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_hours, null, {
                        'label': 'Activer les gains de points sur la formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}
                    {{ form_widget(form.enable_hourbyday, {'attr':{'class':"widthinput form-control"}})}}
                    jours

                </div>
                <div class="checkbox custom-control custom-checkbox small ml-5 hidden" id="sub-delay">
                       {{ form_widget(form.disable_quiz, {'attr':{'class':"check custom-control-input"}})}}
                       {{ form_label(form.disable_quiz, null, {
                                   'label': 'Supprimer les données des quiz et cours après expiration de la formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}
                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_inscrit, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_inscrit, null, {
                        'label': 'Autoriser les utilisateurs inscrits à cette formation à accéder au(x) forum(s)',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}
                    <div class="sidebar-dropdown dropdown-selectforum right-check small-select text-left" id="formdrown">

                        <label class="dropdown-labelforum text-uppercase">Nom Du Forum</label>
                        <div class="dropdown-forum text-uppercase">
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-groupform" class="check custom-control-input " id="forum1" />
                                <label for="forum1" class="custom-control-label" data-id="1"> forum 1</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-groupform" class="check custom-control-input " id="forum2" />
                                <label for="forum2" class="custom-control-label" data-id="2"> forum 2</label>
                            </div>
                            <div class="checkbox custom-control custom-checkbox small">
                                <input type="checkbox" name="dropdown-groupform" class="check custom-control-input " id="forum3" />
                                <label for="forum3" class="custom-control-label" data-id="3"> forum 3</label>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.insert_forform, {'attr':{'class':"opacity0"}})}}
                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.form_member, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.form_member, null, {
                        'label': 'Créer un forum uniquement accessible aux membres de cette formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}




                </div>
                <div class="checkbox custom-control custom-checkbox small  has-help">
                    {{ form_widget(form.chaine_formation, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.chaine_formation, null, {
                        'label': 'Créer une Chaîne dédiée aux membres de cette formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}



                        <span class="static-help" id="help-text2" data-tooltip="Valable uniquement si l'option réseau social est activée sur la plateforme"
                              data-tooltip-location="right">?</span>
                    </label>
                    <!--<span class="hidden" id="help-text-2">Valable uniquement si l'option réseau social est activée sur la plateforme</span>-->
                </div>

              <!--  <div class="checkbox custom-control custom-checkbox small">
                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox8" />
                    <label for="checkbox8" class="custom-control-label" data-id="4"> Activer le carnet de notes
                    </label>
                </div>-->

                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_description, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_description, null, {
                        'label': 'Permettre l’autodescription sur cette formation',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}

                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enable_autodesccomplete, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enable_autodesccomplete, null, {
                        'label': 'Permettre l’autodescription sur cette formation même complète',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}

                </div>
                <div class="checkbox custom-control custom-checkbox small">
                    {{ form_widget(form.enanble_invit, {'attr':{'class':"check custom-control-input"}})}}
                    {{ form_label(form.enanble_invit, null, {
                        'label': 'Activer l\'invitation à commenter et noter la formation à ',
                        'label_attr': {'class': 'custom-control-label'}
                    }) }}

                        {{ form_widget(form.progress_enableinvit, {'attr':{'class':"form-control"}})}}
                      % d’avancement

                </div>
                <div class="custom-popup ml-5 pl-3">
                    <a href="#" data-href="" data-toggle="modal" data-target="#setting-modal" id="custom-setting-modal"><span class="custom-pensil"></span> Poersonnaliser le pop up</a>
                </div>
            </div>
        </div>
        <div class="next-step-btn pr-4">
            <button type="submit" class="btn btn-primary" > Enregistrer  </button>
            <img src="{{ asset('images/icons/next.png') }}">
        </div>

    <!-- modal create folder note -->
    <div class="modal fade" id="setting-modal" tabindex="-1" role="dialog" aria-labelledby="setting-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="change-text" id="edit-title"><span class="custom-pensil"></span> <input type="text" class="form-control disabled" disabled id="modal-title" value="UN PETIT COUP DE POUCE ?"></div>
                    <div class="change-text"  id="edit-text"><span class="custom-pensil"></span> <textarea class="form-control disabled" disabled id="modal-text">Un commentaire et une note nous permettrais d’améliorer notre formation !? </textarea></div>
                    <div class="change-text"  id="edit-btn"><span class="custom-pensil"></span> <input type="text" class="form-control input-color disabled" disabled id="modal-btn" value="Noter"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save-folder" >Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <!-- end modal create folder note -->
{% endblock %}