{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 1: CARTE D'IDENTITÉ {% endblock %}
{% block javascripts %}
<script src="{{ asset('js/modelimage.js') }}"></script>
{% endblock %}
{% block body %}
    {{ form_start(form,{'enctype':"multipart/form-data"}) }}
        <div id="formationstep1" class="row create-formation pr-4 pl-4">
            <div class="col-8 ">
                <div class="stepper-img text-center"><img src="{{ asset('images/icons/step1.png') }}"></div>
                <div class="form-container sign-in-container">
                    <div class="form-group green-border-focus">

                        {{ form_label(form.titre_formation, null, {
                            'label': 'TITRE',
                            'label_attr': {'class': 'text-uppercase'}
                        }) }}
                        {{ form_widget(form.titre_formation, {'attr':{'class':"form-control "}}) }}
                    </div>
                    <div class="form-group green-border-focus description">
                        {{ form_label(form.descprition_formation, null, {
                            'label': 'Description',
                            'label_attr': {'class': 'text-uppercase'}
                        }) }}

                        {{ form_widget(form.descprition_formation, {'attr':{'class':"form-control ",'rows' : '14',  }}) }}
                    </div>
                </div>
                <label class="text-uppercase text-center sens-def ">
                    <span>Sens de défilement des cours
                    </span>
                </label>

                <div class="row choice-sens" id="getsensbase">

               <div class="col-12">     {{ form_widget(form.sens_formation, {'attr':{'class':"opacity0 savesensjs"}})}}</div>

                    <div class="box-arrow  col-4">

                        <div class=" custom-radio ">

                            <input type="radio" class="custom-control-input" value="1" id="left-sens" name="sens-cour">
                            <label class="custom-control-label" for="left-sens"></label>
                        </div>
                        <img src="{{ asset('images/icons/arrow-left.png') }}">
                    </div>
                    <div class="box-arrow col-4">
                        <div class=" custom-radio ">
                             <input type="radio" value="2" class="custom-control-input" id="buttom-sens" name="sens-cour">
                             <label class="custom-control-label" for="buttom-sens"></label>
                        </div>
                        <img src="{{ asset('images/icons/arrow-buttom.png') }}">

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row pt-5">
                    <div class="col-6 text-center">
                        <span class="title"> IMAGE D’ILLUSTRATION</span>
                        <a href="#" data-toggle="modal" class="box" data-target="#library-modal-step1" id="upload-global-image">
                            <img src="{{ asset('images/icons/images-step.png') }}">
                        </a>

                        {{ form_widget(form.image_formation, {'attr':{'class':"form-control value-file" }}) }}
                        <button class="btn btn-primary small">Envoyer</button>
                    </div>
                    <div class="col-6 text-center">
                        <span class="title"> VIDÉO D’ILLUSTRATION</span>
                        <a href="#" data-toggle="modal" class="box" data-target="#library-modal-step1" id="upload-fond-video">

                            <img src="{{ asset('images/icons/video-up.png') }}">
                            <video controls id="advideo">
                                <source src="" type="video/mp4"/>
                            </video>
                        </a>

                        {{ form_widget(form.video_formation, {'attr':{'class':"form-control " }}) }}

                        <button class="btn btn-primary small">Envoyer</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-uppercase">
                        <div class="catalogue">
                            <label >Catalogue</label>
                            <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                                <label class="dropdown-label text-uppercase">Sélection</label>
                                <div class="dropdown-list text-uppercase catalogue-list ">
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom1" />
                                        <label for="checkbox-custom1" class="custom-control-label" data-id="1"> Tout</label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom2" />
                                        <label for="checkbox-custom2" class="custom-control-label" data-id="2"> Shop</label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom3" />
                                        <label for="checkbox-custom3" class="custom-control-label" data-id="3"> Invisible</label>
                                    </div>
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="checkbox-custom4" />
                                        <label for="checkbox-custom4" class="custom-control-label" data-id="4"> Petite enfance</label>
                                    </div> <div class="new-elemnt">
                                        <img src="{{ asset('images/icons/plus.png') }}">
                                    </div>
                                </div>
                            </div>
                            <div class="list-selection row">
                            </div>
                        </div>

                        <div class="category">
                            <label >Catégorie</label>
                            <div class="sidebar-dropdown dropdown-select right-check" id="choose-folder">
                                <label class="dropdown-label text-uppercase">Sélection</label>
                                <div class="dropdown-list text-uppercase p-0">
                                    {% for categ in categories %}
                                    <div class="checkbox custom-control custom-checkbox small">
                                        <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="categCheck_{{ categ.id }}" />
                                        <label for="categCheck_{{ categ.id }}" class="custom-control-label" data-id="1"> {{ categ.name }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="list-selection row">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 param-note">
                        <label >Paramètres du carnet de notes</label>
                        <span>Ajout des notes et catégories de notes sur le carnet:</span>
                        {{ form_widget(form.confignote_formation, {'attr':{'placeholder':'Manuel','class':"form-control"}})}}




                        <div class="mod-note" id="getvalforinput">
                            {{ form_widget(form.nodetype_formation, {'attr':{'class':"form-control attributeval"}})}}


                            <div class="custom-control custom-radio custom-control-inline small mb-2 nopaddlg">
                                <input type="radio" class="custom-control-input" value="1" id="customCheck5" name="customnote" >
                                <label class="custom-control-label" for="customCheck5"> Couleurs</label>
                                <span class="color1"></span>
                                <span class="color2"></span>
                                <span class="color3"></span>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="custom-control-input" value="2" id="customCheck6" name="customnote" >
                                <label class="custom-control-label" for="customCheck6"> A à F </label>


                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2 tow-elment">
                                <input type="radio" class="custom-control-input" value="3" id="customCheck7"  name="customnote" >
                                <label class="custom-control-label" for="customCheck7"> Numérique </label>



                                </label>

                                {{ form_widget(form.notemax_formation, {'attr':{'placeholder':'Note maximal','class':"form-control"}})}}
                            </div>
                            <div class="custom-control custom-radio custom-control-inline small mb-2">
                                <input type="radio" class="custom-control-input" value="4" id="customCheck8" name="customnote">
                                <label class="custom-control-label" for="customCheck8">Appréciations (acquis, à perfectionner, en cours d\'acquisition, non acquis) </label>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="btnstep1" class="next-step-btn pr-4">
            <button type="submit" class="btn btn-primary" > Enregistrer  </button>
            <img src="{{ asset('images/icons/next.png') }}">
        </div>

    {{ form_end(form) }}

    <div class="modal fade builder-modal" id="library-modal-step1" tabindex="-1" role="dialog" aria-labelledby="library-modal-step1" aria-hidden="true"  >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="top-modal row">
                    <div class="col-3 text-left"> <img src="{{ asset('images/builder/bg-2.png') }}" class="exist-page" ></div>
                    <div class="col-8 text-center">
                        <div class="btn-group switch-btn d-inline-block mt-4 mb-4">
                            <div class="btn-toggle">
                                <button class="btn dounload-btn active">Télécharger</button>
                                <button class="btn gallerie-btn">Galerie</button>
                                <button class="btn models-btn">Mes modéles </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" id="typevideoorimage"/>
                    <div class="col-10 text-center mb-4 mr-0">
                        <div class="collapse show pl-2" id="dounload">
                            <h3 class="text-uppercase text-gray-700 font-weight-bolder mb-3">Choisissez un fichier</h3>
                            <div class="get-image mb-4" id="file-to-upload-step1">
                                <form method="post" action="" enctype="multipart/form-data"
                                      id="myform">
                                    <div >
                                        <input type="text" class="value-file"  placeholder="Aaucun fichier séléctionné" >
                                        <div class="btn-save-image">
                                            <input type="file" id="file" name="file" class="image-to-import" />
                                            <button class="btn btn-primary" id="import-img">Importer</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="option text-left">
                                <label class="text-gray-700 d-block pb-3"> Options:</label>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="option1" />
                                    <label for="option1" class="custom-control-label" data-id="1"> Remplacer le contenu existant</label>
                                </div>
                                <div class="checkbox custom-control custom-checkbox small">
                                    <input type="checkbox" name="dropdown-group" class="check custom-control-input " id="option2" />
                                    <label for="option2" class="custom-control-label" data-id="2"> Enregistrer la sauvegarde avant d'importer</label>
                                </div>
                            </div>
                        </div>
                        <div class="collapse pl-2" id="gallerie">
                            <div class="row row pr-0 mr-0 mt-5 mr-4" id="file-view">
                                <input type="hidden" id="user-id"  value="{{app.user.id}}">
                                {% for media in userMedia %}
                                    {% set extention = media.name|split('.')|last %}
                                    {% if (extention == 'mp4') %}
                                        <div class="col-3 video mb-5">
                                            <div class="video">
                                                <video id="example_video_by_hand" class="card-img-top" controls width="100%" height="100%"  preload="auto" data-setup="{}" data-video-gl="{{media.name}}">
                                                    <source type="video/mp4" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                                </video>
                                                <label class="d-block text-gray-700">{{media.name}}</label>
                                            </div>
                                        </div>
                                    {%  else %}
                                        <div class="col-3 image mb-5">
                                            <img class="card-img-top" data-image-gl="{{media.name}}" src="/images/uploads/{{app.user.id}}/documents/{{media.name}}">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="collapse pl-2" id="models">models</div>
                        <div class="text-right">
                            <button class="btn btn-primary p-2" id="save-file">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}