{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 7: INSCRIPTIONS | GÉNÉRER UN CODE D'INVITATION {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 text-center"><img src="{{ asset('images/step/step7.png') }}">
                <span class="d-block mt-4 mb-4 title-step-code text-uppercase">Utilisation du code d'invitation</span>
            </div>
            <div class="col-8 text-center">
                <span class="d-block mt-4 mb-4 title-step-code text-uppercase">Copier pour partager</span>
            </div>
        </div>
        <div class="row create-formation-step pr-4 pl-4">
            <div class="col-4 offset-3 green-border-focus inp-cod">
                <input class="form-control" placeholder="greFOJo!6jef3_fFR5" id="cod" rows="1">
            </div>
            <div class="col-3 form-group green-border-focus btn-cod">
                <button class="btn btn-primary btn-step-cop">Copier</button>
            </div>
        <div class="col-8 text-center">
            <span class="d-block mt-4 mb-4 title-step-code text-uppercase">Envoyer par mail automatique</span>
        </div>
        <div class="col-6">
            <div class="form-container sign-in-container">
                <div class="form-group green-border-focus">
                    <label for="exp" class="offset-1 text-uppercase gray-title-step-code">Mail de l'expéditeur</label>
                    <input class="form-control" id="exampleFormControlTextarea5" rows="1">
                </div>
                <div class="form-group green-border-focus">
                    <label for="exp" class="offset-1 text-uppercase gray-title-step-code">Nom de l'expéditeur</label>
                    <input class="form-control" id="exampleFormControlTextarea5" rows="1">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-container sign-in-container">
                <div class="form-group green-border-focus">
                    <label for="dest" class="offset-1 text-uppercase gray-title-step-code">Mail du destinataire</label>
                    <input class="form-control" id="exampleFormControlTextarea5" rows="1">
                </div>
                <div class="form-group green-border-focus">
                    <label for="dest" class="offset-1 text-uppercase gray-title-step-code">Nom du destinataire</label>
                    <input class="form-control" id="exampleFormControlTextarea5" rows="1">
                </div>
            </div>
        </div>
        <div class="col-4 offset-11 envoyer-step7" >
        <button class="btn btn-primary btn-step">Envoyer</button>
        </div>
    </div>

    </div>  
{% endblock %}