{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 7: INSCRIPTIONS | GÉNÉRER UN CODE D'INVITATION {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 text-center"><img src="{{ asset('images/step/step7.png') }}">
                <span class="d-block mt-4 mb-4 title-step-v4 text-uppercase">Résumé du code d'invitation</span>
            </div>
        </div>
        <div class="row rounded-bloc">
            <div class="col-8 offset-2">
                {% for c in code %}
               <div class="shadow mb-4 details-step7">
                   <div class="offset-1 step-v4cod">
                   <span class="text-uppercase titre-step-v4">Titre:</span>
                   <p class="text-uppercase parag-step">
                       {{ c.title }}
                   </p>
                   <span class="text-uppercase titre-step-v4">Description:</span>
                   <p class="text-uppercase parag-step">
                       {{ c.description }}
                   </p>
                   <span class="text-uppercase titre-step-v4">Résumé:</span> <br>
                   <h4 class="gray-title"><b>{{ c.quantity }}</b></h4>
                   <p class="parag-step">
                       <span>Formation(s) :
                           {% for f in c.formation %}
                                <span> {{ f }} </span>
                           {% endfor %}
                       </span><br>
                       <span>Classe(s) :
                           {% for cl in c.class %}
                               <span> {{ cl }} </span>
                           {% endfor %}
                       </span><br>
                       <span>Type(s) utilisateur(s) :
                            {% for s in c.statut %}
                                <span> {{ s }} </span>
                            {% endfor %}
                       </span><br>
                       <span>Valable jusqu'au : {{ c.period }}</span>

                   </p>

                       {#Formation(s) : "CAP AEPE" <br>
                       Classe(s) : Classe 6 <br>
                       Statut(s) : Etudiants <br>
                       Valable jusqu'au : 11/07/2020#}
                   </div>
               </div>
                <div class="row buttons">
                    <div class="col-4">
                        <a href="{{ path('edit_code',{'id': c.id}) }}" rel="tooltip" class="btn btn-primary btn-code" >Modifier</a>
                    </div>
                    <div class="col-4">
                    <a href="{{ path('new_formation_step7') }}" rel="tooltip" class="btn btn-primary btn-code" >Annuler</a>
                    </div>
                    <div class="col-4">
                        <a href="{{ path('new_code_step7') }}" rel="tooltip" class="btn btn-primary btn-code" >Enregistrer</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>  
{% endblock %}