{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 6 : RÉCOMPENSES {% endblock %}
{% block body %}

    <div class="row create-formation pr-4 pl-4">
        <div class="col-12">
        <div class="stepper-img text-center margin-title">
            <img src="{{ asset('images/step6/step-6.png') }}">
        </div>
        </div>
        <div class="col-4 text-center step6">
            <div class="btn-group switch-btn d-inline-block">
                <div class="btn-toggle">
                    <button class="btn active monthly-btn">Badges</button>
                    <button class="btn annual-btn">Certificats</button>
                </div>
            </div>
        </div>
        <div class="container container-step col-12">
            <div class="collapse show month" id="monthly">
                <div class="col-4 offset-8">
                    <a class="btn offset-6 p-1 bag-img" href="{{ path('new_badge_step6') }}"><img src="/assets/images/step6/step6-b.png"></a>
                </div>
                <div class="col-3">
                    <div class="sidebar-dropdown dropdown-select" id="certif" style="top: 20px">
                        <label class="dropdown-label text-uppercase">Mes badges</label>
                        <div class="dropdown-list text-uppercase">
                            <span>Tous les badges</span>
                            <br>
                            <span>Galerie</span>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card-header py-3 pt-5">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action version-3">
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete" title="Supprimer les utilisateurs selectionnées" data-path="{{ path('delete_badges')}}">
                                    <img src="/assets/images/icons/trash-small.png">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="add-certif">
                            <div class="row rounded-bloc-certif">
                                {% for p in badges %}
                                    <div class="col-2-certif">
                                        <div class="box-arrow">
                                            <img class="grayscale" src="/assets/images/step6/2.png" style="width: 70px">
                                            <div class="tools-certif">
                                                <a href="{{ path('duplicate_badge',{'id': p.id}) }}" rel="tooltip" title="Dupliquer Badge" class="btn btn-vu btn-link btn-sm offset-0 copy-bad"><img src="/assets/images/step6/21.png" class="bad-size"></a>
                                                <a href="" rel="tooltip" data-toggle="modal" data-target="#delete-badge" title="Supprimer Badge" class="btn btn-vu btn-link btn-sm offset-0 del-bad" data-id="{{ p.id }}"><img src="/assets/images/step6/25.png" class="bad-size"></a>
                                            </div>
                                            <div class="checkbox odd custom-control-certif custom-checkbox small pb-3">
                                                <input type="checkbox" class="custom-control-input check-element" name="badge-check" id="badgeCheck_{{ p.id }}" data-id="{{ p.id }}">
                                                <label for="badgeCheck_{{ p.id }}" class="custom-control-label text-uppercase">
                                                </label>

                                            </div>
                                            <a href="" class="up-certif">
                                                <span style="color: #666666">{{ p.id}}</span>
                                                <img src="/assets/images/builder/upload.png" style="width: 30px; margin-left: 56px;">
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- modal delete badge -->
                        <div class="modal fade" id="delete-badge" tabindex="-1" role="dialog" aria-labelledby="delete-badge" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer ce badge</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer ce badge ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                        <a href="#" class="btn btn-primary delete-bad">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal delete badge -->
                        <!-- modal dupliquer badge -->
                        <div class="modal fade" id="copy-badge" tabindex="-1" role="dialog" aria-labelledby="delete-badge" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Duplication du badge</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de dupliquer ce badge ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                        <a href="#" class="btn btn-primary copy-bad">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal dupliquer badge -->
                        <!-- modal delete selected badges -->
                        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Supprimer les badges</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span> Voulez vous supprimer les badges sélectionnés? </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                                        <a href="#" class="btn btn-primary" id="delete-badges">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end modal selected badges -->
                    </div>
                </div>
            </div>
            <div class="collapse ann" id="annual">
                <div class="col-4 offset-8">
                    <button class="btn offset-6 p-1 cert-img"> <img src="/assets/images/step6/12.png"></button>
                </div>
                <div class="col-3">
                    <div class="sidebar-dropdown dropdown-select" id="certif" style="top: -2px">
                        <label class="dropdown-label text-uppercase">Mes certificats</label>
                        <div class="dropdown-list text-uppercase">
                            <span>Tous les certificats</span>
                            <br>
                            <span>Galerie</span>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card-header py-3">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action version-3">
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-selected-user" title="Supprimer les certificats selectionnées" data-path="/student/deleteNotes">
                                    <img src="/assets/images/icons/trash-small.png">
                                </button>
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-selected-user" title="Télécharger les certificats selectionnées" data-path="/formation/upload">
                                    <img class="img-trash" src="/assets/images/icons/upload.png">
                                </button>
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-selected-user" title="Dupliquer les certificats selectionnées" data-path="/formation/copy">
                                    <img class="img-cop" src="/assets/images/step6/5.png" width="20px">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="add-certif">
                        <div class="row rounded-bloc-certif">
                            {% for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] %}
                            <div class="col-2-certif">
                                <div class="box-arrow">
                                    <img src="/assets/images/step6/13.png" style="width: 70px">
                                    <div class="tools-certif">
                                    <a href="" class="offset-0"><img src="/assets/images/step6/19.png" style="width: 15px"></a>
                                        <a href="" class="offset-0"><img src="/assets/images/step6/21.png" style="width: 15px"></a>
                                        <a href="" class="offset-0"><img src="/assets/images/step6/22.png" style="width: 15px"></a>
                                        <a href="" class="offset-0"><img src="/assets/images/step6/25.png" style="width: 15px"></a>
                                    </div>
                                    <div class="checkbox custom-control-certif custom-checkbox small pb-3">
                                                    <input type="checkbox" class="custom-control-input check-element" id="certifCheck_{{ i }}">
                                                    <label for="certifCheck_{{ i }}" class="custom-control-label text-uppercase" data-id="3"> </label>

                                    </div>
                                    <span class="certif-n">Nom certificat</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    </div>

{% endblock %}