{% extends 'baseAdmin.html.twig' %}
{% block top_title %} NOUVELLE FORMATION I ÉTAPE 6 : RÉCOMPENSES {% endblock %}
{% block body %}

    <div class="row create-formation pr-4 pl-4">
        <div class="col-12">
        <div class="stepper-img text-center margin-title">
            <img src="{{ asset('images/step6/step-6.png') }}">
        </div>
        </div>
        <div class="row col-6 offset-3 pt-5 step6">
        <div class="container container-step col-12">
            <div class="collapse show" id="monthly">
                {{ form_start(form,{'enctype':"multipart/form-data"}) }}
                <div class="form-container sign-in-container">
                    <div class="form-group step-name green-border-focus">
                        <label for="name" class="text-left text-uppercase">Nom du badge</label>
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="row row pr-0 mr-0">
                        <div class="col-4">
                            <div class="box-badge">
                                <div class="vich-image-badge">
                                {{ form_widget(form.picture)}}
                                </div>
                                <img class="img-badge badge-box" src="{{ asset('images/step6/2.png')}}">
                            </div>
                            {{ form_widget(form.picture_name) }}
                            <button class="btn btn-primary small">Télécharger</button>
                        </div>
                        <div class="col-8">
                            <div class="col-4 btn-bad">
                            <button type="button" data-toggle="modal" data-target="#devoir" class="btn btn-primary small-step">Paramètres</button>
                            </div>
                            <div class="col-5 pt-4">
                                <div class="radio-typ containerOuter">
                                    {% for a in form.attribute %}
                                    <div class="radio-typ container">
                                        <div class="rad-exp">
                                            {{ form_widget(a, {'attr' : {'class' : 'circle'}}) }}
                                            {{ form_label(a, null , {'label_attr' : {'class' : 'entry-label text-uppercase'}}) }}
                                        </div>
                                    </div>
                                    {% endfor %}

                                    {#<input type="radio" class="hidden" id="auto" name="inputs">
                                    <label class="entry" for="auto"><div class="circle"></div><div class="entry-label text-uppercase">Attribuer automatiquement</div></label>
                                    <input type="radio" class="hidden" id="man" name="inputs">
                                    <label class="entry" for="man"><div class="circle"></div><div class="entry-label text-uppercase">Attribuer manuellement</div></label>#}
                                    <div class="checkbox custom-control-bdg custom-checkbox smalls">
                                        {{ form_widget(form.valid) }}
                                        <label for="badge_valid" class="custom-control-label text-uppercase" data-id="3"> Valable uniquement pendant{{ form_widget(form.period) }}mois
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Devoir -->
                    <div class="modal fade" id="devoir" tabindex="-1" role="dialog" aria-labelledby="devoir-modal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content-dev">
                                <div class="modal-header-dev">
                                    <h2 class="modal-title-dev text-uppercase text-center" id="modal-title">Condition - Devoir</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                    <div class="col-4">
                                        <select class="select2 small-select"  id="typestep" style="display: block;" >
                                            <option class="devoir text-uppercase">Devoir</option>
                                            <option class="valid text-uppercase">Valider</option>
                                            <option class="quiz text-uppercase">Quiz</option>
                                            <option class="score text-uppercase">Score</option>
                                            <option class="temps text-uppercase">Temps</option>
                                            <option class="forum text-uppercase">Forum</option>
                                            <option class="note text-uppercase">Note</option>
                                            <option class="recompense text-uppercase">Récompenses</option>
                                        </select>
                                    </div>
                                    <div class="col-4" id="dev-3">
                                        <select class="select2 small-select" id="badge-devoir" style="display: block;">
                                            <option class="text-uppercase">Choisir le devoir</option>
                                            <option class="appreciation">Appréciation</option>
                                            <option class="chiffree">Chiffré</option>
                                            <option class="couleurs">Couleur</option>
                                            <option class="autre">Autre</option>
                                        </select>
                                    </div>
                                    <div class="col-4 hidden" id="dev-5">
                                        {{form_widget(form.duty)}}
                                    </div>
                                        <div class="col-4 hidden" id="devoir-val">
                                            {{ form_widget(form.val_duty, {'attr':{'placeholder':'0/20'}}) }}
                                            {#<input type="number" class="custom-control-label-dev" id="devoir-val" placeholder="0/20" min="0" value="" style="width: 137px;padding-left: 54px;left: 15px">#}
                                        </div>
                                        <div class="col-4 hidden" id="devoir-otr">
                                            {{ form_widget(form.val_duty, {'attr':{'placeholder':'A'}}) }}
                                            {#<input type="text" class="custom-control-label-dev" id="devoir-otr" placeholder="A" value="" style="width: 137px;padding-left: 54px;left: 15px">#}
                                        </div>
                                        <div class="col-3 hidden" id="dev-color">
                                            {{ form_widget(form.val_duty, {'attr':{'class':'select-color small-select','id':'dev-color'}}) }}
                                            {#<select class="select-color small-select" style="display: block;">
                                                <option value="green" data-image="{{ asset('images/step6/9.png') }}"></option>
                                                <option value="orange" data-image="{{ asset('images/step6/10.png') }}"></option>
                                                <option value="red" data-image="{{ asset('images/step6/11.png') }}"></option>
                                            </select>#}
                                        </div>
                                        <!--Valid!-->
                                        <div class="col-8 hidden" id="valid-8">
                                            <div class="shadow mb-4 details-formations" style="border-radius: 15px; border: 1px solid #ccc;" id="devoir">
                                                <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                    <h6 class="m-0 text-gray-700">CAP AEPE > MATIÉRES GÉNÉRALES > MATH > 01. GÉOMÉTRIE</h6>
                                                </a>
                                                <!-- Card Content - Collapse -->
                                                <div class="collapse" id="collapseCardExample1" style="">

                                                    <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                        <h6 class="m-0 text-gray-700">Francais</h6>
                                                    </a>
                                                    <div class="collapse" id="collapseCardExample2" style="">
                                                        <ul class="events">
                                                            {% for val in form.val_valid %}
                                                            <li>
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="element">
                                                                            <div class="checkbox custom-control custom-checkbox small">
                                                                                {{ form_widget(val, {'attr' : {'class' : 'check custom-control-input', 'checked':'checked'}}) }}
                                                                                {{ form_label(val, null , {'label_attr' : {'class' : 'custom-control-label'}}) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end!-->
                                        <!--Quiz!-->
                                        <div class="col-3 hidden" id="quiz-3">
                                            <select class="select2 small-select text-uppercase" id="badge-quiz" style="display: block;">
                                                <option>Sélectionner</option>
                                                <option class="badges">Badges</option>
                                                <option class="certificats">Certificats</option>
                                            </select>
                                        </div>
                                        <div class="col-5 hidden" id="quiz-5">
                                            {{form_widget(form.quiz)}}
                                        </div>
                                        <div class="col-5 hidden" id="quiz-dev">
                                            {{ form_widget(form.val_quiz, {'attr':{'placeholder':'0'}}) }}
                                            <span style="padding-left: 53px"> Points sur </span>
                                            <br>
                                            {{form_widget(form.quiz)}}
                                        </div>
                                        <!--end!-->
                                        <!--score!-->
                                        <div class="col-6 offset-1 hidden" id="score-6">
                                            {{ form_widget(form.score, {'attr':{'placeholder':'0'}}) }}
                                            <span class="text-uppercase" style="padding-left: 53px; color: #666666"> Points sur </span>
                                            <br>
                                        </div>
                                        <div class="col-8 offset-4 hidden" id="score-8">
                                            <div class="shadow mb-4 details-formations" style="border-radius: 15px; border: 1px solid #ccc;" id="devoir">
                                                <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                    <h6 class="m-0 text-gray-700">CAP AEPE > MATIÉRES GÉNÉRALES > MATH > 01. GÉOMÉTRIE</h6>
                                                </a>
                                                <!-- Card Content - Collapse -->
                                                <div class="collapse" id="collapseCardExample1" style="">

                                                    <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                        <h6 class="m-0 text-gray-700">Francais</h6>
                                                    </a>
                                                    <div class="collapse" id="collapseCardExample2" style="">
                                                        <ul class="events">
                                                            {% for val in form.val_valid %}
                                                                <li>
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="element">
                                                                                <div class="checkbox custom-control custom-checkbox small">
                                                                                    {{ form_widget(val, {'attr' : {'class' : 'check custom-control-input', 'checked':'checked'}}) }}
                                                                                    {{ form_label(val, null , {'label_attr' : {'class' : 'custom-control-label'}}) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end!-->
                                        <!--Temps!-->
                                        <div class="col-4 hidden" id="temps-4" style="padding-left: 0px">
                                            {{ form_widget(form.time, {'attr':{'placeholder':'0h'}}) }}
                                            <span style="padding-left: 62px; color: #666666" class="text-uppercase"> Passé sur </span>
                                            <br>
                                        </div>
                                        <div class="col-4 hidden" id="temps--4">
                                            <div id="bad">
                                                {{ form_widget(form.val_time)}}
                                            </div>
                                        </div>
                                        <!--end!-->
                                        <!--Forum!-->
                                        <div class="col-6 hidden" id="forum-4" style="padding-left: 0px">
                                            {{ form_widget(form.forum, {'attr':{'placeholder':'0'}}) }}
                                            <span style="padding-left: 62px; color: #666666" class="text-uppercase"> Messages mininmum </span>
                                            <br>
                                        </div>
                                        <!--end!-->
                                        <!--Récompenses!-->
                                        <div class="col-4 hidden" id="recomp-4" style="margin-left: -12px;">
                                            <div class="shadow mb-4 details-note" style="border-radius: 15px; border: 1px solid #ccc;" id="devoir">
                                                <div class="sidebar-dropdown dropdown-select right-check open" id="choose-badge" data-ids="">
                                                    <label class="dropdown-label text-uppercase" style="color: #666666">Badges</label>
                                                    <div class="dropdown-list text-uppercase">
                                                        {% for r in form.rewards %}
                                                        <div class="checkbox custom-control custom-checkbox small">
                                                            {{ form_widget(r, {'attr':{'class':'check-bg'}}) }}
                                                            {{ form_label(r, null , {'attr':{'class':'custom-control-label text-uppercase'}}) }}
                                                            {#<label for="badge1" class="custom-control-label text-uppercase" data-id="1"> Badge 1</label>#}
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 hidden" id="recomp--4" style="margin-left: -12px;">
                                            <div class="shadow mb-4 details-note" style="border-radius: 15px; border: 1px solid #ccc;" id="devoir">
                                                <div class="sidebar-dropdown dropdown-select right-check open" id="choose-certif" data-ids="">
                                                    <label class="dropdown-label text-uppercase" style="color: #666666">Certificats</label>
                                                    <div class="dropdown-list text-uppercase">
                                                        {% for c in form.certifs %}
                                                            <div class="checkbox custom-control custom-checkbox small">
                                                                {{ form_widget(c, {'attr':{'class':'check-bg'}}) }}
                                                                {{ form_label(c, null , {'attr':{'class':'custom-control-label text-uppercase'}}) }}
                                                                {#<label for="badge1" class="custom-control-label text-uppercase" data-id="1"> Badge 1</label>#}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end!-->
                                        <!--Note!-->
                                        <div class="col-5 hidden" id="note-4" style="margin-left: -12px;">
                                            <div class="shadow mb-4 details-note" style="border-radius: 15px; border: 1px solid #ccc;" id="devoir">
                                                <h6 class="text-uppercase" style="padding: 10px;padding-left: 22px;color: #4a4b54;">Note sur la moyenne de:</h6>
                                                <div style="background-color: gainsboro;border-radius: 22px;margin: 5px;">
                                                <a href="#collapseOne" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                    <h6 class="text-gray-700 text-uppercase">Formation</h6>
                                                </a>
                                                </div>
                                                <div class="collapse" style="background-color: gainsboro;border-radius: 22px;margin: 12px;margin-left: 30px" id="collapseOne">

                                                    <a href="#collapseTwo" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                        <h6 class="text-gray-700 text-uppercase">Module 1</h6>
                                                    </a>
                                                </div>
                                                    <div class="collapse" id="collapseTwo" style="background-color: gainsboro;border-radius: 22px;margin: 12px;margin-left: 60px;">
                                                        <span class="d-block card-header py-3">
                                                            {{ form_widget(form.note, {'attr':{'class':'hidden'}} ) }}
                                                            <h6 class="text-gray-700 text-uppercase">Cours</h6>
                                                        </span>
                                                    </div>
                                                <div class="collapse" style="background-color: gainsboro;border-radius: 22px;margin: 12px;margin-left: 30px" id="collapseOne">
                                                    <a href="#collapseThree" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                                                        <h6 class="text-gray-700 text-uppercase">Module 2</h6>
                                                    </a>
                                                </div>
                                                    <div class="collapse" id="collapseThree" style="background-color: gainsboro;border-radius: 22px;margin: 12px;margin-left: 60px;">
                                                        <a href="#collapseThree" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample3">
                                                            <h6 class="text-gray-700 text-uppercase">Cours 1</h6>
                                                        </a>
                                                    </div>
                                                    <div class="collapse" id="collapseThree" style="background-color: gainsboro;border-radius: 22px;margin: 12px;margin-left: 60px;">
                                                        <a href="#collapseThree" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample3">
                                                            <h6 class="text-gray-700 text-uppercase">Cours 2</h6>
                                                        </a>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-3 hidden" id="note--4" style="padding-left: 0px;">
                                            {{ form_widget(form.note_val) }}
                                            {#<input type="number" class="custom-control-label-dev" style="padding-left: 31px; width: 77px;top: -24px;margin-left: 68px;" placeholder="0" min="0" value="">#}
                                        </div>
                                        <!--end!-->
                                    </div>
                                </div>
                                <div class="modal-footer-dev text-center" style="margin: auto">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group step-name green-border-focus">
                        <label for="description" class="text-uppercase">Description</label>
                        {{ form_widget(form.description) }}
                    </div>
                    <button type="submit" class="btn btn-primary small">Enregistrer</button>
                </div>
                {{  form_end(form) }}
            </div>
            <div class="collapse" id="annual">
                <div class="row col-12" style="margin-top: -142px">
                    <button class="btn float-right offset-10 p-1"> <img src="/assets/images/step6/12.png"></button>
                </div>
                <div class="col-4">
                    <div class="sidebar-dropdown dropdown-select" id="certif">
                        <label class="dropdown-label text-uppercase">Mes certificats</label>
                        <div class="dropdown-list text-uppercase">
                            <span>Tous les certificats</span>
                            <br>
                            <span>Galerie</span>
                        </div>
                    </div>
                </div>

                <div class="full-card shadow py-2 mt-4">
                    <div class="card-header py-3">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action version-2">
                                <button type="button" class="btn btn-download btn-link btn-sm" rel="tooltip" data-toggle="modal" data-target="#delete-selected-user" title="Supprimer les utilisateurs selectionnées" data-path="/student/deleteNotes">
                                    <img src="/assets/images/icons/trash-small.png">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="add-certif">
                            <div class="row rounded-bloc-certif">
                                {% for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] %}
                                    <div class="col-2-certif">
                                        <div class="box-arrow">
                                            <img src="/assets/images/step6/13.png" style="width: 70px">
                                            <div class="tools-certif">
                                                <a href="" class="offset-0"><img src="/assets/images/step6/19.png" style="width: 15px"></a>
                                                <a href="" class="offset-0"><img src="/assets/images/step6/21.png" style="width: 15px"></a>
                                                <a href="" class="offset-0"><img src="/assets/images/step6/22.png" style="width: 15px"></a>
                                                <a href="" class="offset-0"><img src="/assets/images/step6/25.png" style="width: 15px"></a>
                                            </div>
                                            <div class="checkbox custom-control-certif custom-checkbox small pb-3">
                                                <input type="checkbox" class="custom-control-input " id="customCheck_{{ i }}">
                                                <label for="customCheck_{{ i }}" class="custom-control-label text-uppercase" data-id="3"> </label>

                                            </div>
                                            <a href="" class="up-certif"><img src="/assets/images/builder/upload.png" style="width: 30px"></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        </div>
    </div>
{% endblock %}