 <div id="sidebar-wrapper" class="update-imageInfo">
    {% set extention = media.name|split('.')|last %}

	<div class="img-sidebar">
        {% if extention == 'pdf' %}
            <img  src="/images/pdf.png" width="120">
        {% elseif extention == 'docx' %}
            <img src="/images/word.png" width="120">
        {% elseif extention == 'wav' %}
            <img src="/images/audio.png" width="120">
        {% else %}
           <img src="/images/uploads/{{app.user.id}}/documents/{{media.name}}" width="120px">
        {% endif %}
    </div>

    <ul class="sidebar-nav">
        {% set extention = media.name|split('.')|last %}
        <li> TÉLÉVERSÉ LE : {{media.createdAt|date("d M Y")}}</li>
        <li> TYPE DE FICHIER : {{ media.name|split('.')|last }}</li>
        <li> DIMENSIONS : 200px x 400px </li>
        <li> TAILLE : {{media.size}} KB </li>
        <li> DOSSIERS : 
            {% set doc = '' %}
            {% set array = [] %}
            {% for f in media.getDocumentFolders() %}
              {% set doc = [doc, f.name]|join(', ') %}
              {% set array = array|merge([f.id]) %}
            {% endfor %}
            {{ doc|trim(',') }}
         </li>
        <li>
        	<div class="sidebar-dropdown" id="choose-folder">
              <label class="dropdown-label text-uppercase">Ajouter au(x) dossier(s)</label>
              <div class="dropdown-list">
                {% for folder in allfolders %}
                <div class="checkbox custom-control custom-checkbox small">
                  <input type="checkbox" name="dropdown-group"  {% if folder.id in array %} checked="checked" {% endif %} class="check custom-control-input " id="checkbox-custom_{{ folder.id }}" />
                  <label for="checkbox-custom_{{ folder.id }}" class="custom-control-label" data-id="{{folder.id}}"> {{ folder.name }}</label>
                </div>
                  {% endfor %}
              </div>
            </div>
        </li>
        <li> EMPLACEMENTS:
        	<ul>
        		<li>Cours A (2)</li>
        		<li>Cours B (2)</li>
        	</ul>	
        </li>
    </ul>
    <div class="form-img">
    	<div class="form-group">
    		<label>NOM DU FICHIER</label>
    		<input type="text" name="name-file" id="name-file" class="form-control" value="{{media.name}}">
    	</div>
    	<div class="form-group">
    		<label>TITRE</label>
    		<input type="text" name="title-file" id="title-file" class="form-control" value="{{media.title}}">
    	</div>
    	<div class="form-group">
    		<label>TEXTE ALTERNATIF</label>
    		<input type="text" name="alternativ-text" id="alternativ-text" class="form-control" placeholder="Décrire l'image" value="{{media.alternatifText}}">
    	</div>
    	<div class="form-group">
    		<label>DESCRIPTION</label>
    		<textarea name="description" id="description" class="form-control" > {{media.description}}</textarea>
    	</div>
    	<div class="row">
    		<button class="col-4 btn btn-primary p-1 replace-file">Remplacer</button>
    		<button class="col-4 btn btn-primary p-1 delete-image" data-id="">Supprimer</button>
    		<button class="col-4 btn btn-primary p-1 save-file" data-id="{{media.id}}">Enregister</button> 
        </div>
    </div>
</div> <!-- /#sidebar-wrapper -->
<script type="text/javascript">
    $(document).ready(function() {
        checkboxDropdown('.sidebar-dropdown');
        $('.save-file').click(function(e) {
            e.preventDefault();
            var id             = $(this).attr('data-id');
            var nameFile       = $('#name-file').val();
            var alternativText = $('#alternativ-text').val();
            var title          = $('#title-file').val();
            var description    = $('#description').val();
            var foldersIds     = $('#choose-folder').attr('data-ids');
           $.ajax({
                type: "POST",
                url: '/admin/updateFile',
                data: { id: id, nameFile: nameFile, title: title, alternativText: alternativText, description: description,foldersIds: foldersIds },
                success: function(data) {
                    if (data == "success") {
                        location.reload();
                    }
                }
            });
        });
        $('.delete-image').click(function(e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            var path = $(this).attr("data-path");
            console.log( id);
            if (id) {
                $.ajax({
                    type: "POST",
                    url: path,
                    data: { id: id },
                    success: function(data) {
                        if (data == "success") {
                            $.ajax({
                                type: "POST",
                                url: '/admin/getMedia',
                                success: function(data) {
                                    $('#file-view').html(data);
                                }
                            });
                        }
                    }
                });
            }
        })
    });
</script>