{% extends 'base.html.twig' %}
{% block body %}
    <div class="login">
        <div class="wrapper wrapper-login wrapper-login-full p-0">
            <div class="login-aside w-50 d-flex align-items-center justify-content-center">
                <div class="container">
                    <div class="row">
                        <div class="col-8 offset-md-2">
                            <div class="p-5">
                                <div class="text-black-50">
                                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#"><img width="150px" height="150px" alt="logo" src="{{ asset('img/logo.png')}}"></a>
                                </div>
                                <h1 class="h3 mb-3 font-weight-normal text-gray-700 text-center">Mot de passe oublié</h1>
                                {% for message in app.flashes('danger') %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('warning') %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('notice') %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <form class="user text-center" method="post">
                                    <div class="form-group">
                                        <input type="email" class=" form-control" required name="email" class="form-control" placeholder="MAIL">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user">Envoyer mail</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
