{% extends 'base.html.twig' %}
{% block body %}
<h1>List users </h1>
    {% for user in users %}
        <div>
            <h3> {{ user.username }}</h3>
            <p>{{ user.email }}</p>
            <a href="{{ path('profil_user',{'id' : user.id }) }}">Sow user</a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}