{% extends 'base.html.twig' %}
{% block body %}
<!--<form action="{{ path('login_form')}}" method="post">
    <div class="form-group">
        <input type="text" required name="_username" class="form-control" placeholder="Mail">
    </div>
    <div class="form-group">
        <input type="password" required name="_password" class="form-control" placeholder="Mot de passe">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Connexion</button>
    </div>
</form>
<strong>Pas encore inscrit ? Rentrez vos informations et démarrer cette nouvelle aventure avec nous !</strong>
<a href="{{ path('registration')}}">S'inscrire</a>-->
<div class="login">
    <div class="wrapper wrapper-login wrapper-login-full p-0">
        <div class="login-aside w-50 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-5">
                            <div class="text-black-50">
                                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#"><img width="150px" height="150px" alt="logo" src="{{ asset('img/logo.png')}}"></a>
                            </div>
                            <form class="user text-center" action="{{ path('login_form')}}" method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <input type="email" class=" form-control" required name="_username" class="form-control" placeholder="MAIL">
                                </div>
                                <div class="form-group">
                                    <div class="position-relative">
                                        <input type="password" required name="_password" id="typepass" class="form-control" placeholder="MOT DE PASSE">
                                        <div class="show-password show-pass text-gray-800"> <i class="fas fa-eye"></i> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 form-group text-left">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me">
                                            <label class="custom-control-label" for="remember_me">Se souvenir de moi </label>
                                        </div>
                                    </div>
                                    <div class="col-6 form-group text-right">
                                        <a href="{{ path('app_forgotten_password') }}" class="text-gray-700">Mot de passe oublié? </a>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user"> SE CONNECTER </button>
                                <hr>
                                <p class="msg text-black-50 op-7 text-center">Se connecter avec mon compte :</p>
                                <p class="text-center">
                                    <a href="index.html" class="icone_sociaux"><img src="{{ asset('images/svg/icon_facebook.svg')}}" width="40px" height="40px"></a>
                                    <a href="index.html" class="icone_sociaux"><img src="{{ asset('images/svg/icon_google.svg')}}" width="40px" height="40px"> </a>
                                    <a href="index.html" class="icone_sociaux"><img src="{{ asset('images/svg/icon_in.svg')}}" width="40px" height="40px"> </a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-aside w-50 d-flex flex-column align-items-center justify-content-center bg-gradient-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="title text-white mb-3">Pas encore inscrit ? </h1>
                        <p class="subtitle text-white  text-center">Rentrez vos informations et démarrer cette<br> nouvelle aventure avec nous !</p>
                        <hr>
                        <a href="{{ path('registration') }}" class="btn btn-secondary">S'INSCRIRE</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
