<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Font Awesome JS -->
    <!-- Custom fonts for this template-->
    <link href="{{ asset('css/fontawesome.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script src="{{ asset('js/circle-progress-bar.min.js') }}"></script>
    <link href="{{ asset('css/sb-admin.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/select2.css') }}">
    <link href="{{ asset('css/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />

    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="wrapper no-font">
    <!-- Sidebar Holder -->

    <!-- Page Content Holder -->
    <div id="content">
        <div class="main-content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/select2.js') }}"></script>
<script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('js/Sortable.min.js') }}"></script>
<script src="{{ asset('js/pickr.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-slider.js') }}"></script>
<script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>

<script src="{{ asset('js/builder.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
