{% extends 'baseUser.html.twig' %}
{% block top_title %} TYPES D’UTILISATEURS {% endblock %}
{% block body %}
   <div class="row mr-2">
       <div class="col-12">
           <a class="btn btn-primary float-right p-2" href="{{ path('new_type_step1') }}">Créer un nouveau type d'utilisateur</a>
       </div>
   </div>
    <div class="row row pr-0 mr-0">
        <div class="a-section octopus-pc-category-card-v2-content">
            <ul class="a-unordered-list a-nostyle a-horizontal a-spacing-none">
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/all-user.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">TOUS LES MEMBRES</span>
                                </div>
                              </a>
                              <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                  <a class="link-normal" href="{{ path('users_list') }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/admin.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">ADMINISTRATEURS</span>
                                </div>
                              </a>
                             <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                 <a class="link-normal" href="{{ path('users_list') }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/editors.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">ÉDITEURS</span>
                                </div>
                              </a>
                                <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                  <a class="link-normal" href="{{ path('users_list') }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>

                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/student.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">ÉTUDIANTS</span>
                                </div>
                              </a>
                                <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                  <a class="link-normal" href="{{ path('users_list') }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/formator.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">FORMATEURS </span>
                                </div>
                              </a>
                                <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                 <a class="link-normal" href="{{ path('users_list') }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
                <span class="a-declarative">
                    <li class="octopus-pc-category-card-v2-item" style="width: 220px; border-right-width: 2px;">
                        <span class="a-list-item">
                            <div class="a-section octopus-pc-category-card-v2-item-block">
                              <a class="a-link-normal octopus-pc-category-card-v2-category-link">
                                <div class="a-section a-spacing-none octopus-pc-category-card-v2-category" style="transform: translateZ(0px) scale(1);">
                                  <div class="a-section octopus-pc-category-card-v2-shield"></div>
                                        <img  alt="e-learning" src="{{ asset('images/coach.gif') }}" class="octopus-pc-category-card-v2-image">
                                </div>
                                <div class="a-section octopus-pc-category-card-v2-category-title" style="transform: translateY(0px) translateZ(0px);">
                                  <span class="a-size-medium a-color-base a-text-bold">COACHS</span>
                                </div>
                              </a>
                                 <div class="a-section octopus-pc-category-card-v2-subcategory" style="transform: translateY(0px) translateZ(0px);">
                                 <a class="link-normal" href="{{ path('users_list') }}">Voir les membres</a>
                                  <a class="link-normal" href="">Ajouter des membres</a>
                              </div>
                            </div>
                        </span>
                    </li>
                </span>
            </ul>
        </div>
    </div>
{% endblock %}