{% extends 'baseStudent.html.twig' %}
 {% block top_title %} Notes {% endblock %}
{% block body %}
    <div class="row mb-2 pr-0 mr-0">
        <div class="search col-md-6">
            <img src="{{ asset('images/icons/search.png') }}">
        </div>
        <div class="col-md-6 text-right pr-4">
            <a href="" data-toggle="modal" data-target="#add-voicenote" id="new-voicenote"><img src="{{ asset('images/icons/phonelg.png') }}"> </a>
            <a href="" data-toggle="modal" data-target="#add-note" id="new-note"><img src="{{ asset('images/icons/addnote.png') }}"> </a>
            <a href="#" data-href="" data-toggle="modal" data-target="#add-folder" id="new-folder"><img src="{{ asset('images/icons/addfolder.png') }}"> </a>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row row pr-0 mr-0 mb-4">
        <!-- Earnings (Monthly) Card Example -->

        {% for folder in folders %}
            {% if folders|length > 4 %}
                <div class="col-xl-2 col-md-2 text-gray-600 small-content mt-2">
                {% else %}
                 <div class="col-xl-3 col-md-3 text-gray-600 mt-2">
            {% endif %}
            <div class="full-card h-100 shadow py-2 text-center">
                <div class="card-body p-0">
                    <div class="row no-gutters align-items-center list-btn-note ">
                        <div class="col mr-2">
                            <div class="top-text text-right">
                                <a href=""><img src="{{ asset('images/icons/download-sm.png') }}" width="20px" height="20px"></a>
                                <a href="" class="duplicate-folder" id="duplicate-folder" data-name="{{ folder.name }}" data-path="{{path('duplicate_folder')}}"><img src="{{ asset('images/icons/duplicate-sm.png') }}" width="20px" height="20px"></a>
                                <a href="" data-toggle="modal" data-target="#update-folder" data-name="{{ folder.name }}" data-id="{{ folder.id }}" id="update-name"><img src="{{ asset('images/icons/pensil-sm.png') }}" width="20px" height="20px"></a>
                                <a href="" data-id="{{ folder.id }}" data-path="{{path('delete_folder')}}" id="delete-folder"><img src="{{ asset('images/icons/trash-sm.png') }}" width="20px" height="20px"></a>
                            </div>
                            <div class="align-content-center">
                                <a href="{{ path('show_notes', {'id' : folder.id}) }}">
                                    {% if folders|length > 4 %}
                                    <img src="{{ asset('images/icons/open-folder-xs.png') }}">
                                    {% else %}
                                    <img src="{{ asset('images/icons/open-folder-sm.png') }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="formation-name text-uppercase ">{{ folder.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row row pr-0 mr-0">
        <div class="col-12">
            <div class="full-card shadow py-2">
                <div class=" mb-4">
                    <div class="card-header py-3">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="checkAll">
                            <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                            <div class="btn-action">
                                <button type="button" class="btn btn-download btn-link btn-sm">
                                    <img src="{{ asset('images/icons/download.png') }}" height="45px">
                                </button>
                                <button type="button" class="btn btn-download btn-link btn-sm" id="delete-all-note" data-path="{{ path('delete_notes')}}">
                                    <img src="{{ asset('images/icons/trash-small.png') }}">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tbl-header">
                            <div class="table-responsive">
                                <table class="table table-bordered"  width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th width="5%"></th>
                                        <th class="text-left span" width="35%">Nom de la note</th>
                                        <th class="text-left span" width="20%"> Catégorie</th>
                                        <th class="text-left span" width="20%"> Dossier</th>
                                        <th class="text-left span" width="10%">Date</th>
                                        <th width="10%">&nbsp;</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="tbl-content">
                            <div class="table-responsive custom-table">
                                <table class="table"  width="100%" cellspacing="0">
                                    <tbody>
                                    {% for note in notes %}
                                        {%  if note.studentFolder %}
                                            {% set name = note.studentFolder.name%}
                                        {% else %}
                                            {% set name = ""%}
                                        {% endif %}
                                    <tr>
                                        <td width="5%"><div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input check-element" id="Check_{{ note.id }}" name="note-check" value="{{ note.id }}">
                                                <label class="custom-control-label" for="Check_{{ note.id }}"></label>
                                            </div></td>
                                        <td class="text-left" width="35%">{{ note.title }}</td>
                                        <td class="text-left" width="20%"> </td>
                                        <td class="text-left" width="20%"> {{ name }}</td>
                                        <td class="text-left" width="10%">{{ note.createdAt |date("d M, Y")}}</td>
                                        <td class="td-actions text-right" width="10%">
                                            <a href="{{ path('duplicate_note',{'id': note.id}) }}" rel="tooltip" title="Dupliquer la note" class="btn btn-vu btn-link btn-sm">  <img src="{{ asset('images/icons/duplicate-xs.png') }}"></a>
                                            <a href="#" rel="tooltip" title="Edit Task" class="btn btn-vu btn-link btn-sm"> <img src="{{ asset('images/icons/download-xs.png') }}" width="20px" height="20px"> </a>
                                            <a href="{{ path('update_note',{'id': note.id}) }}" rel="tooltip" title="Modifier note" class="btn btn-vu btn-link btn-sm">  <img src="{{ asset('images/icons/pensil-xs.png') }}"></a>
                                            <a href="{{ path('delete_note',{'id': note.id}) }}" rel="tooltip" title="Supprimer note" class="btn btn-vu btn-link btn-sm"> <img src=" {{ asset('images/icons/trash-xs.png') }}"></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- modal create folder note -->
    <div class="modal fade" id="add-folder" tabindex="-1" role="dialog" aria-labelledby="add-folder" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un nouveau dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="folder_name" placeholder="Tapez le nom de dossier">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-primary" id="save-folder" data-path="{{path('add_folder_note')}}">Valider</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal create folder note -->
    <!-- modal update folder note -->
    <div class="modal fade" id="update-folder" tabindex="-1" role="dialog" aria-labelledby="update-folder" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modifier le nom du dossier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="folder_name" placeholder="Tapez le nom de dossier" value="">
                    <input type="hidden" id="idfolder">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-primary" id="update-folderName" data-path="{{path('update_folder')}}">Modifier</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal update folder note -->

    <!-- modal create  note -->
    <div class="modal fade" id="add-note" tabindex="-1" role="dialog" aria-labelledby="add-note" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un nouveau note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formNote) }}
                        {{ form_widget(formNote.title,{'attr':{'placeholder':'Ajouter titre de la note','class':"form-control mb-3"}}) }}
                         {{ form_widget(formNote.studentFolder,{'attr':{'class':"form-control mb-3"}}) }}
                        <!--<select id="form_studentFolder" name="form[studentFolder]" placeholder="Choisir la catégorie" class="form-control mb-3">
                            <option value="">Nom du dossier</option>
                            {% for folder in folders %}
                                <option value="{{ folder.id }}">{{ folder.name }}</option>
                            {% endfor %}
                        </select>-->
                        {{ form_widget(formNote.value,{'attr':{'placeholder':'','class':"form-group ckeditor"}}) }}
                        <div class="row mt-2">
                            <div class="col-6"></div>
                            <div class="col-6"><button type="submit" class="btn btn-primary pr-0 pl-0">Ajouter une note</button></div>
                        </div>
                    {{ form_end(formNote) }}
                </div>
            </div>
        </div>
    </div>
    <!-- end modal create  note -->

    <!-- modal create  audio note -->
    <div class="modal fade" id="add-voicenote" tabindex="-1" role="dialog" aria-labelledby="add-voicenote" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un nouveau note vocale</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input type="text" name="voicenote" id="voicenote" class="form-control" placeholder="Titre de la note">
                    </form>
                    <div class="row mt-2">
                        <div class="col-4"><button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button></div>
                        <div class="col-8 text-right"><button type="submit" class="btn btn-primary pr-2 pl-2">Ajouter une note</button></div>
                    </div>
                    {{ form_end(formNote) }}
                </div>
            </div>
        </div>
    </div>
    <!-- end modal create audio note -->
{% endblock %}