{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('student_note') }}" class="text-uppercase">Notes </a>{% endblock %}
{% block body %}
    <div class="row row pr-0 mr-0">
    <div class="col-12">
        <div class="full-card shadow py-2">
            <div class=" mb-4">
                <div class="card-header py-3">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="checkAll">
                        <label class="custom-control-label" for="checkAll">Tout Sélectionner </label>
                        <div class="btn-action">
                            <button type="button" class="btn btn-download btn-link btn-sm">
                                <img src="{{ asset('images/icons/download.png') }}" height="30px">
                            </button>
                            <button type="button" class="btn btn-download btn-link btn-sm">
                                <img src="{{ asset('images/icons/trash-small.png') }}">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tbl-header">
                        <div class="table-responsive">
                            <table class="table" id="" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th width="10%"></th>
                                    <th class="text-left span" width="40%">Nom de la note</th>
                                    <th class="text-left span" width="20%"> Catégorie</th>
                                    <th class="text-left span" width="10%">Date</th>
                                    <th width="20%">&nbsp;</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="tbl-content">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                <tbody>
                                {% for note in notes %}
                                    {%  if note.studentFolder %}
                                        {% set name = note.studentFolder.name%}
                                    {% else %}
                                        {% set name = ""%}
                                    {% endif %}
                                    <tr>
                                        <td width="10%"><div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input check-element" id="Check_{{ note.id }}">
                                                <label class="custom-control-label" for="Check_{{ note.id }}"></label>
                                            </div></td>
                                        <td class="text-left" width="40%">{{ note.title }}</td>
                                        <td class="text-left" width="20%"> {{ name }}</td>
                                        <td class="text-left" width="10%">{{ note.createdAt |date("m/d/Y")}}</td>
                                        <td class="td-actions text-right" width="20%">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-download btn-link btn-sm"> <img src="{{ asset('images/icons/download-xs.png') }}" width="20px" height="20px"> </button>
                                            <a href="{{ path('update_note',{'id': note.id}) }}" rel="tooltip" title="Modifier note" class="btn btn-vu btn-link btn-sm">  <img src="{{ asset('images/icons/pensil-xs.png') }}"></a>
                                            <a href="{{ path('delete_note',{'id': note.id}) }}" rel="tooltip" title="Supprimer note" class="btn btn-vu btn-link btn-sm"> <img src=" {{ asset('images/icons/trash-xs.png') }}"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}