{% extends 'baseStudent.html.twig' %}
{% block top_title %} <a href="{{ path('student_note') }}" class="text-uppercase">Notes</a> {% endblock %}
{% block body %}
    <div class="row row pr-0 mr-0">
        <div class="col-12">
            <div class="full-card shadow py-2">
                <div class="mb-4">
                    <div class="card-body">
                        {{ form_start(formNote) }}
                            {{ form_widget(formNote.title,{'attr':{'placeholder':'Titre de la note','class':"form-control mb-3"}}) }}
                            {{ form_widget(formNote.value,{'attr':{'placeholder':'','class':"form-group ckeditor"}}) }}
                            <div class="row mt-4">
                                <div class="col-6">
                                    <a href=""><img src="{{ asset('images/icons/imprimer.png') }}"></a>
                                    <a href=""><img src="{{ asset('images/icons/download.png') }}"></a>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="reset" class="btn btn-primary pr-0 pl-0 col-3">Réinitialiser</button>
                                    <button type="submit" class="btn btn-primary pr-0 pl-0 col-3">Enregistrer</button>
                                </div>
                            </div>
                        {{ form_end(formNote) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}